.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -60px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }
span.cost-type { font-size: 12px; font-weight: 500; text-transform: capitalize; color: #666; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { padding: 0; margin: 0 0 5px 0; font-size: 16px; font-weight: 500; color: #222222; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.show_before_time { clear: both; padding: 0 0 15px 0; }
.show_response_time_div { clear: both; padding: 0 0 15px 0; font-size: 12px; color: #666; }

/*  b2b Match Making  */

.b2b-mm-root{ padding: 0; }

.b2b_card_row{ padding: 0; }
.b2b_card_row .grid_card_box{ padding: 0 15px 15px 0;margin: 0; min-height: 100%; }
.b2b_card_row .grid_card_box .b2b_heading_div{ padding: 0;margin: 0;border: 1px solid #F6F7FB;background-color: #fff;min-height: 100%; }
.b2b_card_row .grid_card_box .b2b_heading_div .top_desciption_div{ padding: 0;margin: 0;position: relative; }
.b2b_card_row .grid_card_box .b2b_heading_div .top_desciption_div .link_heading_desc { padding: 20px 15px; margin: 0; width: 100%; clear: both; display: block; color: #222222; font-weight: 400; font-size: 20px;border-bottom: 1px solid #F6F7FB; }
.b2b_card_row .grid_card_box .b2b_heading_div .top_desciption_div .more-verticle-div { top: 15px; }

.b2b-mm-root .b2b_body_div{ padding: 15px 15px;margin: 0;background-color: #fff; }
.b2b-mm-root .b2b_body_div .row_line { padding: 0; margin: 0 0 5px 0; font-size: 16px; display: flex; align-items: flex-start; }
.b2b-mm-root .b2b_body_div .row_line .title_txt_col { padding: 0; margin: 0; color: #666666; width: 30%; display: inline-block;float: left;line-height: 24px; }
.b2b-mm-root .b2b_body_div .row_line .desc_txt_col{ padding: 0;margin: 0;color: #222222;font-weight: 500;width: 70%; display: inline-block;float: left;line-height: 24px; }

.b2b-mm-root .b2b_bottom_div{ padding: 10px 15px; margin: 0; width: 100%; clear: both; display: block; color: #222222; font-weight: 400; font-size: 20px;border-top: 1px solid #F6F7FB; }
.b2b-mm-root .b2b_bottom_div .left_div{ padding: 0;margin: 0;display:inline-block;float: left;  }
.b2b-mm-root .b2b_bottom_div .left_div .view_details{  padding: 8px 35px; }
.b2b-mm-root .b2b_bottom_div .right_div{ padding: 0;margin: 0;display:inline-block;float: right; }
.b2b-mm-root .b2b_bottom_div .right_div span.last-time-span { font-size: 14px; color: #666666; display: inline-block; padding: 12px 0 11px 0; }

.form-group.ps-relative{ position: relative; }

.modal.right_custom span.charactor-count { position: absolute; right: 0; font-size: 12px; font-weight: 400; color: #666;top: 0; }

.top-dropdown{ padding: 0;margin: 0; }
.top-dropdown .dropdown-menu{ border: none;  border-radius: 4px; box-shadow: 0 0 5px 0 #00000026; }
.top-dropdown .dropdown-item {   padding: 10px 25px 10px 15px;  color: #666666;font-size: 14px; }
.top-dropdown .dropdown-item.active, .top-dropdown .dropdown-item:active { background-color: #0089E8;color: #ffffff !important; }
.top-dropdown .dropdown-toggle::after{ display: none; }


/* End of b2b Match Making  */

/*  b2b Match Making proposal details  */

.b2b_details_div .grid_card_box .b2b_desc_info_div{ position: relative;padding: 12px 20px 12px 20px; }
.b2b_desc_info_div .b2b_body_div{ padding: 15px 0px;margin: 0;background-color: #fff; }
.b2b_desc_info_div .b2b_body_div .row_line { padding: 0; margin: 0 0 5px 0; font-size: 16px; display: flex; align-items: flex-start; }
.b2b_desc_info_div .b2b_body_div .row_line .title_txt_col { padding: 0; margin: 0; color: #666666; width: 20%; display: inline-block;float: left;line-height: 24px; }
.b2b_desc_info_div .b2b_body_div .row_line .desc_txt_col{ padding: 0;margin: 0;color: #222222;font-weight: 400;width: 80%; display: inline-block;float: left;line-height: 24px; }
.grid_card_box .top_heading_div .b2b_desc_info_div .b2b_body_div p{ padding: 0;margin: 0;color: #222222;font-size:16px;font-weight: 400;line-height: 24px; }




.b2b_details_div{ padding: 0; }
.b2b_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.b2b_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.b2b_details_div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }
.b2b_details_div .middle_area_div{ padding: 15px 20px 0px 20px; }

.b2b_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 20px 20px 20px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; }
.b2b_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 0; margin: 0 0 0px 0; font-size: 18px; font-weight: 400; color: #666666; }
.b2b_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 6px 0; font-size: 20px; font-weight: 500; color: #222222; }
.b2b_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666;  }
.b2b_details_div .btn-container-div{ padding: 0; margin: 0; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.b2b_details_div .grid_card_box .capsule_div_row .capsule_skill { background-color: #F6F7FB; padding: 5px 15px; border-radius: 3px; color: #666666; font-size: 13px; display: inline-block; margin: 0 6px 6px 0; float: left; }
.b2b_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 10px 0 15px 0; text-align: right; }
.b2b_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 15px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }

.b2b_details_div .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.b2b_details_div .pt_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }

.b2b_details_div .readmore_btn{ font-size: 16px;padding: 5px 0 !important; }

.b2b_details_div .user_b2b_profile_div{ padding: 15px 15px 20px 15px; margin: 0; float: left; width: 100%;  } 
.b2b_details_div .user_b2b_profile_div .img_thumb_div { padding: 0; margin: 0; width: 76px; height: 76px; float: left; max-width: 15%; position: relative; }
.b2b_details_div .user_b2b_profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.b2b_details_div .user_b2b_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 0px; right: 0px; border-radius: 100%; border: 5px solid #fff; }

.b2b_details_div .user_b2b_profile_div .user-content-details-div { padding: 0px 0 0 20px; margin: 0; float: left; display: flex; justify-content: center; flex-direction: column; width: 90%;position: relative; }
.b2b_details_div .user_b2b_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }
.b2b_details_div .user_b2b_profile_div .user-content-details-div h4 { padding: 0; margin: 0 0 0px 0; font-size: 14px; font-weight: 400; color: #666666; width: 80%; }
.b2b_details_div .user_b2b_profile_div .contact_row { padding: 10px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; display: flex; align-items: center; }
.b2b_details_div .user_b2b_profile_div .contact_row .contact_col { display: flex;align-items: center; float: left; padding: 4px 25px 4px 25px; border-left: 1px solid #E5E5E5; }
.b2b_details_div .user_b2b_profile_div .contact_row .contact_link { padding: 0px 0px 0 10px; margin: 0; font-size: 12px; color: #666; font-weight: 400; }
.b2b_details_div .user_b2b_profile_div .contact_row .contact_col:first-child { padding: 5px 25px 5px 0px; border-left: 0px solid #E5E5E5;display: flex; align-items: center; }

.b2b_details_div .user_b2b_profile_div .contact_row .contact_col .material-icons.post_icons { font-size: 18px; }
.b2b_details_div span.activity_span { font-size: 12px; font-weight: 500; color: #57D48F; position: absolute; right: 0; top: 75px; }

.b2b_details_div .reply_box_div{ padding: 0 20px;margin: 0; }
.b2b_details_div .reply_box_div .textarea-div{ padding: 0;margin: 0; }
.b2b_details_div .reply_box_div .textarea-div .textarea_custom { background-color: #FAFAFA; border: none; resize: none; border-radius: 4px;width: 100%;padding: 15px;font-size: 14px; color: #666;line-height: 24px; }
.b2b_details_div .reply_box_div .textarea-div .textarea_custom:focus { outline: none; }
.b2b_details_div .reply_box_div .textarea-div .attachment_div{ padding: 0;margin: 0; }
.b2b_details_div .footer_bottom_div { padding: 0 20px 0 0; margin: 0; }

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.oneline_show { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.b2b-mm-root .tab-featured1{ position: relative; }
.b2b-mm-root .top-right-div.top-right-absolute-div { position: absolute; right: 0; top: -60px; }
.b2b-mm-root .top-right-div .form-control{ padding: 6px 10px; }
.b2b-mm-root .top-right-div .form-control.float-right { min-width: 200px;border: 1px solid #E5E5E5; }
.b2b-mm-root .top-right-div .form-control.float-right option:checked{ background-color: #0089E8;color: #fff; }
.b2b-mm-root .top-right-div .form-control:focus{ box-shadow: none; }

.b2b_desc_info_div .b2b_body_div .btn-row-line { padding: 0; justify-content: flex-end; }

/* add btn css */


.b2b_desc_info_div .btn-block-custom.btn-round.btn-delete { background-color: #FF5A4E; color: #fff; border: 1px solid #FF5A4E; padding: 8px 40px; }
.b2b_desc_info_div .btn-block-custom.btn-round.btn-delete:hover { background-color: #d14e44; border: 1px solid #d14e44; }

.b2b_desc_info_div .btn-block-custom.btn-round.btn-edit { background-color: #4886ff; color: #fff; border: 1px solid #4886ff; padding: 8px 40px; }
.b2b_desc_info_div .btn-block-custom.btn-round.btn-edit:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.b2b_desc_info_div .btn-block-custom.btn-round.left-btn{ min-width: auto; padding: 10px 0; float: left; }


/* end of b2b details */

/* deal & offers */

.match-making-tag { position: absolute; top: -2px; right: 10px; background-color: #F8A86B; color: #fff; font-size: 14px; border-radius: 0 0 3px 3px; padding: 9px 14px; letter-spacing: -0.1px; font-weight: 500; }
.info_group_txt_div01{ padding: 0;margin: 0;position: relative; }
.info_group_txt_div01 .row_info01{ padding: 10px 0 0 0;margin: 0;font-size: 16px; }
.info_group_txt_div01 .row_info01 .p_title { padding: 0; margin: 0; width: 25%; float: left; display: inline-block; color: #222; font-weight: 500; }
.info_group_txt_div01 .row_info01 .p_desc { padding: 0; margin: 0; width: 75%; float: left; display: inline-block; color: #666666; }

/* End of deal & offers */


/*  end of b2b Match Making proposal details  */



/* added by aakhil */

.heading-title-div { margin: 0 0 25px 0;}
.match-making-tag {font-weight: 700 !important; font-size: 16px;}
.tag_label::after { border-bottom: 3px solid #F8A86B;}

.b2b_details_div span.activity_span {font-weight: 600;}




@media only screen and (max-width: 767px){

    .b2b_card_row .grid_card_box{ padding: 0 0px 15px 0;margin: 0; min-height: 100%; }
    .modal.right_custom .modal-title span.title_txt_span { line-height: 36px;font-size: 20px; }
    .b2b-mm-root .b2b_body_div .row_line { display: block;margin: 0 0 15px 0;clear: both; }
    .b2b-mm-root .b2b_body_div .row_line .title_txt_col{ width: 100%; }
    .b2b-mm-root .b2b_body_div .row_line .desc_txt_col{ width: 100%; }

    /* b2b details */

    .b2b_desc_info_div .b2b_body_div .row_line { display: block;margin: 0 0 15px 0;clear: both; }
    .b2b_desc_info_div .b2b_body_div .row_line .title_txt_col{ width: 100%; }
    .b2b_desc_info_div .b2b_body_div .row_line .desc_txt_col{ width: 100%; }
    .grid_card_box .top_heading_div .b2b_desc_info_div .b2b_body_div p{ font-size: 14px; line-height: 21px; }
    .b2b_desc_info_div .b2b_body_div .row_line{ font-size: 14px; line-height: 21px; }

    /* end of b2b details */

    /* b2b inner details */

    .b2b_details_div .grid_card_box .btn_group_row.btn_group_deal_row{ text-align: center; }
    .b2b_details_div .grid_card_box .btn_group_deal_row .btn.edit-btn, .b2b_details_div .grid_card_box .btn_group_deal_row .btn-block-custom.btn-round { margin: 0 0 10px 0;width: 100%; }

    .b2b_details_div .user_b2b_profile_div .img_thumb_div { padding: 0; margin: 0 0 15px 0; width: 76px; height: 76px; float: left; max-width: 100%; position: relative; }
    .b2b_details_div .user_b2b_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; width: 100%; }
    .b2b_details_div .user_b2b_profile_div .contact_row { display: block; }
    .b2b_details_div span.activity_span { position: relative; right: auto; top: auto; padding: 10px 0; }
    .b2b_details_div .user_b2b_profile_div .contact_row .contact_col { padding: 4px 25px 4px 0px; border-left: 0px solid #E5E5E5; }
    .b2b_details_div .user_b2b_profile_div .user-content-details-div h4{ width: 100%; }
    .b2b_details_div .footer_bottom_div { padding: 0 20px 0 20px; }
    .match-making-tag { font-size: 12px; padding: 8px 10px; }   
    .b2b_details_div .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4{ font-size: 18px; line-height: 25px;}

    .b2b-mm-root .top-right-div.top-right-absolute-div { position: relative; right: 0; top: auto; margin: 0 0 10px 0 !important; }

    .b2b_desc_info_div .b2b_body_div .row_line{  }
    .b2b_desc_info_div .btn-block-custom.btn-round.btn-delete{ width: 100%;margin-bottom: 10px; }
    .b2b_desc_info_div .btn-block-custom.btn-round.btn-edit{ width: 100%; }

    .match-making-tag {font-weight: 600 !important; font-size: 13px;}

    /* end of b2b details */

    /* added By aakhil  */
    .b2b_details_div .grid_card_box .top_heading_div .user_profile_div {padding: 20px; }
    .b2b_desc_info_div .b2b_body_div .row_line .title_txt_col {font-size: 16px; font-weight: 500;}
    .b2b_desc_info_div .b2b_body_div .row_line .desc_txt_col {font-size: 16px; font-weight: 400;}
    .grid_card_box .top_heading_div .b2b_desc_info_div .b2b_body_div p {font-size: 16px; font-weight: 400;}


    

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .b2b_card_row .grid_card_box{ padding: 0 0px 15px 0;margin: 0; min-height: 100%;width: 100%; }
    .btn-right.request-btn { padding: 8px 20px; }
    .top-dropdown .dropdown-item { padding: 10px 10px 10px 15px; }
    
     /* b2b details */

     .b2b_desc_info_div .b2b_body_div .row_line { display: block;margin: 0 0 15px 0;clear: both; }
     .b2b_desc_info_div .b2b_body_div .row_line .title_txt_col{ width: 100%; }
     .b2b_desc_info_div .b2b_body_div .row_line .desc_txt_col{ width: 100%; }
     .b2b_desc_info_div .b2b_body_div .row_line{ font-size: 14px; line-height: 21px; }
     .grid_card_box .top_heading_div .b2b_desc_info_div .b2b_body_div p{ font-size: 14px;    line-height: 21px; }

     /* end of b2b details */

      /* b2b inner details */

  
    .b2b_details_div .user_b2b_profile_div .img_thumb_div { padding: 0; margin: 0 0 15px 0; width: 76px; height: 76px; float: left; max-width: 100%; position: relative; }
    .b2b_details_div .user_b2b_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; width: 100%; }
    .b2b_details_div .user_b2b_profile_div .contact_row { display: block; }
    .b2b_details_div span.activity_span { position: relative; right: auto; top: auto; padding: 10px 0; }
    .b2b_details_div .user_b2b_profile_div .contact_row .contact_col { padding: 4px 25px 4px 0px; border-left: 0px solid #E5E5E5;width: 100%; }
    .b2b_details_div .user_b2b_profile_div .user-content-details-div h4{ width: 100%; }
    .b2b_details_div .footer_bottom_div { padding: 0 20px 0 20px; }

    .match-making-tag { font-size: 12px; padding: 8px 10px; }   
    .b2b_details_div .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4{ font-size: 18px; }
    .b2b_details_div .grid_card_box .btn_group_row .btn.btn-right {  padding: 10px 20px; font-size: 12px; }

    .b2b-mm-root .top-right-div .form-control.float-right { min-width: 150px; font-size: 14px; }

    /* end of b2b details */

    /* added by aakhil */

    .b2b-mm-root .b2b_body_div .row_line .title_txt_col {width: 20%;}

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}   

