.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -73px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }

/* New added css */

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div {height: 60px; width: 60px;max-width:18%; }
.grid_card_box {width: 50%;}

.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600;position: relative; width: 100%; padding-right: 65px;    display: flex; align-items: center; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.budges-span {font-size: 14px; font-weight: 500;}
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 80%; min-width: 55%; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div p { font-size: 16px; color: #666666;line-height: 20px; }

.grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 82%; min-height: 60px; }
.labeltime {color: #66666680; font-size: 14px; font-weight: 500; line-height: 24px;text-transform: uppercase;position: absolute; right: 0; top: 0; }

.btn-div-row { padding: 0; margin: 0; display: flex; width: 100%; display: block; clear: both; text-align: right; }
.btn-div-row .link-remove { font-size: 14px; font-weight: 500; color: #FF5A4E;padding: 7px 0; }
.btn-div-row .link-remove:hover { color: #d14e44; }
.btn-div-row .btn-message { background-color: #0089E8; color: #fff; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; }
.btn-div-row .btn-message:hover { background-color: #0053C4; }
.btn-div-row .btn-refer {background-color: #F4F4F4; color: #666666; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; margin-right: 8px;}
.btn-div-row .btn-refer:hover { background-color: #DDDDDD; }

.btn-div-row .left-align{ float: left; }

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status {bottom: 5px !important; top: auto; }
.tab-featured1 .grid_card_box {min-height: auto;}

.post_tab .grid_card_box {min-height: auto;}
.tab-pane.post_tab .grid_card_box .top_heading_div .skill_desciption_div {padding-top: 10px;}


/**  Post Modal  *********/

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 50px; height: 50px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666;    line-height: 24px; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }  

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/**  End of Post Modal  *********/

.grid_card_box .top_heading_div .skill_desciption_div { padding: 10px 0 10px 0; }
.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0;}

/*********************************/
/** connection details  **/

/*  b2b Match Making proposal details  */

.inner_details_div .grid_card_box .fc_desc_info_div{ position: relative;padding: 12px 20px 12px 20px; }
.fc_desc_info_div .b2b_body_div{ padding: 15px 0px;margin: 0;background-color: #fff; }
.fc_desc_info_div .b2b_body_div .row_line { padding: 0; margin: 0 0 5px 0; font-size: 16px; display: flex; align-items: flex-start; }
.fc_desc_info_div .b2b_body_div .row_line .title_txt_col { padding: 0; margin: 0; color: #666666; width: 20%; display: inline-block;float: left;line-height: 24px; }
.fc_desc_info_div .b2b_body_div .row_line .desc_txt_col{ padding: 0;margin: 0;color: #222222;font-weight: 500;width: 80%; display: inline-block;float: left;line-height: 24px; }
.grid_card_box .top_heading_div .fc_desc_info_div .b2b_body_div p{ padding: 0;margin: 0;color: #222222;font-size:16px;font-weight: 500;line-height: 24px; }

.inner_details_div{ padding: 0; }
.inner_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.inner_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.inner_details_div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }

.inner_details_div .grid_card_box .top_heading_div.fc-borderbottom{  }

.inner_details_div .middle_area_div{ padding: 15px 20px 0px 20px; }

.inner_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 6px 0; font-size: 20px; font-weight: 500; color: #222222; }
.inner_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666;  }
.inner_details_div .btn-container-div{ padding: 0; margin: 0; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.inner_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 10px 0 15px 0; text-align: right; }
.inner_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 15px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }

.inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }

.inner_details_div .readmore_btn{ font-size: 16px;padding: 5px 0 !important; }

.inner_details_div .reply_box_div{ padding: 20px 20px;margin: 0;clear: both; }
.inner_details_div .reply_box_div .textarea-div{ padding: 0;margin: 0; }
.inner_details_div .reply_box_div .textarea-div .textarea_custom { background-color: #FAFAFA; border: none; resize: none; border-radius: 4px;width: 100%;padding: 15px;font-size: 14px; color: #666;line-height: 24px; }
.inner_details_div .reply_box_div .textarea-div .textarea_custom:focus { outline: none; }
.inner_details_div .reply_box_div .textarea-div .attachment_div{ padding: 0;margin: 0; }
.inner_details_div .footer_bottom_div { padding: 0 20px 0 0; margin: 0; }

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.oneline_show { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/**  Fan Club Details  ****/

.inner_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB;position: relative; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 5px; right: 5px; border-radius: 100%; border: 5px solid #fff; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 20px; margin: 0; float: left; min-height: 118px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }

.inner_details_div .user-content-details-div .member_details_row { padding:0px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; display: flex; align-items: center; }
.inner_details_div .user-content-details-div .member_details_row .contact_col:first-child { padding: 5px 25px 5px 0px; border-left: 0px solid #E5E5E5; display: flex; align-items: center; float: left; }
.inner_details_div .user-content-details-div .member_details_row .contact_col { display: flex; align-items: center; float: left; padding: 4px 25px 4px 25px; border-left: 1px solid #E5E5E5; }
.inner_details_div .user-content-details-div .member_details_row .contact_link { padding: 0px 0px 0 10px; margin: 0; font-size: 12px; color: #666; font-weight: 500; }

.inner_details_div .group-detail-btn-grp { clear: both; position: absolute; right: 15px; bottom: 20px; }
.inner_details_div .group-detail-btn-grp .btn-block-custom.btn-round.btn-sendcard { padding: 6px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px;color: #666; }
.inner_details_div .group-detail-btn-grp .btn-block-custom.btn-round.btn-message { padding: 6px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px; }

.sorting-div { padding: 0; margin: 0 -15px 15px -15px; display: flex; align-items: center; justify-content: flex-end; }
.sorting-div .sorting-form { border: 1px solid #F6F7FB; width: 150px; display: inline-block; }
.sorting-div .sorting-form:focus { box-shadow: none; }
.sorting-div .sorting-txt { display: inline-block; margin: 0; padding: 0 10px 0 0; font-size: 14px; font-weight: 400; color: #666; text-transform: capitalize; }


/**  Fan Club Details  ****/

.dataget-div { margin-top: 15px; padding-top: 15px; border-top: 1px solid #F6F7FB; }

/* add home css */

.feed-div .user-details-1 { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.feed-div .user-details-1 h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.feed-div .feed-owner-detailp-div{ padding: 5px 0 0 0; }
.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }
.post-view-02 { padding: 0 0 5px 0; }
.feed-div .post-view-02 > p { padding: 5px 0; margin: 0; float: right; display: flex; align-items: center; }

.feed-home-tab{ background-color: transparent !important; }
.repeat_feed_div{ margin: 0 -15px 15px -15px !important;  padding: 15px 20px; clear: both;background-color: #fff; }

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 65px; height: 65px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

/* end of home css  */

/*  connection details start  **/

.connection_top{ padding: 0;margin: 0; }
.connect_details{ padding: 0;margin: 0; }
.custom-tab-content{ padding: 0;margin: 0; }

.cover_root_div{ padding: 0;margin: 0; }
.cover_root_div .cover_banner_div{ padding: 0;margin: 0;position: relative; border-radius: 4px;}
.cover_root_div .cover_banner_div .banner_thumb{ padding: 0;margin: 0;position: relative;border-radius: 4px; }
.cover_root_div .cover_banner_div .banner_thumb::after{ content:"";display: block;width: 100%;position: absolute;height: 100%;  background-image: linear-gradient(transparent, #00000033);    top: 0;border-radius: 4px;
}
.cover_root_div .cover_banner_div .banner_thumb .cover_img{ padding: 0;margin: 0; width: 100%;border-radius: 4px; }

.cover_root_div .user_details_cover{ padding: 0;margin: 0;background-color: #fff; }
.user_details_cover .user_row{ padding: 0;margin: 0; }

.user_details_cover .user_row .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB;position: relative; }
.user_details_cover .user_row .user_profile_div .img_thumb_div { padding: 0; margin: -25px 0 0 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.user_details_cover .user_row .user_profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.user_details_cover .user_row .user_profile_div .user-content-details-div {     padding: 0px 0 0 20px; margin: 0; float: left; min-height: 96px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.user_details_cover .user_row .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }

.user_details_cover a.link-member-status { color: #57D48F; font-size: 12px; font-weight: 500;line-height: 17px; }
.user_details_cover .cname{ padding: 5px 0;margin: 0;display: block; color: #666666; font-size: 12px; font-weight: 500;line-height: 17px; }

.user_details_cover .contact_row{ padding: 10px 15px;margin: 0; background-color: #FAFAFA;border: 1px solid #F6F7FB; }
.user_details_cover .contact_row .contact_col { display: flex; align-items: flex-start; float: left; padding: 4px 15px 4px 15px; border-left: 1px solid #E5E5E5; }
.user_details_cover .contact_row .contact_col:first-child { padding: 4px 15px 4px 0px; border-left: 0px solid #E5E5E5; display: flex; align-items: center; float: left; }
.user_details_cover .contact_row .title_span { padding: 0px 0px 0 0px; margin: 0; font-size: 12px; color: #666; font-weight: 500;line-height: 14px; }
.user_details_cover .contact_row .contact_link { padding: 0px 0px 0 10px; margin: 0; font-size: 12px; color: #666; font-weight: 500;line-height: 14px; }

/* Update 24/5/2019 */

/* .grid_card_box .top_heading_div .btn{ line-height: 18px !important; } */

a.link_user { clear: both; width: 100%; height: 100%; display: block; }

.user_details_cover .con_details_row{ background-color: #fff; }
.user_details_cover .con_details_row .details_row{ padding: 10px 15px;margin: 0;border: 1px solid #F6F7FB; }
.user_details_cover .con_details_row .details_row .details_col { float: left; padding: 4px 15px 4px 15px; width: 22%;  }
.user_details_cover .con_details_row .details_row .details_col:first-child { padding: 4px 15px 4px 0px;  }
.user_details_cover .con_details_row .details_row .details_col:last-child { width: 34%; }
.user_details_cover .con_details_row .details_row .number_txt {  padding: 0px 0px 5px 0px;  margin: 0;  font-size: 16px;  color: #222;  font-weight: 600;  display: block; }

.desciption_div{ padding: 0;margin: 0; }
.desciption_div .desc_txt_div{ padding: 20px 15px;margin: 0; }
.desciption_div .desc_txt_div h5 { font-size: 16px; }
.desciption_div .desc_txt_div p { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 400; color: #666666; line-height: 23px; letter-spacing: -0.1px; }


.dataget-div2 { margin: 0; padding-top: 0; }

.width-175hidden { max-width: 175px; word-break: break-all;display:inline-block; }
.width-165hidden { max-width: 165px; word-break: break-all;display:inline-block; }
.width-100hidden { max-width: 100px; word-break: break-all;display:inline-block; }

/* End of Update 24/5/2019 */

/**  end of connection details  **/


@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; padding: 15px 0 0 0; }
    .btn-div-row .btn-message {padding: 8px 15px;}
    .btn-div-row .btn-refer {padding: 8px 15px;}
    .filter_card_div.filter_card02_div .filter-txt-btn {  top: -83px;font-size: 16px; }



    .btn-div-row { padding: 0; }
    .btn-div-row .link-remove { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-message { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-refer { width: 100%;margin: 0 0 10px 0; }
    
     /**  Fan Club Details  ****/

     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%; }
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; min-height: 100%; width: 100%;}
 
     .fc_desc_info_div .b2b_body_div .row_line { margin: 0 0 15px 0; display: block; }
     .fc_desc_info_div .b2b_body_div .row_line .title_txt_col { width: 100%; }
     .fc_desc_info_div .b2b_body_div .row_line .desc_txt_col { width: 100%; }
 
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 0 0 0px 0; width: 100%; }
     .inner_details_div .user-content-details-div .member_details_row { margin: 0 0 5px 0; display: flex; width: 100%; align-items: center; justify-content: center; width: 100%; flex-direction: column;}
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 20px 0 0px 0; width: 100%; }
     .inner_details_div .user-content-details-div .member_details_row .contact_col { padding: 10px 25px 10px 0px; border-left: 0px solid #E5E5E5; }
     .inner_details_div .group-detail-btn-grp { position: relative; right: auto; bottom: auto; margin: 10px 0 0 0; display: block; }
 
     .inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; display: flex; align-items: center; flex-direction: column; }
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 20px 0 0px 0; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
     
     /** End of Fan Club Details  ****/
 
     /*  home css  */
 
     .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
     .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
     .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
     .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
     .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
     .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
 
     .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
     
     .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 0 5px 0; }
     .send-post-div .share-post { height: 125px; }
 
     .btn-icon span {display: none;}
     .send-post-div .icon1 {margin-right: 0;}
     .send-post-div .footer-input-box {padding: 15px;}
 
 
     .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
     .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
     .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0;}
     .comment_desc_box {padding: 15px 20px;}
     .comment_desc_box h4 {line-height: 16px;}
     .reply-row .user-span-round {margin-top: 8px !important;}
 
     /* end of css  **/

    /* Update 24/5/2019 */

    .user_details_cover .user_row .user_profile_div .img_thumb_div { max-width: 100%; }
    .user_details_cover .user_row .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 20px 0 20px 0; width: 100%; }
    .user_details_cover .contact_row .contact_col { padding: 10px 25px 10px 0px; border-left: 0px solid #E5E5E5; }
    .user_details_cover .con_details_row .details_row .details_col{ width: 100%;padding: 10px 25px 10px 0px;  }
    .user_details_cover .con_details_row .details_row .details_col:last-child{ width: 100%;padding: 10px 25px 10px 0px;  }

    /* End of Update 24/5/2019 */

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 85%;}
    .filter_card_div.filter_card02_div .filter-txt-btn {top: -75px;}

     /*  home css  */
 
     .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
     .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
     .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
     .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
     .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
     .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
 
     .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
     
     .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 0 5px 0; }
     .send-post-div .share-post { height: 125px; }
 
     .btn-icon span {display: none;}
     .send-post-div .icon1 {margin-right: 0;}
     .send-post-div .footer-input-box {padding: 15px;}
 
 
     .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
     .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
     .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0; }
     .comment_desc_box {padding: 15px 20px;}
     .comment_desc_box h4 {line-height: 16px;}
     .reply-row .user-span-round {margin-top: 8px !important;}
 
     /* end of home css  **/

    /* Update 24/5/2019 */

    .inner_details_div .user_details_cover .user_row .user_profile_div .img_thumb_div { max-width: 30%; }
    .inner_details_div .user_details_cover .user_row .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 20px 0 20px 0; width: 80%;min-height: 100%; }
    .inner_details_div .user_details_cover .contact_row .contact_col { padding: 10px 10px 10px 0px; border-left: 0px solid #E5E5E5;width: 50%; }
    .inner_details_div .user_details_cover .contact_row .contact_col:last-child { padding: 10px 10px 10px 0px;}
    .inner_details_div .user_details_cover .con_details_row .details_row .details_col{ width: 50%;padding: 10px 5px 10px 0px;  }
    .inner_details_div .user_details_cover .con_details_row .details_row .details_col:last-child{ width: 50%;padding: 10px 5px 10px 0px;  }
    .inner_details_div .user_details_cover .group-detail-btn-grp { clear: both; position: relative; right: auto; bottom: auto; }

    /* End of Update 24/5/2019 */
    
    

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 90%;}
    
}   
@media only screen and (max-width: 320px){
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 76%;}
    .btn-div-row .btn-message {padding: 6px 10px; font-size: 12px;}
    .btn-div-row .btn-refer {padding: 6px 10px; font-size: 12px;}
}


