/**  Post Modal  *********/

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 50px; height: 50px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666;    line-height: 24px; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }  

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/**  End of Post Modal  *********/

.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0;}

/***  connect_section  **/

.connect_section{ padding: 0;margin: 0; }
.connect_section .grid_card_box {  min-height: 100%; }
.connect_section .grid_card_box .top_heading_div .skill_desciption_div { padding: 10px 0 10px 0; }
.connect_section .grid_card_box .top_heading_div .skill_desciption_div h4{ margin: 0 0 10px 0; }
.connect_section .grid_card_box .top_heading_div .skill_desciption_div p.company-name { font-size: 13px;margin: 0 0 8px 0;text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.connect_section .grid_card_box .top_heading_div .address_div{ padding: 10px 0;margin: 0 0;clear: both;border-bottom: 1px solid #F6F7FB; }
.connect_section .grid_card_box .top_heading_div .address_div h5{ padding: 0; margin: 0 0 5px 0; font-size: 12px; font-weight: 400; color: #828899; line-height: 21px; }
.connect_section .grid_card_box .top_heading_div .address_div p.address-p{ font-size: 13px;margin: 0 0 0px 0;color: #666666;text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.connect_section .btn_row_div{ padding: 15px 0;margin: 0 0 0px 0; }
.connect_section .btn-connect{ display: block; width: 100%; padding: 9px; font-size: 14px; color: #0089E8; line-height: normal; font-weight: 600; background-color: #E7F2FF; border-radius: 17px !important; }
.connect_section .btn-connect:hover{ background: #D2E8F7; }

@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box .top_heading_div .user_profile_div{     padding: 0 0 0 0; }
    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 77%; min-height: 100%; }
    .filter_card_div.filter_card02_div .filter-txt-btn {top: -75px;}



}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    /* .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 90%;} */
    
}   
@media only screen and (max-width: 320px){
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 76%;}
    .btn-div-row .btn-message {padding: 6px 10px; font-size: 12px;}
    .btn-div-row .btn-refer {padding: 6px 10px; font-size: 12px;}
}


