.dashboard_div{ padding: 0;margin: 0;position: relative; }
.dashboard_div .dasboard_title_div{ padding: 0;margin: 0 0 30px 0; }
.dashboard_div .dasboard_title_div h3{ padding: 0;margin: 0 0 5px 0; font-size: 18px; color: #666; }
.dashboard_div .dasboard_title_div p{ padding: 0;margin: 0; font-size: 12px; color: #666; }

.dashboard_div .db_box{ padding: 0;margin: 0;position: relative; }
.dashboard_div .db_box_row{ padding: 0;margin: 0 -15px 0 0; }
.dashboard_div .db_box_row .col-grid-3 { width: 25%; float: left;padding: 0 15px 0 0;margin: 0 0 15px 0; }
.dashboard_div .db_white_card_box{ padding: 20px 15px;margin: 0;background-color:#fff;border: 1px solid #F6F7FB; border-radius: 4px;}
.dashboard_div .db_white_card_box .round_number_div{ padding: 0; margin: 0 auto; }
.dashboard_div .db_white_card_box .round_number_div .number_txt { padding: 0; margin: 0 auto; width: 75px; height: 75px; background: #e7f2ff66; border-radius: 100%; text-align: center; display: flex; font-size: 24px; color: #62A7FF; align-items: center; justify-content: center;
    letter-spacing: -1px;font-weight: 500; }
.dashboard_div .db_white_card_box h4 { font-size: 16px; font-weight: 500; text-align: center; margin: 12px 0 5px 0; }

.graph_div { padding: 20px 0 0 0; margin: 0; clear: both; }
.graph_div .col-grid-6{ width: 50%; float: left;padding: 0 15px 0 0; }
.graph_div .graphcard_div{ padding: 20px 15px;margin: 0;background-color:#fff;border: 1px solid #F6F7FB;border-radius: 4px; }

.graphpanel_title{ padding: 0; margin: 0 0 10px 0; }
.graph_div .graphcard_div h5 { padding: 0; margin: 0; display: inline-block; font-size: 16px; }
.graph_div .graphcard_div .right_float { display: inline-block; float: right; padding: 5px 0; }
.graph_div .graphcard_div .right_float .row_right { display: flex; align-items: center; float: left;  }
.graph_div .graphcard_div .right_float .row_right .round_span { height: 14px; width: 14px; border: 3px solid #0089E8; display: inline-block; border-radius: 100%; margin: 0 5px 0 0; }
.graph_div .graphcard_div .right_float .row_right .round_span.color_round1{ border-color: rgba(0, 135, 232, 0.3); }
.graph_div .graphcard_div .right_float .row_right .round_span.color_round2{ border-color: rgba(0, 135, 232, 1); }
.graph_div .graphcard_div .right_float .row_right .round_span.color_round3{ border-color: #F8A86B; }
.graph_div .graphcard_div .right_float .row_right .round_span.color_round4{ border-color: #58DEB6; }
.graph_div .graphcard_div .right_float .row_right .round_span.color_round5{ border-color: #FF5A4E; }

.graphpanel_body { margin: 15px 0 10px 0; height: 235px; }
.graphpanel_body .graph_img100 { width: 100%; height: 100%; }


.graphcard4_div .graphpanel_body { margin: 15px 0 10px 0; height: auto; display: flex; align-items: flex-end; }
.graphcard4_div .chart_left_txt { width: 45%; float: left; }
.graphcard4_div .chart_left_txt h6 { font-size: 24px; font-weight: 500;margin: 0 0 5px 0; }
.graphcard4_div .chart_left_txt p.row_progress { color: #3CC480; font-weight: 700;margin: 0 0 5px 0; }
.graphcard4_div .chart_left_txt p.row_progress .icon_arrow { padding: 0 5px 0 0; font-size: 11px; }
.graphcard4_div .chart_right_thumb { width: 55%; float: right; }

.graph_div .graph_row_div { padding: 0; margin: 0 -15px 15px 0; clear: both; }

span.title_round_txt { font-size: 12px; }
.padding-right-20{ padding-right: 20px; }  

.graph_edit_div { padding: 0px 0 0 0; border-bottom: 1px solid #ebebeb; margin-bottom: 15px; }
.db_box.db_box_edit { margin: 0 0 15px 0px; border-bottom: 1px solid #ebebeb; padding: 0 0 0px 0; }

.col-grid-3.col-grid-4 { width: 33.3% !important; }


@media only screen and (max-width: 767px){

    .dashboard_div .db_box_row .col-grid-3 { width: 100%;margin: 0 0 10px 0;padding: 0 0 0 0; }
    .graph_div .col-grid-6 { width: 100%; float: left; padding: 0 0px 0 0; margin: 10px 0 0 0;  }
    .graph_div .graphcard_div .right_float {  display: inline-block;  float: left;  padding: 5px 0;  width: 100%; }
    .graph_div { padding: 0px 0 0 0; }
    .dashboard_div .db_box_row{ margin: 0 0px 0 0; }
    .graph_div .graph_row_div { margin: 0 0px 15px 0; }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .dashboard_div .db_box_row .col-grid-3 { width: 50%;margin: 0 0 10px 0;padding: 0 10px 0 0; }
    .graph_div .col-grid-6 { width: 100%; float: left; padding: 0 0px 0 0; margin: 10px 0 0 0;  }
    .graph_div { padding: 0px 0 0 0; }
    .dashboard_div .db_box_row { padding: 0; margin: 0 -25px 0 0; }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}