.dao_tab_root .grid_card_row_box .dao_card_box { position: relative; }

.dao_card_box .cover_img_thumb{ padding: 0;margin: 0;position: relative; }
.dao_card_box .cover_img_thumb .img-cover{ width: 100%; }

.dao_card_box .top_heading_div { padding: 15px 15px 0px 15px; border-top: 0px solid; border-radius: 0px; margin: -2px 0 0 0; }
.dao_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 32px; height: 32px; float: left; max-width: 14%; position: relative; }
.dao_card_box .top_heading_div .user_profile_div .user-content-div { padding: 0px 0 0 10px; margin: 0; float: left; min-height: 32px; display: flex; justify-content: center; flex-direction: column; width: 86%; }
.dao_card_box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600; margin: 0 0 0 0; }
.dao_card_box .top_heading_div .user_description_div {  clear: both;  padding: 10px 0 0 0;  width: 100%; }
.dao_card_box .top_heading_div .user_description_div p{ font-size: 16px; font-weight: 400; line-height: 20px; color: #666666;letter-spacing: -0.01em; }


.dao_card_box .rate_label {  position: absolute;  top: -2px;  right: 10px; background-color: #57D48F;  color: #fff;  font-size: 12px;  border-radius: 0 0 3px 3px;  padding: 5px 12px; }
.dao_card_box .rate_label::after { content: ""; display: block; width: 20px; height: 4px; float: left; margin: 0; position: absolute; top: -1px; left: -4px; width: 4px; border-bottom: 3px solid #38A769; border-left: 3px solid transparent; }

/**/

.mp_details_div{ padding: 0; }
.mp_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.mp_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.mp_details_div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }
.mp_details_div .middle_area_div{ padding: 15px 20px 0px 20px;clear:both; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 5px; right: 5px; border-radius: 100%; border: 5px solid #fff; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 20px; margin: 0; float: left; min-height: 118px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 0; margin: 0 0 0px 0; font-size: 18px; font-weight: 400; color: #666666; }

.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666;  }
.mp_details_div .grid_card_box .top_heading_div .current_status{ padding: 0; margin: 0; font-size: 14px; font-weight: 500; color: #57D48F; width: 100%;  }
.mp_details_div .grid_card_box .contact_row { padding: 10px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; }
.mp_details_div .grid_card_box .contact_row .contact_col {  display: inline-block;  float: left;  padding: 4px 25px 4px 25px;  border-left: 1px solid #E5E5E5; }
.mp_details_div .grid_card_box .contact_row .contact_col:first-child { padding: 5px 25px 5px 0px;  border-left: 0px solid #E5E5E5; }
.mp_details_div .grid_card_box .contact_row .contact_link{ padding: 0px 0px 0 5px; margin: 0; font-size: 12px; color: #666; font-weight: 500;  }
.mp_details_div .grid_card_box .details_row { padding: 20px 0; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; min-height: 110px; display: flex; align-items: center; }
.mp_details_div .grid_card_box .details_row .details_col { padding: 0px 0; margin: 0; width: 20%; float: left; }

.mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { padding: 0px 0; margin: 0; width: 20%; float: left;  }

.mp_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 6px 0; font-size: 20px; font-weight: 500; color: #222222; }
.mp_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666;  }
.mp_details_div .grid_card_box .top_heading_div .skill_desciption_div h4 { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 500; color: #222222; line-height: 20px; }
.mp_details_div .grid_card_box .top_heading_div .skill_desciption_div p { padding: 0; margin: 0 0 10px 0; font-size: 14px; font-weight: 400; color: #666666; line-height: 23px; letter-spacing: -0.1px; }
.mp_details_div .btn-container-div{ padding: 0; margin: 0 0 10px 0; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.mp_details_div .grid_card_box .capsule_div_row .capsule_skill { background-color: #F6F7FB; padding: 5px 15px; border-radius: 3px; color: #666666; font-size: 13px; display: inline-block; margin: 0 6px 6px 0; float: left; }
.mp_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 0 0 15px 0; text-align: right; }
.mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 15px 15px; float: left; width: 68%; border-left: 1px solid #F6F7FB; }


.mp_details_div .grid_card_box .details_row .details_left_40{ width: 32%;float: left; }
.mp_details_div .grid_card_box .details_row .details_left_40 .details_col  { padding: 0px 0; margin: 0; width: 50%; float: left; }


.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.mp_details_div .grid_card_box .capsule_div_row .capsule_skill { background-color: #F6F7FB; padding: 5px 15px; border-radius: 3px; color: #666666; font-size: 13px; display: inline-block; margin: 0 6px 6px 0; float: left; }
.mp_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 0 0 15px 0; text-align: right; }
.mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 15px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }

/* New Edit in Post Task  */

.pt_details .user-content-details-div { width: 100%; min-height: 100% !important; padding: 0 !important; }
.pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }

.pt_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }

/* End of New Edit in Post Task  */

/* deal & offers */

.rated_tag_label { position: absolute; top: -2px; right: 10px; background-color: #57D48F; color: #fff; font-size: 14px; border-radius: 0 0 3px 3px; padding: 9px 14px; letter-spacing: -0.1px; font-weight: 500; }

.product_details_div { padding: 15px 0 20px 0; margin: 0 0 15px 0; border-bottom: 1px solid #F6F7FB;position: relative; }
.product_details_div .product_thumb{ padding: 0;margin: 0;width: 30%;float: left; }
.product_details_div .product_thumb .img-banner{ padding: 0;margin: 0;width: 100%;border-radius: 4px; }
.product_details_div .product_info_details{ padding: 0 0 0 35px;margin: 0;width: 70%;float: left; }
.product_details_div .product_info_details h3 { padding: 0; margin: 0 0 10px 0; float: left; color: #0089E8; font-size: 30px; font-weight: 500;width: 100%; }
.product_details_div .product_info_details h3 span.strict { color: #66666680; font-size: 20px; padding: 0 0px 0 10px;font-weight: 500; }
.product_details_div .product_info_details h3 span.strict span.strict-line { position: relative; }
.product_details_div .product_info_details h3 span.strict .strict-line::before { position: absolute; content: ""; border: 1px solid rgba(112, 112, 112, 0.50); width: 100%; top: 12px; }
.product_info_details .rating_div{ width: 100%; }

.info_group_txt_div01{ padding: 0;margin: 0;position: relative; }
.info_group_txt_div01 .row_info01{ padding: 10px 0 0 0;margin: 0;font-size: 16px; }
.info_group_txt_div01 .row_info01 .p_title { padding: 0; margin: 0; width: 25%; float: left; display: inline-block; color: #222; font-weight: 500; }
.info_group_txt_div01 .row_info01 .p_desc { padding: 0; margin: 0; width: 75%; float: left; display: inline-block; color: #666666; }
.product_details_div .offer_label { padding: 10px 0px; margin: 0; color: #57D48F; font-size: 16px; font-weight: 500; position: absolute; right: 0; top: 0; }


.grid_card_box .top_heading_div .user_profile_div {padding: 0 0 0px 0;border-bottom: 0px solid #F6F7FB;}

/* add btn css */

.btn-block-custom.btn-round { background-color: #EDEDED; color: #666666; padding: 7px 20px; margin: 0 ; border: 1px solid #EDEDED; line-height: 1.5; font-size: 13px; border-radius: 100px;min-width: 120px; }
.btn-block-custom.btn-round:hover { background-color: #DDDDDD; color: #666666; border: 1px solid #DDDDDD; }

.btn-block-custom.btn-round.apply-filter { background-color: #4886ff; color: #fff; border: 1px solid #4886ff; }
.btn-block-custom.btn-round.apply-filter:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.btn-block-custom.btn-round.btn-send { background-color: #4886ff; color: #fff; border: 1px solid #4886ff; padding: 10px 40px; }
.btn-block-custom.btn-round.btn-send:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.btn-block-custom.btn-round.btn-continue { background-color: transparent; color: #4886ff; border: 1px solid transparent; padding: 10px 40px;font-weight: 500; }
.btn-block-custom.btn-round.btn-continue:hover { color: #0053C4; }

.btn-block-custom.btn-round.btn-delete { background-color: #FF5A4E; color: #fff; border: 1px solid #FF5A4E; padding: 10px 40px; }
.btn-block-custom.btn-round.btn-delete:hover { background-color: #d14e44; border: 1px solid #d14e44; }

.btn-block-custom.btn-round.btn-edit { background-color: #4886ff; color: #fff; border: 1px solid #4886ff; padding: 10px 40px; }
.btn-block-custom.btn-round.btn-edit:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.btn-block-custom.btn-round.left-btn{ min-width: auto; padding: 10px 0; float: left; }



/* added by aakhil */

.pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { font-size: 24px; line-height: 26px;}
.grid_card_box .top_heading_div .skill_desciption_div .desc_txt_div h5 {font-weight: 600;}
.rated_tag_label {font-weight: 700;}
.dao_card_box .rate_label {font-weight: 600;}

.mp_details_div .grid_card_box .top_heading_div .skill_desciption_div p {font-size: 16px;}
.btn-container-div .readmore_btn {line-height: 10px; font-size: 16px;}

.rating_div .fill_star {font-size: 14px;}
.heading-title-div { margin: 0 0 25px 0;}
.rated_tag_label {font-size: 16px;}

/* End of deal & offers */

/*******************************************************************/
/******************   Order History   **************************/
/*******************************************************************/


.white-data-tab{ padding: 0; margin: 0; }
.white-data-tab .grid_card_row_box{ width: 100%; margin: 0; padding: 0; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box { background-color: #fff; border: 1px solid #F6F7FB; width: 100%; margin: 0 0 15px 0; padding: 15px; border-radius: 4px; min-height: 95px; display: flex; align-items: center; }

.white-data-tab .grid_card_box .col-50{ width: 50%; max-width: 50%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-40{ width: 40%; max-width: 40%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-35{ width: 35%; max-width: 35%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-33{ width: 33%; max-width: 33%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-30{ width: 30%; max-width: 30%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-25{ width: 25%; max-width: 25%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-22{ width: 22%; max-width: 22%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-20{ width: 20%; max-width: 20%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-17{ width: 17%; max-width: 17%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-15{ width: 15%; max-width: 15%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-13{ width: 13%; max-width: 13%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-10{ width: 10%; max-width: 10%; float: left; display: inline-block; }

.white-data-tab .grid_card_box .mt10{ margin-top: 10px !important; }
.white-data-tab .grid_card_box .mt21{ margin-top: 21px !important; }

.order-history-root .white-data-tab .dealdesc_div{ width: 100%; margin: 0; padding: 0; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc_img_thumb_div { height: 65px; width: 105px; float: left; max-width: calc( 100% - 105px ); display: inline-block; background-color: #e7f2ff80; border-radius: 4px;     overflow: hidden; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc_img_thumb_div .link_user { display: inline-block; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc_img_thumb_div .img-icon { overflow: hidden; width: 100%; margin: 0px 0 0 0; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc_img_thumb_div .img-icon.withdrawal-icon-img {     width: 27px;margin: 0px 0 0 0; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content { width: calc( 100% - 105px ); padding: 0px 0 0 15px; margin: 0; float: left; min-height: 65px; display: flex; justify-content: center; flex-direction: column; position: relative; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content h3 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: flex; color: #222222; align-items: center; margin: 0 0 6px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content h4 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: block; color: #222222; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content p { font-size: 14px; color: #666666; margin: 0; line-height: 16px; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content p.data-p { font-size: 12px; margin: 0 0 3px 0; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content p.data-666 { font-size: 18px; font-weight: 400; position: relative; width: 100%; display: flex; color: #666666; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 21px; }
.order-history-root .white-data-tab .dealdesc_div.dealdesc_div2 .dealdesc-content{ width: 100%; }

.order-history-root .white-data-tab .button_card_area{ min-height: 65px; float: left; display: flex; justify-content: center; align-items: flex-end; flex-direction: column; position: relative; width: 100%; padding: 0 0 0 0px; }
.button_card_row_box{ padding: 0;margin: 0 -6px 0 0;width: 100%;display: flex; justify-content: flex-end; }
.button_card_row_box .button_card_box{ padding: 0;margin: 0 0 0px 0;width: 25%;float: left;padding-right: 6px;  }
.button_card_row_box .button_card_box.button_card_box_50{ width: 50%; }
.button_card_row_box .button_card_box .btn.btn-icon { width: 100%; height: 35px; background-color: #0089e866; border-radius: 2px; color: #fff; display: flex; align-items: center; justify-content: center; padding: 0px 5px; font-size: 16px; font-weight: 500; }
.button_card_row_box .button_card_box .btn.btn-icon:hover{ background-color: #0089E8; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-view { background-color: #0089e866; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-view:hover{ background-color: rgba(0, 137, 232, 0.6); }
.button_card_row_box .button_card_box .btn.btn-icon.btn-chat{ background-color: #57D48F; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-chat:hover{ background-color: #52c586; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-download { background-color: #0089e8; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-download:hover{  background-color: #0053C4; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-delete { background-color: #FF5A4E; }
.button_card_row_box .button_card_box .btn.btn-icon.btn-delete:hover{ background-color: #e65449; }
.button_card_row_box .button_card_box .btn.btn-icon .icons-order{ font-size: 24px; }

.order-history-root .white-data-tab .dealdesc_div .dealdesc-content .status-p { font-size: 16px; line-height: 20px; font-weight: 600; position: relative; width: 100%; display: block; color: #57D48F; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content .status-p.completed-p{ color: #57D48F; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content .status-p.awaiting-payment-p { color: #FFB221; }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content .status-p.cancelled-p { color: #FF5A4E;  }
.order-history-root .white-data-tab .dealdesc_div .dealdesc-content .status-p.failed-p { color: #FF5A4E;  }

.status-p { font-size: 16px; line-height: 20px; font-weight: 600; position: relative; width: 100%; display: block; color: #57D48F; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.status-p.completed-p{ color: #57D48F; }
.status-p.awaiting-payment-p { color: #FFB221; }
.status-p.cancelled-p { color: #FF5A4E;  }
.status-p.failed-p { color: #FF5A4E;  }

.mywallet-toprow-div{ padding: 0; margin: 0 0 8px 0; position: relative;  }
.mywallet-toprow-div .grid_card_box_50{ padding: 0; margin: 0 0 15px 0; width: 50%; float: left; padding-right: 15px; }
.mywallet-toprow-div .grid_card_box_25{ padding: 0; margin: 0 0 15px 0; width: 25%; float: left; padding-right: 15px; }
.mywallet-toprow-div .mywallet-whitebox-top { padding: 30px 20px; margin: 0; min-height: 100px; border-radius: 4px; background-color: #fff; border: 1px solid #F6F7FB; float: left; width: 100%; position: relative; }
.mywallet-toprow-div .mywallet-whitebox-top p {  padding: 0;  margin: 0 0 10px 0;  font-size: 14px;  color: #666666;  display: block;  width: 100%;  line-height: 16px; }
.mywallet-toprow-div .mywallet-whitebox-top h3.mywallet-amount { padding: 0; margin: 0 0 5px 0; font-size: 36px; color: #222222; line-height: 36px; font-weight: 500; overflow: hidden; width: 100%; display: block; }
.mywallet-toprow-div .mywallet-whitebox-top .card-row-link { padding: 0; margin: 0; float: left; position: absolute; top: 30px; right: 20px; }
.btn.btn-lightblue { background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; padding: 10px 30px; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px; }
.btn.btn-lightblue:hover{ background: #D2E8F7; }

.mywallet-account-root .white-data-tab .dealdesc_div .dealdesc_img_thumb_div{ height: 55px; width: 55px; max-width: calc( 100% - 55px ); }

.day_status_div{ padding: 0; margin: 0 0 20px 0; position: relative; }
.day_status_div .day_txt{ padding: 0; margin: 0; font-size: 12px; color: #22222280; line-height: 16px; min-width: 100px;; }
.day_status_div .day_txt::after { padding: 0; margin: 0; content: ""; height: 1px; width: calc( 100% - 110px ); background-color: #EEEEEE; position: absolute; top: 8px; left: 110px; }

/* View Invoice */

.view-invoice-modal .invoice_div{ padding: 15px 0 0 0; margin: 0; position: relative; }
.view-invoice-modal .invoice_div .imgthumb-div{ padding: 0; margin: 0; max-height: 500px; overflow: hidden; }
.view-invoice-modal .invoice_div .imgthumb-div .img-fluid.img-invoice-cover{ border-radius: 4px; width: 100%;  }
.view-invoice-modal .invoice_div .view_deals_div { padding: 0; margin: 35px 0 0 0; position: relative; }
.view-invoice-modal .invoice_div .view_deals_div h3{ font-size: 24px; font-weight: 500; position: relative; width: 100%; display: block; color: #222222; margin: 0 0 20px 0; line-height: 32px; }
.view-invoice-modal .invoice_div .view_deals_div .grid_card_row_box .grid_card_box{ margin-bottom: 30px; width: 50%; }
.view-invoice-modal .invoice_div .view_deals_div .grid_card_row_box .grid_card_box .title-p { font-size: 20px; font-weight: 400; position: relative; width: 100%; display: flex; color: #666666; align-items: center; margin: 0 0 10px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 21px; }
.view-invoice-modal .invoice_div .view_deals_div .grid_card_row_box .grid_card_box .desc-p { font-size: 24px; font-weight: 500; position: relative; width: 100%; display: flex; color: #222222; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 32px; }
.view-invoice-modal .invoice_div .view_deals_div .grid_card_row_box .grid_card_box p.status-p { font-size: 24px; line-height: 24px; }
.view-invoice-modal .modal-footer { padding: 0; border-radius: 0px; }
.view-invoice-modal .modal-footer .btn-blue-close { width: 100%; height: 65px; background-color: #0089E8; border-color: #0089E8; border-radius: 0px; font-size: 22px; font-weight: 500; transition: all ease-in-out 0.3s; }
.view-invoice-modal .modal-footer .btn-blue-close:hover{ background-color: #0053C4; }
.view-invoice-modal .modal-body{ padding-bottom: 0px; }

/* End of View Invoice */

/* info messages modal */

.info-messsage-modal .pop-delete { padding: 40px 35px; }
.info-messsage-modal .pop-delete h3{ margin: 0 00 0 0; font-weight: 500; }
.info-messsage-modal .modal-cancel{ padding: 0 0 0 0 !important; }
.info-messsage-modal .modal-cancel .pop-cancel {padding: 40px 35px;}
.info-messsage-modal .modal-cancel .pop-cancel h3 {color: #0089e8; font-size: 24px; line-height: 36px; letter-spacing: -0.10px; font-weight: 500; margin: 0 auto;  }
.info-messsage-modal .modal-cancel .pop-cancel-btn {justify-content: flex-end; display: flex; padding: 10px 16px 10px 26px; margin: 0 10px; border-top:1px solid #EFEFEF; }
.info-messsage-modal .modal-cancel .btn-cancel2{ background-color: #0089e8; color: #fff; border: 1px solid #0089e8; padding: 10px 40px; }
.info-messsage-modal .modal-cancel .btn-cancel2:hover{ background-color: #0053C4;border: 1px solid #0053C4;  }


/* end of info messages modal */

/*******************************************************************/
/***************   end of Order History   **************************/
/*******************************************************************/

.filter_card_div.dao-filter-card-div .filter-txt-btn { top: -46px; }

/*******   INVOICE  *******************/

.invoice-view-div-table{ padding: 0; margin: 0 auto; width: 100%; }
.invoice-view-div-table .table-invoice-root{ padding: 0; margin: 0 auto; width: 100%; }

.table-invoice-root-div{ padding: 0; margin: 0 auto; width: 100%; background-color:#fff;max-width:750px;height:100%;padding:30px 30px;font-family:Arial, Helvetica, sans-serif;vertical-align:top; }
.table-invoice-root-div .header-invoice-div{ padding: 0 0 0 0; margin: 0 0 30px 0; width: 100%; float: left; }
.table-invoice-root-div .header-invoice-div .logo-site{ width: 200px; }

.table-invoice-root-div .body-invoice-div { padding: 0; margin: 0; width: 100%; display: block; float: left; }
.table-invoice-root-div .body-invoice-div h1{ padding: 10px; margin: 0; font-size: 16px; font-weight: 600; color: #666; width: 100%; text-align: center; background: #F5F5F5; text-transform: uppercase; }
.table-invoice-root-div .body-invoice-div .information-root-div{ padding: 20px 0 20px 0; margin: 0; }
.table-invoice-root-div .body-invoice-div .information-root-div p{ padding: 0px 0 5px 0; margin: 0; font-size:14px;font-weight:400;color:#666;width:100%;border:none;text-align:left;vertical-align: top;line-height: 24px; }
.table-invoice-root-div .body-invoice-div .information-root-div p .title-span{ font-weight: 700;  }
.table-invoice-root-div .body-invoice-div .information-root-div .information-width-60{ width: 60%; float: left; }
.table-invoice-root-div .body-invoice-div .information-root-div .information-width-40{ width: 40%; float: left; }
.table-invoice-root-div .body-invoice-div .information-root-div .product-thumb-img{ width: 100%; }
.table-invoice-root-div .body-invoice-div .information-root-div .product-img-invoice{ width: 100%; text-align: right; }

.table-invoice-root-div .body-invoice-div .dof-invoice-table { padding: 0; margin: 20px 0 0 0; width: 100%; display: block; float: left; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 { padding: 0; margin: 0; width: 100%; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 th{ background:#F5F5F5;color:#fff;padding:10px;font-size:16px;font-weight:400;color:#666; text-align:left;border: 1px solid #ddd; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 .width-in60{ width:60%; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 .width-in20{ width:20%; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 td{ padding:10px;font-size:14px;font-weight:400;color:#666; border:1px solid #ddd; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .border-left1{ border-left: 1px solid #ddd; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .border-right1{ border-right: 1px solid #ddd; }
.table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 td.border-none{ border: none; padding: 0; }

.table-invoice-root-div .footer-invoice-div { padding: 10px 0 0 0; margin: 50px 0 0 0; width: 100%; float: left; display: block; border-top: 1px solid #ddd; }
.table-invoice-root-div .footer-invoice-div p{ padding:10px;font-size:12px;font-weight:400;color:#666;width:100%;text-align:center;line-height: 18px; }

/*******  End of INVOICE  *******************/

/******  Add changes in order history ( 02-08-2019 )  ******/

.order-history-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; margin: 0 0 0 0; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div { padding: 10px 0 0 0; margin: 20px 0 0 0; display: flex; align-items: center; border-top: 1px solid #F6F7FB; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-left-oh-div{ float: left; width: 50%; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-right-oh-div { float: left; width: 50%; text-align: right; display: flex; justify-content: flex-end; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .request-fund-btn { height: 34px; padding: 6px 30px; background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px; }

.oh-white-data-tab{ padding: 0; margin: 0; }
.oh-white-data-tab .grid_card_row_box{ width: 100%; margin: 0; padding: 0; }
.oh-white-data-tab .grid_card_row_box .grid_card_box { background-color: #fff; border: 1px solid #F6F7FB; width: 100%; margin: 0 0 15px 0; padding: 15px; border-radius: 4px; min-height: 95px; display: flex; align-items: center; }
.oh-white-data-tab .grid_card_box .mt10{ margin-top: 10px !important; }
.oh-white-data-tab .grid_card_box .mt21{ margin-top: 21px !important; }

.btn.btn-lightblue { background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; padding: 10px 30px; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px; }
.btn.btn-lightblue:hover{ background: #D2E8F7; }

/***** custom-accordion-white   **/

.oh-white-data-tab .icon-arrow.icon-arrow-right { font-size: 21px; }

.oh-white-data-tab .custom-accordion-white{ padding: 0; margin: 0; position: relative; }
.oh-white-data-tab .custom-accordion-white .card-custom-white { margin: 0 0 10px 0; border: 1px solid #F6F7FB; border-radius: 4px; background-color: #fff; }
.oh-white-data-tab .custom-accordion-white .card-custom-white .card-white-header { padding: 0; margin: 0; border-color: #F6F7FB; border-radius: 0px; box-shadow: none; border: none; }
.oh-white-data-tab .custom-accordion-white .card-custom-white .card-body{ padding: 0; margin: 0; }
.oh-white-data-tab .custom-accordion-white .card-custom-white .card-body-root { padding: 0 20px; margin: 0; min-height: 100%; float: left; width: 100%; background-color: #FCFCFC; display: block; border: 1px solid #F6F7FB; }
.oh-white-data-tab .custom-accordion-white .btn-link { border: none; font-size: 16px; color: #0089E8; font-weight: 500; display: flex; align-items: center; margin: 0; padding: 0; width: auto; line-height: 24px; cursor: pointer; position: relative; height: 34px; }
.oh-white-data-tab .custom-accordion-white .btn-link:hover, .white-data-tab .custom-accordion-white .btn-link:focus{ outline: none; }
.oh-white-data-tab .custom-accordion-white .btn-row-pd .btn-link .icon-arrow { transition: all 0.3s; position: absolute; right: 10px; font-size: 20px; }
.oh-white-data-tab .custom-accordion-white .card-custom-white .card-white-header.active .icon-arrow { transform: rotate(90deg); }
.oh-white-data-tab .custom-accordion-white span.txt-span-view { padding: 0 20px 0 0px; }

.oh-white-data-tab .custom-accordion-white .table-oh.table-responsive{ max-height: 385px; overflow-y: auto; }
.oh-white-data-tab .custom-accordion-white .table-oh .table{ padding: 0; margin: 0 0 5px 0; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td, .oh-white-data-tab .custom-accordion-white .table-oh .table th { padding: 10px 0; border-color: #7070701c; font-size: 14px; }
.oh-white-data-tab .custom-accordion-white .table-oh .table th { color: #555555cc; border-bottom: 0px; border-top: 0px; }
.oh-white-data-tab .custom-accordion-white .table-oh .table th:nth-child(1){ width: 200px; }
.oh-white-data-tab .custom-accordion-white .table-oh .table th:nth-child(2){ width: 250px; }
.oh-white-data-tab .custom-accordion-white .table-oh .table th:nth-child(3){ width: 200px; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td { color: #555555cc; line-height: 24px; vertical-align: middle; padding: 5px 0; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td .status-label-oh { padding: 0; margin: 0; font-weight: 500; } 
.oh-white-data-tab .custom-accordion-white .table-oh .table td .status-label-oh.decline-label { color: #FF5A4E; } 
.oh-white-data-tab .custom-accordion-white .table-oh .table td .status-label-oh.approve-label { color: #57D48F; } 
.oh-white-data-tab .custom-accordion-white .table-oh .table td:last-child{ text-align: right; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td span.date-span { font-weight: 500; color: #222222; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td span.request-name { font-weight: 500; color: #666666; }
.oh-white-data-tab .custom-accordion-white .table-oh .table td .reason-decline { font-weight: 500; color: #666666; }

.oh-white-data-tab .custom-accordion-white .table-oh.table-responsive::-webkit-scrollbar { background-color:#fff; width:8px; height: 5px; }
.oh-white-data-tab .custom-accordion-white .table-oh.table-responsive::-webkit-scrollbar-track {  background-color:#fff }
.oh-white-data-tab .custom-accordion-white .table-oh.table-responsive::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.oh-white-data-tab .custom-accordion-white .table-oh.table-responsive::-webkit-scrollbar-button {display:none}

/******  End of Add changes in order history ( 02-08-2019 )  ******/

.bugs-div-prize-tags{ padding: 0; margin: 0; }
.bugs-div-prize-tags .rate_label { position: absolute; top: -2px; left: 16px; background-color: #57D48F; color: #fff; font-size: 12px; border-radius: 0 0 3px 3px; padding: 6px 12px; font-weight: 600; min-width: 80px; text-align: center; }
.bugs-div-prize-tags .rate_label::after { content: ""; display: block; width: 20px; height: 4px; float: left; margin: 0; position: absolute; top: -1px; left: -4px; width: 4px; border-bottom: 3px solid #38A769; border-left: 3px solid transparent; }
.bugs-div-prize-tags .rate_label.sold-tag { background-color: #FF5A4E;  }
.bugs-div-prize-tags .rate_label.sold-tag::after { border-bottom: 3px solid #E61506; }



.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .approved-btn{  height: 34px; padding: 6px 30px; background: #0089E8; color: #ffffff; border-color: #0089E8; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .approved-btn:hover, .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .approved-btn:focus{     box-shadow: none; background-color: #0053C4!important; color: #fff!important; border: 1px solid #0053C4!important; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .decline-btn{  height: 34px; padding: 6px 30px; background: #FF5A4E; color: #ffffff; border-color: #FF5A4E; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px;  }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .decline-btn:hover, .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .decline-btn:hover{ background: #e65449; }
.order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .request-fund-btn:hover, .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .request-fund-btn:focus{     background: #D2E8F7; }


@media (min-width: 1025px) and (max-width: 1100px){
    
   
}


@media only screen and (max-width: 767px){

    .mp_details_div .grid_card_box .top_heading_div { padding: 25px 0px 0px 0px; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%; margin: 0 0 20px 0; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 20px; text-align: center; display: flex; align-items: center; flex-direction: column; }
    .mp_details_div .grid_card_box .details_row .details_col { margin: 0 0 15px 0; width: 50%; }
    .mp_details_div .grid_card_box .contact_row .contact_col { padding: 0 0 0 0; border-left: none; text-align: center; width: 100%; margin: 0 0 10px 0; }
    .mp_details_div .grid_card_box .details_row { padding: 20px 0 10px 0; }
    .mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 15px 0px 15px 0px; float: left; width: 100%; border-left: 0px solid #F6F7FB; }
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 100%; }
    .mp_details_div .grid_card_box .details_row { width: 100%; border-bottom: 1px solid #F6F7FB; min-height:auto; display: block; }

    /* New Edit in Post Task  */

    /* End of New Edit in Post Task  */

    /* deal & offers */


    .product_details_div .product_info_details h3 { margin: 0 0 20px 0; }
    .info_group_txt_div01 .row_info01 { padding: 20px 0 0 0; }
    .product_details_div .product_thumb { margin: 25px 0 0 0; width: 100%; }
    .product_details_div .product_info_details { padding:0; margin: 20px 0 0 0; width: 100%; }
    .info_group_txt_div01 .row_info01 .p_title { margin: 0 0 10px 0; width: 100%; }

    .mp_details_div .grid_card_box .btn_group_row.btn_group_deal_row{ text-align: center; }
    .mp_details_div .grid_card_box .btn_group_deal_row .btn.edit-btn, .mp_details_div .grid_card_box .btn_group_deal_row .btn-block-custom.btn-round { margin: 0 0 10px 0;width: 100%; }

    /* End of deal & offers */


    .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 {font-size: 21px; line-height: 25px; text-align: left;}
    .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4{font-size: 18px;}
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div {width: 100%;}
    .rated_tag_label {font-size: 13px; font-weight: 600;}

    /*******************************************************************/
    /******************   Order History   **************************/
    /*******************************************************************/

    .order-history-root .white-data-tab .grid_card_box .col-30{ width: 100%; max-width: 100%; }
    .order-history-root .white-data-tab .grid_card_box .col-15{ width: 50%; max-width: 50%; }
    .order-history-root .white-data-tab .grid_card_box .col-13{ width: 50%; max-width: 50%; }
    .order-history-root .white-data-tab .grid_card_box .col-17{ width: 50%; max-width: 50%; }
    .order-history-root .white-data-tab .grid_card_box .col-25{ width: 100%; max-width: 100%; }

    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; }
    .order-history-root .white-data-tab .dealdesc_div.dealdesc_div2 .dealdesc-content { padding-left: 0px; width: 100%; min-height: 100%; margin: 15px 0 5px 0; }
    .button_card_row_box { margin: 0 0px 0 0; width: 100%; display: flex; justify-content: flex-start; float: left; } 


    /*******************************************************************/
    /***************   end of Order History   **************************/
    /*******************************************************************/
    
    .filter_card_div.dao-filter-card-div { padding: 0px; }
    .filter_card_div.dao-filter-card-div .filter-txt-btn { top: -56px; }

    /*******   INVOICE  *******************/

    .table-invoice-root-div { padding: 30px 10px;}
    .table-invoice-root-div .body-invoice-div .information-root-div .information-width-60{ width: 100%; margin: 0 0 10px 0; float: left; }
    .table-invoice-root-div .body-invoice-div .information-root-div .information-width-40{ width: 100%; float: left; }
    .table-invoice-root-div .body-invoice-div .dof-invoice-table { overflow: hidden; overflow-x: scroll; }
    .table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 .width-in60{ width:60%; min-width: 200px; }
    .table-invoice-root-div .body-invoice-div .dof-invoice-table .table-invoice-01 .width-in20{ width:20%; min-width: 100px; }
    
    /*******  End of INVOICE  *******************/

    /******  Add changes in order history ( 02-08-2019 )  ******/

    .oh-white-data-tab .custom-accordion-white .table-oh .table td, .oh-white-data-tab .custom-accordion-white .table-oh .table th { font-size: 12px !important; line-height: 16px !important; }
    .oh-white-data-tab .custom-accordion-white .card-custom-white .card-body-root { padding: 0 15px; }
    .oh-white-data-tab .custom-accordion-white .table-oh .table { min-width: 460px; }

    /******  End of Add changes in order history ( 02-08-2019 )  ******/

    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div{ display: block; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-left-oh-div{ width: 100%; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-right-oh-div{ width: 100%; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .btn.btn-lightblue{ width: 100%; margin: 0 0 10px 0; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-right-oh-div{ display: block; padding-top: 10px; }

}   

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    
    .mp_details_div .grid_card_box .details_row .details_col { margin: 0 0 15px 0; width: 33.3%; }
    .mp_details_div .grid_card_box .contact_row .contact_col { padding: 0 0 0 0; border-left: none; text-align: left; width: 100%; margin: 0 0 10px 0; }
    .mp_details_div .grid_card_box .details_row { padding: 20px 0 10px 0; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { top: -2px; right: -4px; }

    .mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 15px 0px 15px 0px; float: left; width: 100%; border-left: 0px solid #F6F7FB; }
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 100%; }
    .mp_details_div .grid_card_box .details_row { width: 100%; border-bottom: 1px solid #F6F7FB; min-height:auto; display: block; }

    /* New Edit in Post Task  */


    /* End of New Edit in Post Task  */

    /* deal & offers */

    .product_details_div .product_info_details h3 { margin: 0 0 20px 0; }
    .info_group_txt_div01 .row_info01 { padding: 20px 0 0 0; }
    .product_details_div .product_thumb { margin: 25px 0 0 0; width: 100%; }
    .product_details_div .product_info_details { padding:0; margin: 20px 0 0 0; width: 100%; }
    .info_group_txt_div01 .row_info01 .p_title { margin: 0 0 10px 0; width: 100%; }
    .mp_details_div .grid_card_box .btn_group_row .btn-block-custom.btn-round.btn-edit { padding: 10px 20px; font-size: 12px; }

    /* End of deal & offers */
    .pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 {margin-top: 15px;}

    /*******************************************************************/
    /******************   Order History   **************************/
    /*******************************************************************/

    .order-history-root .white-data-tab .grid_card_box .col-30{ width: 70%; max-width: 70%; }
    .order-history-root .white-data-tab .grid_card_box .col-15{ width: 30%; max-width: 30%; }
    .order-history-root .white-data-tab .grid_card_box .col-13{ width: 25%; max-width: 25%; }
    .order-history-root .white-data-tab .grid_card_box .col-17{ width: 25%; max-width: 25%; }
    .order-history-root .white-data-tab .grid_card_box .col-25{ width: 50%; max-width: 50%; }

    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; }
    .order-history-root .white-data-tab .dealdesc_div.dealdesc_div2 .dealdesc-content { padding-left: 0px;  }
    .button_card_row_box { margin: 0 0px 0 0; width: 100%; display: flex; justify-content: flex-start; float: left; } 

    /*******************************************************************/
    /***************   end of Order History   **************************/
    /*******************************************************************/

      /******  Add changes in order history ( 02-08-2019 )  ******/

      .oh-white-data-tab .custom-accordion-white .table-oh .table td, .oh-white-data-tab .custom-accordion-white .table-oh .table th { font-size: 14px !important; line-height: 16px !important; }
      .oh-white-data-tab .custom-accordion-white .card-custom-white .card-body-root { padding: 0 15px; }
      .oh-white-data-tab .custom-accordion-white .table-oh .table { min-width: 560px; }
  
      /******  End of Add changes in order history ( 02-08-2019 )  ******/

    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div{ display: block; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-left-oh-div{ width: 35%; margin: 0 0 10px 0; }
    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box .grid-bottom-oh-div .grid-bottom-right-oh-div{ width: 100%; }

    
}



@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    /*******************************************************************/
    /******************   Order History   **************************/
    /*******************************************************************/

    .order-history-root .white-data-tab .grid_card_box .col-30{ width: 30%; max-width: 30%; }
    .order-history-root .white-data-tab .grid_card_box .col-15{ width: 15%; max-width: 15%; }
    .order-history-root .white-data-tab .grid_card_box .col-13{ width: 13%; max-width: 13%; }
    .order-history-root .white-data-tab .grid_card_box .col-17{ width: 17%; max-width: 17%; }
    .order-history-root .white-data-tab .grid_card_box .col-25{ width: 25%; max-width: 25%; }

    .order-history-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; }
    .order-history-root .white-data-tab .dealdesc_div .dealdesc-content{ padding-left: 10px; }
    .order-history-root .white-data-tab .dealdesc_div.dealdesc_div2 .dealdesc-content { padding-left: 0px;  }
    .button_card_row_box { margin: 0 0px 0 0; width: 100%; display: flex; justify-content: flex-start; float: left; } 



    /*******************************************************************/
    /***************   end of Order History   **************************/
    /*******************************************************************/
}

@media only screen and (max-width: 320px){

    .filter_card_div.dao-filter-card-div { padding: 0px; }
    .filter_card_div.dao-filter-card-div .filter-txt-btn {     top: -57px; font-size: 14px; }
    .deals-offers .common-tab .custom-pills{ padding-left: 0px; }
    .deals-offers .common-tab .custom-pills li { margin: 0 10px 0 0; height: 40px; }


}