
span.cost-type { font-size: 12px; font-weight: 500; text-transform: capitalize; color: #666; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { padding: 0; margin: 0 0 5px 0; font-size: 16px; font-weight: 500; color: #222222; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.show_before_time { clear: both; padding: 0 0 15px 0; }
.show_response_time_div { clear: both; padding: 0 0 15px 0; font-size: 12px; color: #666; }

/* New added css */

.top-right-div .fa-plus {font-size: 10px; font-weight: 600; margin-right: 5px;}

.listingbox-groups {background-color: #fff;padding: 20px 15px 10px 15px;display: flex;justify-content: center;align-content: center;align-items: center;flex-direction: column;}
.profile-img img {height: 60px; width: 60px;border-radius: 100px;}

.profile-img {margin-bottom: 20px;}
.profile-detail {text-align: center;justify-content: center;width: 100%;}
.profile-detail h3.title_h3 {font-size: 18px; color: #222222; text-align: center; font-weight: 600;padding: 0; margin: 0 0 10px 0; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.profile-detail p.subtitle_p {font-size: 16px; color: #666666; text-align: center; font-weight: 400;padding: 0; margin: 0 0 15px 0; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.link-member { display: block; font-size: 16px; font-weight: 500; margin-bottom: 12px; color: #0089E8; }
.profile-detail .btn-join-group { display: block; width: 100%; padding: 9px; font-size: 14px; color: #0089E8; line-height: normal; font-weight: 600;    background-color: #E7F2FF; border-radius: 17px !important; }
.profile-detail .btn-join-group:hover{ background: #D2E8F7; }
.tab-featured1 .grid_card_box {min-height: auto;}

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 5px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }
.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/*  b2b Match Making proposal details  */

.inner_details_div .grid_card_box .fc_desc_info_div{ position: relative;padding: 12px 20px 12px 20px; }
.fc_desc_info_div .b2b_body_div{ padding: 15px 0px;margin: 0;background-color: #fff; }
.fc_desc_info_div .b2b_body_div .row_line { padding: 0; margin: 0 0 5px 0; font-size: 16px; display: flex; align-items: flex-start; }
.fc_desc_info_div .b2b_body_div .row_line .title_txt_col { padding: 0; margin: 0; color: #666666; width: 20%; display: inline-block;float: left;line-height: 24px; }
.fc_desc_info_div .b2b_body_div .row_line .desc_txt_col{ padding: 0;margin: 0;color: #222222;font-weight: 500;width: 80%; display: inline-block;float: left;line-height: 24px; }
.grid_card_box .top_heading_div .fc_desc_info_div .b2b_body_div p{ padding: 0;margin: 0;color: #222222;font-size:16px;font-weight: 500;line-height: 24px; }

.inner_details_div{ padding: 0; }
.inner_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.inner_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.inner_details_div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }

.inner_details_div .grid_card_box .top_heading_div.fc-borderbottom{  }

.inner_details_div .middle_area_div{ padding: 15px 20px 0px 20px; }

.inner_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 6px 0; font-size: 20px; font-weight: 500; color: #222222; }
.inner_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666;  }
.inner_details_div .btn-container-div{ padding: 0; margin: 0; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.inner_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 10px 0 15px 0; text-align: right; }
.inner_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 15px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }

.inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }

.inner_details_div .readmore_btn{ font-size: 16px;padding: 5px 0 !important; }

.inner_details_div .reply_box_div{ padding: 20px 20px;margin: 0;clear: both; }
.inner_details_div .reply_box_div .textarea-div{ padding: 0;margin: 0; }
.inner_details_div .reply_box_div .textarea-div .textarea_custom { background-color: #FAFAFA; border: none; resize: none; border-radius: 4px;width: 100%;padding: 15px;font-size: 14px; color: #666;line-height: 24px; }
.inner_details_div .reply_box_div .textarea-div .textarea_custom:focus { outline: none; }
.inner_details_div .reply_box_div .textarea-div .attachment_div{ padding: 0;margin: 0; }
.inner_details_div .footer_bottom_div { padding: 0 20px 0 0; margin: 0; }

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.oneline_show { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/**  Fan Club Details  ****/

.inner_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB;position: relative; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 5px; right: 5px; border-radius: 100%; border: 5px solid #fff; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 20px; margin: 0; float: left; min-height: 118px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }

.inner_details_div .user-content-details-div .member_details_row { padding:0px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; display: flex; align-items: center; }
.inner_details_div .user-content-details-div .member_details_row .contact_col:first-child { padding: 5px 25px 5px 0px; border-left: 0px solid #E5E5E5; display: flex; align-items: center; float: left; }
.inner_details_div .user-content-details-div .member_details_row .contact_col { display: flex; align-items: center; float: left; padding: 4px 25px 4px 25px; border-left: 1px solid #E5E5E5; }
.inner_details_div .user-content-details-div .member_details_row .contact_link { padding: 0px 0px 0 10px; margin: 0; font-size: 12px; color: #666; font-weight: 500; }

.inner_details_div .group-detail-btn-grp { clear: both; position: absolute; right: 15px; bottom: 20px; }
.inner_details_div .group-detail-btn-grp .btn-block-custom.btn-round.btn-leave { padding: 7px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px; }
.inner_details_div .group-detail-btn-grp .btn-block-custom.btn-round.btn-invite { padding: 7px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px; }

.sorting-div { padding: 0; margin: 0 -15px 15px -15px; display: flex; align-items: center; justify-content: flex-end; }
.sorting-div .sorting-form { border: 1px solid #F6F7FB; width: 150px; display: inline-block; }
.sorting-div .sorting-form:focus { box-shadow: none; }
.sorting-div .sorting-txt { display: inline-block; margin: 0; padding: 0 10px 0 0; font-size: 14px; font-weight: 400; color: #666; text-transform: capitalize; }


/**  Fan Club Details  ****/

.dataget-div { margin-top: 15px; padding-top: 15px; border-top: 1px solid #F6F7FB; }



/* add home css */

.feed-div .user-details-1 { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.feed-div .user-details-1 h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.feed-div .feed-owner-detailp-div{ padding: 5px 0 0 0; }
.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }
.post-view-02 { padding: 0 0 5px 0; }
.feed-div .post-view-02 > p { padding: 5px 0; margin: 0; float: right; display: flex; align-items: center; }
.reply-comment-div{ padding: 0px 0 0 0; margin: 0;border-top: 1px solid #F6F7FB; }
.reply-comment-div .reply-row{ padding: 15px 0 0 0; margin: 0;clear: both; }
.reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: left;width: 6%;  }
.reply-comment-div .reply-row .user-img-thumb .user-span-round{ padding: 0px 0; margin: 0;width: 100%;width: 50px; height: 50px;display: inline-block; }
.reply-comment-div .reply-row .user-img-thumb .user-span-round .user_img{ padding: 0px 0; margin: 0;width: 100%;border-radius:100%; }

.reply-comment-div .reply-row .comment_box { padding: 0px 0px 0 15px; margin: 0; display: inline-block; float: left;width: 94%;position: relative;  }
.reply-comment-div .reply-row .comment_box .comment-textarea { max-height: 240px; overflow: hidden; overflow-wrap: break-word; min-height: 50px; resize: none; padding: 10px 65px 10px 25px; font-size: 18px; border-radius: 30px; border: 1px solid #E2E2E2; background: #FAFAFA; font-weight: 400; }
.reply-comment-div .reply-row .comment_box .comment-textarea:focus{ box-shadow: none !important; }
.reply-comment-div .reply-row .comment_box .btn-comment-send { position: absolute; top: 0; right: 0; height: 50px; padding: 13px 15px 10px 15px; background: #4886ff; border-radius: 0 30px 30px 0px; color: #fff; }

.reply-comment-div .reply-row.reply-listing-row{ padding: 15px 0 15px 0; margin: 0; }

.comment_desc_box{ padding: 15px 30px 15px 30px; font-size: 18px; border-radius: 30px; background: #FAFAFA; font-weight: 400; }
.comment_desc_box h4{ padding: 0;margin: 0 0 8px 0;font-size: 18px;color: #222222; }
.comment_desc_box p{ padding: 0;margin: 0 0 0px 0; color: #666666; line-height: 28px; font-size: 18px; font-weight: 400; }

.comment_listing_div{ padding: 0 0 15px 0;margin: 0;border-bottom: 1px solid #F6F7FB; }
.comment_listing_div:first-child{ padding: 0 0 0 0;margin: 0; }

.comment-textarea::-webkit-input-placeholder {  color: #66666680 !important; }
.comment-textarea::-moz-placeholder { color: #66666680 !important; }
.comment-textarea:-ms-input-placeholder { color: #66666680 !important; }
.comment-textarea:-moz-placeholder { color: #66666680 !important; }

.feed-home-tab{ background-color: transparent !important; }
.repeat_feed_div{ margin: 0 -15px 15px -15px !important;  padding: 15px 20px; clear: both;background-color: #fff; }

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 65px; height: 65px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }


/* end of home css  */

.heading-title-div { margin: 0 0 25px 0;}
/*  */


@media only screen and (max-width: 767px){

    /**  Fan Club Details  ****/

    .inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%; }
    .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; min-height: 100%; width: 100%;}

    .fc_desc_info_div .b2b_body_div .row_line { margin: 0 0 15px 0; display: block; }
    .fc_desc_info_div .b2b_body_div .row_line .title_txt_col { width: 100%; }
    .fc_desc_info_div .b2b_body_div .row_line .desc_txt_col { width: 100%; }

    .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 0 0 0px 0; width: 100%; }
    .inner_details_div .user-content-details-div .member_details_row { margin: 0 0 5px 0; display: flex; width: 100%; align-items: center; justify-content: center; width: 100%; flex-direction: column;}
    .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 20px 0 0px 0; width: 100%; }
    .inner_details_div .user-content-details-div .member_details_row .contact_col { padding: 10px 25px 10px 0px; border-left: 0px solid #E5E5E5; }
    .inner_details_div .group-detail-btn-grp { position: relative; right: auto; bottom: auto; margin: 10px 0 0 0; display: block; }

    .inner_details_div .ip_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; display: flex; align-items: center; flex-direction: column; }
    .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 20px 0 0px 0; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
    
    /** End of Fan Club Details  ****/

    /*  home css  */

    .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
    .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
    .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
    .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
    .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
    .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }

    .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
    
    .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 0 5px 0; }
    .send-post-div .share-post { height: 125px; }

    .btn-icon span {display: none;}
    .send-post-div .icon1 {margin-right: 0;}
    .send-post-div .footer-input-box {padding: 15px;}


    .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
    .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
    .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0;}
    .comment_desc_box {padding: 15px 20px;}
    .comment_desc_box h4 {line-height: 16px;}
    .reply-row .user-span-round {margin-top: 8px !important;}

    /* end of css  **/
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .common-tab .custom-pills li { padding: 0px 0 10px 0; margin: 0 50px 20px 0; }
    
     /**  Fan Club Details  ****/

     .inner_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 0px 15px;}
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%;height: 100px;width: 100px; }
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; min-height: 100%; width: 100%; }
 
     .fc_desc_info_div .b2b_body_div .row_line { margin: 0 0 15px 0; display: block; }
     .fc_desc_info_div .b2b_body_div .row_line .title_txt_col { width: 100%; }
     .fc_desc_info_div .b2b_body_div .row_line .desc_txt_col { width: 100%; }
 
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 0 0 0px 0; width: 100%; }
     .inner_details_div .user-content-details-div .member_details_row { margin: 0 0 15px 0;  width: 100%; flex-direction: column; justify-content: flex-start;align-items: flex-start; }
     .inner_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { margin: 20px 0 0px 0; width: 100%; }
     .inner_details_div .user-content-details-div .member_details_row .contact_col { padding: 10px 25px 10px 0px; border-left: 0px solid #E5E5E5; }
     
     /** End of Fan Club Details  ****/

    /*  home css  */

    .modal.home_custom_modal .modal-dialog { width: 700px; max-width: 600px !important; }
    .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
    .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
    .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
    .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
    .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
    .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
    .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }

    

    /* end of home css  */



}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}   

