.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -73px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }
.grid_card_box .top_heading_div .skill_desciption_div p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666; line-height: 16px; letter-spacing: -0.1px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
span.cost-type { font-size: 12px; font-weight: 500; text-transform: capitalize; color: #666; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { padding: 0; margin: 0 0 5px 0; font-size: 16px; font-weight: 500; color: #222222; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.show_before_time { clear: both; padding: 0 0 15px 0; }
.show_response_time_div { clear: both; padding: 0 0 15px 0; font-size: 12px; color: #666; }
.custom-tab-content .tab-pane { margin-top: 25px; }

.heading-title-div { margin: 0 0 25px 0; }


.tab-featured1 .grid_card_box {
    min-height: 100%;
}
.post_tab .grid_card_box {
    min-height: 100%;
}

/* added by aakhil */



.job-board-img img {width: 100%;}


@media only screen and (max-width: 767px){
    
    .filter_card_div.filter_card02_div .filter-txt-btn { top: -60px;font-size: 14px; }
    .custom-tab-content .tab-pane { margin-top: 0 !important; }
    .custom-tab-content { padding: 0px; margin: 0px 0 0 0; }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { width: 60px; height: 60px; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { min-height: 60px; }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}   

