.feed-div .user-details-1 { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.feed-div .user-details-1 h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.feed-div .feed-owner-detailp-div{ padding: 5px 0 0 0; }
.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }

.post-view-02 { padding: 0 0 5px 0; }

.feed-div .post-view-02 > p { padding: 5px 0; margin: 0; float: right; display: flex; align-items: center; }

.reply-comment-div{ padding: 0px 0 0 0; margin: 0;border-top: 1px solid #F6F7FB; }
.reply-comment-div .reply-row{ padding: 15px 0 0 0; margin: 0;clear: both; }
.reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: left;width: 6%;  }
.reply-comment-div .reply-row .user-img-thumb .user-span-round{ padding: 0px 0; margin: 0;width: 100%;width: 50px; height: 50px;display: inline-block; }
.reply-comment-div .reply-row .user-img-thumb .user-span-round .user_img{ padding: 0px 0; margin: 0;width: 100%;border-radius:100%; }

.reply-comment-div .reply-row .comment_box { padding: 0px 0px 0 15px; margin: 0; display: inline-block; float: left;width: 94%;position: relative;  }
.reply-comment-div .reply-row .comment_box .comment-textarea { max-height: 240px; overflow: hidden; overflow-wrap: break-word; min-height: 50px; resize: none; padding: 10px 65px 10px 25px; font-size: 18px; border-radius: 30px; border: 1px solid #E2E2E2; background: #FAFAFA; font-weight: 400; }
.reply-comment-div .reply-row .comment_box .comment-textarea:focus{ box-shadow: none !important; }
.reply-comment-div .reply-row .comment_box .btn-comment-send { position: absolute; top: 0; right: 0; height: 50px; padding: 13px 15px 10px 15px; background: #4886ff; border-radius: 0 30px 30px 0px; color: #fff; }

.reply-comment-div .reply-row.reply-listing-row{ padding: 15px 0 15px 0; margin: 0; }

.comment_desc_box{ padding: 15px 30px 15px 30px; font-size: 18px; border-radius: 30px; background: #FAFAFA; font-weight: 400; }
.comment_desc_box h4{ padding: 0;margin: 0 0 8px 0;font-size: 18px;color: #222222; }
.comment_desc_box p{ padding: 0;margin: 0 0 0px 0; color: #666666; line-height: 28px; font-size: 18px; font-weight: 400; }

.comment_listing_div{ padding: 0 0 15px 0;margin: 0;border-bottom: 1px solid #F6F7FB; }
.comment_listing_div:first-child{ padding: 0 0 0 0;margin: 0; }

.comment-textarea::-webkit-input-placeholder {  color: #66666680 !important; }
.comment-textarea::-moz-placeholder { color: #66666680 !important; }
.comment-textarea:-ms-input-placeholder { color: #66666680 !important; }
.comment-textarea:-moz-placeholder { color: #66666680 !important; }

.feed-home-tab{ background-color: transparent !important; }
.repeat_feed_div { margin: 0 -15px 15px -15px !important; padding: 15px 15px; clear: both; background-color: #fff; margin-top: 15px; }
.repeat_feed_div:first-child { margin-top: 0px; }

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 65px; height: 65px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.header-input-box textarea::placeholder {color: rgba(102, 102, 102, .5);font-size: 18px;line-height: 20px; font-weight: 400;}
.send-post-div .share-post { padding: 10px!important; min-height: 100px;  color: #666666; }
.send-post-div .share-post:focus {border: 1px solid #F6F7FB !important;}
.btn-icon span {display: inline;}

.user-detail-row-2 p {color: #666666; line-height: 23px; font-size: 16px;}
.feed-div .user-details-1 p {font-size: 16px; line-height: 23px; color: #666666;}
.more-img {transform: rotate(90deg)}
.post-view p span {font-size: 16px; line-height: 23px; color: #666666;}
.comment_desc_box h4 {line-height: 28px;}

.topic-header h3 {font-size: 20px; margin-bottom: 10px !important;}

.user-profile .user-content h4 {letter-spacing: 0;}
.custom-card-1 .custom-body-1 h4 {font-size: 18px;font-weight: 500; line-height: 17px; margin-bottom: 5px;}
.custom-card-1 .img-user-card {margin: 10px 0 0 0;}
.custom-card-1 .custom-body-1 p {font-size: 16px; color: #666666; line-height: 20px;}
.custom-card-1 .custom-body-1 p.location-p{ font-size: 14px; }
.bg-listing.listing-div-01 > p {color: #666;}

.user-profile .user-content .location-p {letter-spacing: 0;}
.user-profile .user-content p {line-height: 14px;}
.network-content p a {color: #666666;}

.custom-tab-content .tab-pane { padding: 0 15px; margin-top: 15px; }
.feed-div.user-detail-row-2.border-top-topic { padding: 15px 0 0 0 !important; }
.profile-one .link-222 {color: #222;font-size: 13px;font-weight: 400;line-height: 21px; }
.profile-one .link-222:hover {color: #0089e8;}
.profile-status-div { padding: 20px 0px 20px 0px; }

/**  Article  **/

.article-root-div { position: relative; }
.article-root-div .tab-common-div{ padding: 0 15px; margin-top: 15px; border: 1px solid #F6F7FB; display: block;background-color: transparent !important; }
.article-root-div .send-post-div .cover-input-box { padding: 12px 12px 0 12px; }
.article-root-div .send-post-div .cover-input-box .change-cover-btn{ width: 100%;    padding: 0; }
.article-root-div .send-post-div .cover-input-box .change-cover-btn label { width: 100%; background-color: rgba(244, 244, 244, 0.5); border: 1px solid rgba(226, 226, 226, 0.5); color: #666666; min-height: 240px; max-height: 240px; margin: 0 0 12px 0; display: flex; align-items: center; justify-content: center; opacity: 1; border-radius: 3px 3px 0px 0px; font-size: 18px; font-weight: 400; }
.article-root-div .send-post-div .cover-input-box span.txt-file {  color: #66666680; }
.article-root-div .send-post-div .cover-input-box .post_icons.img-icon { margin: 0 10px 0 0; color: #AFAFAF; font-size: 24px; }

.article-root-div .edit-article-div{ padding: 0; margin: 0; }
.article-root-div .edit-article-div .edit-post-div{ padding: 12px; margin: 0; }
.article-root-div .edit-article-div .send-post-div .cover-input-box{ padding: 0; margin: 0; }
.article-root-div .edit-article-div .send-post-div .footer-input-box{ padding: 0; margin: 12px 0 0 0; }

.article-root-div .edit-article-div .cover-image-box{ padding: 0px; margin: 0 0 20px 0;position: relative; }
.article-root-div .edit-article-div .cover-image-box .img-thumb{ padding: 0px; margin: 0; }
.article-root-div .edit-article-div .cover-image-box .img-thumb .cover_img{ padding: 0px; margin: 0;width: 100%;border-radius: 3px; }
.article-root-div .edit-article-div .cover-image-box .close-btn { padding: 0; margin: 0; position: absolute; top: 15px; right: 15px; }
.article-root-div .edit-article-div .cover-image-box .close-btn .cancel_span{ padding: 0; margin: 0; }
.article-root-div .edit-article-div .cover-image-box .close-btn .post_icons.cancel-icon { font-size: 24px; color: #000000; }
.article-root-div .edit-article-div .cover-image-box .btn-drag-div {  position: absolute;  top: 0;  left: 0;  display: flex;  height: 100%;  align-items: center;  justify-content: center;  width: 100%; }
.article-root-div .edit-article-div .cover-image-box .btn-transaprent02 { height: auto; padding: 5px 14px; font-size: 12px; font-weight: 500; line-height: 16px; border-radius: 100px; color: #222; background-color: #f6f7fb80; border: none; transition: all 0.3s ease-in-out; height: 24px; }
.article-root-div .edit-article-div .cover-image-box .btn-transaprent02 .drag_icon { float: left; font-size: 17px;color: #000; }
.article-root-div .edit-article-div .cover-image-box .btn-transaprent02 .btn_txt { float: left; padding: 0 0 0 8px; }

.article-root-div .edit-article-div .editor-textbox-desc{ padding: 0; margin: 0 0 15px 0; }
.article-root-div .edit-article-div .editor-textbox-desc h3{ padding: 0; margin: 0 0 10px 0; }
.article-root-div .edit-article-div .editor-textbox-desc p { padding: 0; margin: 0 0 10px 0; font-size: 14px; line-height: 23px; font-weight: 400; color: #666666; }
.article-root-div .edit-article-div .editor-textbox-desc .color1 { color: #222222 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .color2 { color: #000000 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .color3 { color: #666666 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-28 { font-size: 28px !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-24 { font-size: 24px !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-18 { font-size: 18px !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-14 { font-size: 14px !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-regular { font-weight: 400 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-medium { font-weight: 500 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-semibold { font-weight: 600 !important; }
.article-root-div .edit-article-div .editor-textbox-desc .font-bold { font-weight: 700 !important; }

.article-root-div .edit-article-div .upload-img-listing{ padding: 0; margin: 0; width: 100%; }
.article-root-div .edit-article-div .upload-img-listing .img-box-div { padding: 0; margin: 0 12px 12px 0; width: 130px; float: left;position: relative; }
.article-root-div .edit-article-div .upload-img-listing .add-image-input-box .change-cover-btn{ width: 100%; padding: 0; border-radius: 0px;border: none; }
.article-root-div .edit-article-div .upload-img-listing .add-image-input-box .change-cover-btn label { width: 100%; background-color: #E7F2FF; border: 1px dashed #0089E8; color: #0089E8; min-height: 130px; display: flex; align-items: center; justify-content: center; opacity: 1; border-radius: 0; font-size: 18px; font-weight: 400; }
.article-root-div .edit-article-div .upload-img-listing .add-image-input-box .post_icons.add-icon{ color: #0089E8; font-size: 24px; }
.article-root-div .edit-article-div .upload-img-listing .add-image-box .img_box{ padding: 0; margin: 0; width: 100%; }
.article-root-div .edit-article-div .upload-img-listing .img-box-div .btn.btn-icon-a { position: absolute; top: 0; height: 100%; right: 0; width: 100%; border-radius: 0px; background-color: rgba(34, 34, 34, 0.68);line-height:0px; opacity: 0;transition: opacity 0.3s ease-in-out; }
.article-root-div .edit-article-div .upload-img-listing .img-box-div .btn.btn-icon-a .upload-i.delete-icon { color: #FF5A4E; }
.article-root-div .edit-article-div .upload-img-listing .img-box-div:hover .btn.btn-icon-a{ opacity: 1; }

/**  End of Article  **/

@media only screen and (max-width: 767px){

    .post-view-02 .social-btn-link .post_txt { font-size: 16px; } 
    .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
    .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
    .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
    .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
    .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }

    .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
    
    .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 5px 0px 0; }
    .send-post-div .share-post { height: 125px; }

    /* New added by aakhil */

    .btn-icon span {display: none;}
    .send-post-div .icon1 {margin-right: 0;}
    .send-post-div .footer-input-box {padding: 15px;}


    .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
    .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
    .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0;}
    .comment_desc_box {padding: 15px 20px;}
    .comment_desc_box h4 {line-height: 16px;}
    .reply-row .user-span-round {margin-top: 8px !important;}

    /**  Article  **/

    .article-root-div .edit-article-div .upload-img-listing .img-box-div{ width: 100px; }
    .article-root-div .edit-article-div .upload-img-listing .add-image-input-box .change-cover-btn label{ min-height: 100px; }

    /**  End of Article  **/
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .modal.home_custom_modal .modal-dialog { width: 700px; max-width: 600px !important; }
    .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
    .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
    .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
    .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
    .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
    .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
    
    .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }

    /* .send-post-div .share-post {width: 95%;} */


    .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
    .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 50px; width: 50px;}
    .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0;}
    .comment_desc_box {padding: 15px 20px;}
    .comment_desc_box h4 {line-height: 16px;}
    .reply-row .user-span-round {margin-top: 8px !important;}

    /**  Article  **/

    .article-root-div .edit-article-div .upload-img-listing .img-box-div{ width: 100px; }
    .article-root-div .edit-article-div .upload-img-listing .add-image-input-box .change-cover-btn label{ min-height: 100px; }

    /**  End of Article  **/

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .reply-comment-div .reply-row .user-img-thumb {width: 10%;}
    .reply-comment-div .reply-row .comment_box {width: 90%;}
    .send-post-div .share-post {width: 96%;}

}   



@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .send-post-div .share-post {width: 95%;}
    
}


@media (max-width: 320px){

    .feed-div .user-details-1 p {font-size: 14px;}
    .header-input-box textarea::placeholder {font-size: 14px;}
    .listing-div-01 > p { width: 100%; }
    .post-view-02 .social-btn-link .post_txt { font-size: 14px; line-height: 18px;padding: 0 0 0 8px; }
    .material-icons.post_icons {   font-size: 18px; }
    .post-view p span { font-size: 14px; line-height: 18px; }
    
}