
.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -60px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }

/* New added css */

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div {height: 60px; width: 60px;max-width:18%; }
.grid_card_box {width: 50%;}

.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600;position: relative; width: 100%; padding-right: 65px;    display: flex; align-items: center; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.budges-span {font-size: 14px; font-weight: 500;}
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 80%; min-width: 57%; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div p { font-size: 16px; color: #666666; }

.grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 82%;}
.labeltime {color: #66666680; font-size: 14px; font-weight: 500; line-height: 24px;text-transform: capitalize;position: absolute; right: 0; top: 0; }

.btn-div-row { padding: 0; margin: 0; display: flex; width: 100%; display: block; clear: both; text-align: right; }
.btn-div-row .link-remove { font-size: 14px; font-weight: 500; color: #FF5A4E;padding: 7px 0; }
.btn-div-row .link-remove:hover { color: #d14e44; }
.btn-div-row .btn-message { background-color: #0089E8; color: #fff; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; }
.btn-div-row .btn-message:hover { background-color: #0053C4; }
.btn-div-row .btn-refer {background-color: #F4F4F4; color: #666666; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; margin-right: 8px;}
.btn-div-row .btn-refer:hover { background-color: #DDDDDD; }

.btn-div-row .left-align{ float: left; }

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status {bottom: 5px !important; top: auto; }
.tab-featured1 .grid_card_box {min-height: auto;}

.post_tab .grid_card_box {min-height: auto;}
.tab-pane.post_tab .grid_card_box .top_heading_div .skill_desciption_div {padding-top: 12px;}


/**  Post Modal  *********/

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 50px; height: 50px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666;    line-height: 24px; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }  


.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/**  End of Post Modal  *********/

/***  reffral css  *******/

.bottom_btngroup_div { padding: 7px 0; margin: 0; }
.bottom_btngroup_div .reffred_left_btn_row { padding: 0; margin: 0; display: flex; width: 75%; float: left; align-items: center; }
.bottom_btngroup_div span.referred-by-span { padding: 0; margin: 0; font-size: 14px; color: #666666; min-width: 28%; text-align: left; }
.bottom_btngroup_div .reffred_right_btn_row{ padding: 0;margin: 0;display: inline-block;width: 25%;float: left; }
.bottom_btngroup_div .link-reffred { color: #222222; font-weight: 500; font-size: 16px; padding: 5px; overflow: hidden; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; min-width: 73%; text-align: left; float: left; }

/***  End of reffral css  *******/

.grid_card_box .top_heading_div .skill_desciption_div { padding: 10px 0 10px 0; }
.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0;}


/***********************************/
/********  Reffral Modal  **********/
/***********************************/

.refer-modal.modal.right_custom .modal-dialog{  width: 700px; }
.refer-modal.modal.right_custom .modal-dialog .modal-body.refer-body{ padding: 20px 0px 20px 0px; }
.refer-modal .refer-body-div{ padding: 0; margin: 0; }

.refer-modal .refer-div{ padding: 0;margin: 0; }
.refer-modal .refer-div .user-listing-left { padding: 0; margin: 0; width: 40%; background-color: #fff; border-radius: 3px;   float: left; }
.refer-modal .refer-div .user-listing-left .refer-user-listing { padding: 0; margin: 0; height: 400px; overflow-y: scroll; border: 1px solid #E2E2E2; border-top: none; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row{ padding: 0;margin: 0; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row { padding: 8px 10px 8px 40px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #EFEFEF;position: relative;  }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .img_thumb_div { padding: 0; margin: 0; width: 40px; height: 40px; float: left; max-width: 23%; position: relative; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .img_thumb_div .user-profile-link { clear: both; display: inline-block; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .user-content-div { padding: 0px 0 0 10px; margin: 0; float: left; min-height: 40px; display: flex; justify-content: center; flex-direction: column; width: 77%; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .user-content-div h3 { padding: 0; margin: 0 0 2px 0; font-size: 16px; font-weight: 500; color: #222222; display: flex; align-items: center; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row span.name-txt { max-width: 136px; overflow: hidden; display: inline-block; white-space: pre; }
.refer-modal .refer-div .user-listing-left .refer-user-listing .user-row:hover{ background-color: #F5FAFF; }

.user-row.checked-div { background-color: #F5FAFF; }

.refer-modal .refer-div .user-listing-left .rc-header-div { padding: 15px 10px; margin: 0; background-color: #fafafa;border: 1px solid #E2E2E2; }
.refer-modal .refer-div .user-listing-left .rc-header-div .form-group{ padding: 0; margin: 0; }
.refer-modal .refer-div .user-listing-left .rc-header-div .form-group label { font-size: 14px; color: #666; margin: 0 0 8px 0; }
.refer-modal .refer-div .user-listing-left .rc-header-div .form-group .form-control { padding: 5px 10px; font-size: 14px; line-height: 24px; color: #666666; border: 1px solid #ddd; border-radius: 0px; }
.refer-modal .refer-div .user-listing-left .rc-header-div .form-group .form-control:focus, .refer-div .user-listing-left .rc-header-div .form-group .form-control:hover { box-shadow: none; }

.refer-modal .refer-div .refer-window-right { padding: 0; margin: 0; width: 60%; float: left; padding-left: 0px;position: relative; }
.refer-modal .refer-div .refer-window-box { padding: 10px; margin: 0; width: 100%; background-color: #fff; border-radius: 3px; float: left; border: 1px solid #E2E2E2; }
.refer-modal .refer-div .refer-window-box ul.additional-ul{ padding: 0; margin: 0; }
.refer-modal .refer-div .refer-window-box .additional-ul li { display: inline-block; position: relative; }
.refer-modal .refer-div .refer-window-box .additional-ul li .addition-details-btn { padding: 12px 42px 10px 20px; margin: 0 0px 0px 0; background-color: #E7F2FF; color: #0089E8; border-radius: 0px 100px 100px 0px; font-size: 14px; line-height: 16px; float: left; margin-left: 46px; }
.refer-modal .refer-div .refer-window-box .additional-ul li .addition-details-btn .material-icons.icon-close { font-size: 16px; line-height: 21px; position: absolute; right: 13px; top: 11px; }
.refer-modal .refer-div .refer-window-box .additional-ul li .img-left-round { padding: 0; margin: 0; width: 50px; height: 50px; float: left; position: absolute; top: 0px; left: 5px; z-index: 9; border-radius: 100%; }
.refer-modal .refer-div .refer-window-box .additional-ul li .img-left-round img.img-user{ padding: 0; margin: 0;width: 100%; border-radius:100%;  }
.refer-modal .refer-div .refer-window-box .additional-ul li .img-left-round .user-profile-link { float: left; display: inline-block; }
.chip-div { height: 50px; display: flex; align-items: center; float: left; justify-content: flex-start; margin: 0 0 10px 0; }
.chip-div span.user-name-txt { max-width: 65px; overflow: hidden; display: inline-block;     white-space: nowrap; text-overflow: ellipsis; }

.refer-modal .refer-div .refer-window-box { padding: 50px 10px 10px 10px; margin: 0; width: 100%; background-color: #fff; border-radius: 0px; float: left; border: 1px solid #E2E2E2; height: 490px;overflow-y: scroll; }
.selected-div { padding: 15px 10px; margin: 0; position: absolute; top: 1px; left: 1px; width: calc(100% - 15px); z-index: 99; background-color: #fff; }
.selected-div p{margin: 0 0 0px 0; padding: 0 3px; font-size: 14px; font-weight: 400; color: #666;}

.refer-modal .refer-div .user-listing-left .refer-user-listing::-webkit-scrollbar { background-color:#fff; width:8px }
.refer-modal .refer-div .user-listing-left .refer-user-listing::-webkit-scrollbar-track {  background-color:#fff }
.refer-modal .refer-div .user-listing-left .refer-user-listing::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.refer-modal .refer-div .user-listing-left .refer-user-listing::-webkit-scrollbar-button {display:none}

.refer-modal .refer-div .refer-window-box::-webkit-scrollbar { background-color:#fff; width:8px }
.refer-modal .refer-div .refer-window-box::-webkit-scrollbar-track {  background-color:#fff }
.refer-modal .refer-div .refer-window-box::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.refer-modal .refer-div .refer-window-box::-webkit-scrollbar-button {display:none}

.refer-modal .refer-div .checkbox-div { padding: 0; margin: 0; position: absolute; top: 21px; left: 12px; }
.refer-modal .refer-div .input-checkbox{ -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-color: transparent; color: #fff; top: 0px; height: 16px; width: 16px; border: 2px solid #666666; cursor: pointer; margin-right: 10px; outline: none!important; vertical-align: middle; border-radius: 2px; }
.refer-modal .refer-div .input-checkbox:checked { background-color: #0089E8;  border-color: #0089E8; }
.refer-modal .refer-div .input-checkbox:checked::before { position: absolute; left: 2px; top: -1px; font-size: 13px; content: '\02143'; transform: rotate(40deg); }

.modal.right_custom.refer-modal .modal-body { padding: 20px 20px 20px 20px; }
.modal.right_custom.refer-modal .modal-body .form-refer label { font-size: 14px; color: #222222; margin: 0 0 8px 0; }
.modal.right_custom.refer-modal .modal-header.modal-header2 .modal-title{  padding: 10px 20px; }
.modal.right_custom.refer-modal button.close{ padding: 0 25px; }



/***********************************/
/******  End of Reffral Modal  *****/
/***********************************/


@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; padding: 15px 0 0 0; }
    .btn-div-row .btn-message {padding: 8px 15px;}
    .btn-div-row .btn-refer {padding: 8px 15px;}
    .filter_card_div.filter_card02_div .filter-txt-btn {  top: -72px;font-size: 16px; }

    .btn-div-row { padding: 0; }
    .btn-div-row .link-remove { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-message { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-refer { width: 100%;margin: 0 0 10px 0; }

    /***  reffral css  *******/

    .grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 78%; min-width: 60%; }
    .bottom_btngroup_div .reffred_left_btn_row { width: 100%; }
    .bottom_btngroup_div .reffred_right_btn_row { width: 100%; }

    /* change css */

    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; }

    /* end of change css */

    /***  End of reffral css  *******/
    
    /***********************************/
    /********  Reffral Modal  **********/
    /***********************************/


    .refer-modal .refer-div .user-listing-left{     width: 100%; }
    .refer-modal .refer-div .refer-window-right { width: 100%; margin: 15px 0 0 0; }
    .refer-modal .refer-div .user-listing-left .refer-user-listing { height: 285px; }
    .refer-modal .refer-div .refer-window-box{     height: 360px; }
    
    /***********************************/
    /******  End of Reffral Modal  *****/
    /***********************************/

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 85%;}

    /***********************************/
    /********  Reffral Modal  **********/
    /***********************************/

    .refer-modal.modal.right_custom .modal-dialog { width: 700px; max-width: 600px; }
    .refer-modal .refer-div .user-listing-left .refer-user-listing .user-row{ padding: 11px 10px 10px 40px; }
    .refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .img_thumb_div { width: 35px; height: 35px; max-width: 22%; }
    .refer-modal .refer-div .user-listing-left .refer-user-listing .user-row .user-content-div{     min-height: 35px;    width: 78%; }
    .refer-modal .refer-div .refer-window-box .additional-ul li .addition-details-btn { padding: 8px 35px 6px 12px; margin-left: 40px; }
    .refer-modal .refer-div .refer-window-box .additional-ul li .addition-details-btn .material-icons.icon-close{  top: 7px; }
    .refer-modal .refer-div .refer-window-box .additional-ul li .img-left-round { width: 40px; height: 40px; top: 5px; left: 5px; }

    .chip-div span.user-name-txt { max-width: 62px; }
    .refer-modal .refer-div .refer-window-box{ padding: 45px 10px 10px 10px; }


    /***********************************/
    /******  End of Reffral Modal  *****/
    /***********************************/

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 90%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title {min-width: 30%;}
}   
@media only screen and (max-width: 320px){

    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 76%;}
    .btn-div-row .btn-message {padding: 6px 10px; font-size: 12px;}
    .btn-div-row .btn-refer {padding: 6px 10px; font-size: 12px;}

    /* change css */

    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; }
    .grid_card_box .top_heading_div .user_profile_div .img_thumb_div{ max-width: 24%; }
    
    .bottom_btngroup_div span.referred-by-span { font-size: 13px; min-width: 30%; }
    .labeltime{     line-height: 22px; }

    /* end of change css */

    /***********************************/
    /********  Reffral Modal  **********/
    /***********************************/

    .refer-modal.modal.right_custom .modal-dialog { width: 300px; }
    .refer-modal.modal.right_custom .modal-title span.title_txt_span { font-size: 21px; }
    
    /***********************************/
    /******  End of Reffral Modal  *****/
    /***********************************/
    

}


