.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -73px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }
.grid_card_box .top_heading_div .skill_desciption_div p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666; line-height: 16px; letter-spacing: -0.1px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
span.cost-type { font-size: 12px; font-weight: 500; text-transform: capitalize; color: #666; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { padding: 0; margin: 0 0 5px 0; font-size: 16px; font-weight: 500; color: #222222; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.show_before_time { clear: both; padding: 0 0 15px 0; }
.show_response_time_div { clear: both; padding: 0 0 15px 0; font-size: 12px; color: #666; }
.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0; }

/* added by style */

.grid_card_box .top_heading_div .skill_desciption_div {padding: 0 0 12px 0 ;}
.grid_card_box  .job-applied .label_txt { font-size: 14px; font-weight: 500; color: #57D48F;}
.grid_card_box .job-applied .hour_txt {font-size: 14px; font-weight: 500; color: rgba(102, 102, 102, .50); line-height: 20px; justify-content: flex-end; display: flex;}
.job-board-img img {width: 100%;}
.grid_card_box .job-applied  {background-color: #fff;  border-top: 1px solid #F6F7FB; margin-top: 0px;}

/* Job board details */

.job_details_div{ padding: 0; }
.job_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.job_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.job_details_div .grid_card_box .top_heading_div { padding: 0px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }
.job_details_div .middle_area_div{ padding: 15px 20px 0px 20px; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 20px 20px 20px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 5px; right: 5px; border-radius: 100%; border: 5px solid #fff; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 0; float: left; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.job_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666;  }
.job_details_div .grid_card_box .top_heading_div .current_status{ padding: 0; margin: 0; font-size: 14px; font-weight: 500; color: #57D48F; width: 100%;  }
.job_details_div .grid_card_box .contact_row { padding: 10px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; }
.job_details_div .grid_card_box .contact_row .contact_col {  display: inline-block;  float: left;  padding: 4px 25px 4px 25px;  border-left: 1px solid #E5E5E5; }
.job_details_div .grid_card_box .contact_row .contact_col:first-child { padding: 5px 25px 5px 0px;  border-left: 0px solid #E5E5E5; }
.job_details_div .grid_card_box .contact_row .contact_link{ padding: 0px 0px 0 5px; margin: 0; font-size: 12px; color: #666; font-weight: 500;  }
.job_details_div .grid_card_box .details_row { padding: 15px 0; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; min-height: 110px; display: flex; align-items: flex-start; }
.job_details_div .grid_card_box .details_row .details_col.hourly_details_col { padding: 0px 0; margin: 0; width: 20%; float: left;  }
.job_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 8px 0; font-size: 16px; font-weight: 600; color: #222222;line-height: 24px; }
.job_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666; line-height: 16px; }
.job_details_div .grid_card_box .top_heading_div .skill_desciption_div h4 { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 500; color: #222222; line-height: 20px; }
.job_details_div .grid_card_box .top_heading_div .skill_desciption_div p { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 400; color: #666666; line-height: 23px; letter-spacing: -0.1px;    display: block; }
.job_details_div .btn-container-div{ padding: 0; margin: 0; }
.job_details_div .btn-container-div .readmore_btn { font-size: 16px; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.job_details_div .grid_card_box .details_row .details_col { padding: 15px 0; margin: 0; width: 25%; float: left; }
.job_details_div .grid_card_box .capsule_div_row .capsule_skill { background-color: #F6F7FB; padding: 5px 15px; border-radius: 3px; color: #666666; font-size: 13px; display: inline-block; margin: 0 6px 6px 0; float: left; }
.job_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 0 0 15px 0; text-align: right; }
.job_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 0px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }
.job_details_div .grid_card_box .top_heading_div .skill_name_div .capsule_div_row{ padding: 15px 0 5px 0; margin: 0; width: 75%; float: left; }
.job_details_div .grid_card_box .details_row .details_left_40{ width: 20%;float: left; }
.job_details_div .grid_card_box .details_row .details_left_40 .details_col { padding: 15px 0; margin: 0; width: 100%; float: left; }

.job_details_div .jb_details .user-content-details-div { width: 100%; min-height: 100% !important; padding: 0 !important; }
.job_details_div .jb_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.job_details_div .jb_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }
.job_details_div .grid_card_box .top_heading_div .skill_desciption_div { padding: 15px 0 15px 0; }

.job_details_div .job-part-div{ padding: 0; margin: 0; }
.job_details_div .job-part-div .similar_card_row_box { padding: 0; margin: 20px 0; }

.similar_card_row_box { padding: 0; margin: 0 -15px 0 0; }
.similar_card_row_box .similar_card_six { width: 50%; float: left; padding-right: 15px; margin: 0 0 15px 0; }
.similar_card_row_box .similar_card_six .jobs-box { padding: 15px 20px; margin: 0; background-color: #fff;  border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; }
.similar_card_row_box .similar_card_six .jobs-box .similar-job-links { padding: 0; margin: 0; text-align: center; display: block;margin: 0 0 10px 0; }
.similar_card_row_box .similar_card_six .jobs-box h4 { padding: 0; margin: 0 0 5px 0; font-size: 18px; font-weight: 400; color: #222222; line-height: 24px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.similar_card_row_box .similar_card_six .jobs-box p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666; line-height: 18px; letter-spacing: -0.1px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; }
.similar_card_row_box .heading_div { padding: 0; margin: 30px 0 15px 0; }
.similar_card_row_box .heading_div h3 { padding: 0 2px; margin: 0; font-size: 21px; font-weight: 400; color: #222; }

.btn-block.btn-lightblue { background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; padding: 6px 15px; text-transform: capitalize; font-weight: 600; font-size: 14px; border-radius: 100px; width: 50%; margin: 0 auto; text-align: center; }
.btn-block.btn-lightblue:hover { background: #D2E8F7; border-color:#D2E8F7; }

.modal.right_custom .modal-body.view-jobs-body { padding: 20px 20px 20px 20px; }
.modal.right_custom .modal-body.view-jobs-body .btn-block.btn-lightblue{ width: 100%; }



/* End of Job board details */


@media only screen and (max-width: 767px){
    
    .filter_card_div.filter_card02_div .filter-txt-btn { top: -60px;font-size: 14px; }
    .custom-tab-content .tab-pane { margin-top: 0 !important; }
    .custom-tab-content { padding: 0px; margin: 0px 0 0 0; }
    
    /* Job board details */

    .job_details_div .grid_card_box .top_heading_div .skill_name_div { width: 100%; border-left: 0px solid #F6F7FB; }
    .job_details_div .grid_card_box .details_row .details_left_40 { width: 100%; }
    .job_details_div .grid_card_box .details_row { border-bottom: 1px solid #F6F7FB; min-height: auto; display: block; }
    .job_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0; }

    .similar_card_row_box { margin: 0 0px 0 0; }
    .similar_card_row_box .similar_card_six { width: 100%; padding-right: 0px; margin: 0 0 15px 0; }
    .similar_card_row_box .similar_card_six .jobs-box{ padding: 15px 15px; }
    
    /* End of Job board details */


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { width: 60px; height: 60px; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { min-height: 60px; }

     /* Job board details */

     .job_details_div .grid_card_box .top_heading_div .skill_name_div { width: 100%; border-left: 0px solid #F6F7FB; }
     .job_details_div .grid_card_box .details_row .details_left_40 { width: 100%; }
     .job_details_div .grid_card_box .details_row { border-bottom: 1px solid #F6F7FB; min-height: auto; display: block; }
     .job_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0; }
 
     .similar_card_row_box { margin: 0 5px 0 0; }
     .similar_card_row_box .similar_card_six { padding-right: 5px; margin: 0 0 5px 0; }
     .btn-block.btn-lightblue{ width: 100%; }
     .modal.right_custom.view-job-modal .modal-dialog{  max-width: 550px; }   

     /* End of Job board details */
 
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}   


