.mp_details_div{ padding: 0; }
.mp_details_div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.mp_details_div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.mp_details_div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }
.mp_details_div .middle_area_div{ padding: 15px 20px 0px 20px; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { padding: 0; margin: 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { width: 20px; height: 20px; background-color: #57D48F; position: absolute; top: 5px; right: 5px; border-radius: 100%; border: 5px solid #fff; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { padding: 0px 0 0 20px; margin: 0; float: left; min-height: 118px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }
.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 0; margin: 0 0 0px 0; font-size: 18px; font-weight: 400; color: #666666; }

.mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div p { padding: 0; margin: 0; font-size: 12px; font-weight: 400; color: #666666;  }
.mp_details_div .grid_card_box .top_heading_div .current_status{ padding: 0; margin: 0; font-size: 14px; font-weight: 500; color: #57D48F; width: 100%;  }
.mp_details_div .grid_card_box .contact_row { padding: 10px 0 0 0; margin: 0; font-size: 12px; color: #666; font-weight: 500; }
.mp_details_div .grid_card_box .contact_row .contact_col {  display: inline-block;  float: left;  padding: 4px 25px 4px 25px;  border-left: 1px solid #E5E5E5; }
.mp_details_div .grid_card_box .contact_row .contact_col:first-child { padding: 5px 25px 5px 0px;  border-left: 0px solid #E5E5E5; }
.mp_details_div .grid_card_box .contact_row .contact_link{ padding: 0px 0px 0 5px; margin: 0; font-size: 12px; color: #666; font-weight: 500;  }
.mp_details_div .grid_card_box .details_row { padding: 15px 0; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; min-height: 110px; display: flex; align-items: flex-start; }

.mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { padding: 0px 0; margin: 0; width: 20%; float: left;  }

.mp_details_div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 8px 0; font-size: 16px; font-weight: 600; color: #222222;line-height: 24px; }
.mp_details_div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666; line-height: 16px; }
.mp_details_div .grid_card_box .top_heading_div .skill_desciption_div h4 { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 500; color: #222222; line-height: 20px; }
.mp_details_div .grid_card_box .top_heading_div .skill_desciption_div p { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 400; color: #666666; line-height: 23px; letter-spacing: -0.1px; }
.mp_details_div .btn-container-div{ padding: 0; margin: 0; }

.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }

.mp_details_div .grid_card_box .details_row .details_col { padding: 15px 0; margin: 0; width: 25%; float: left; }

.mp_details_div .grid_card_box .capsule_div_row .capsule_skill { background-color: #F6F7FB; padding: 5px 15px; border-radius: 3px; color: #666666; font-size: 13px; display: inline-block; margin: 0 6px 6px 0; float: left; }
.mp_details_div .grid_card_box .btn_group_row { padding: 15px 0 0 0; display: block; clear: both; margin: 0 0 15px 0; text-align: right; }
.mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 0px 15px 0px 15px; float: left; width: 80%; border-left: 1px solid #F6F7FB; }
.mp_details_div .grid_card_box .top_heading_div .skill_name_div .capsule_div_row{ padding: 15px 0 5px 0; margin: 0; width: 75%; float: left; }

.mp_details_div .grid_card_box .details_row .details_left_40{ width: 20%;float: left; }
.mp_details_div .grid_card_box .details_row .details_left_40 .details_col { padding: 15px 0; margin: 0; width: 100%; float: left; }

.grid_card_box .top_heading_div .skill_desciption_div { padding: 20px 0 20px 0;  }

/* New Edit in Post Task  */

.pt_details .user-content-details-div { width: 100%; min-height: 100% !important; padding: 0 !important; }
.pt_details .grid_card_box .top_heading_div .user_profile_div .user-content-details-div h4 { padding: 15px 0 10px 0; margin: 0 0 0px 0; font-size: 21px; font-weight: 400; color: #222; }
.pt_details .grid_card_box .top_heading_div .user_profile_div { width: 100%; }

/* End of New Edit in Post Task  */

@media only screen and (max-width: 767px){

    .mp_details_div .grid_card_box .top_heading_div { padding: 35px 0px 0px 0px; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%; margin: 0 0 20px 0; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div { padding: 0 15px 20px 15px; text-align: center; display: flex; align-items: center; flex-direction: column; }
    .mp_details_div .grid_card_box .details_row .details_col { margin: 0 0 15px 0; width: 50%;padding: 0 0 0 0;  }
    .mp_details_div .grid_card_box .contact_row .contact_col { padding: 0 0 0 0; border-left: none; text-align: center; width: 100%; margin: 0 0 10px 0; }
    .mp_details_div .grid_card_box .details_row { padding: 20px 0 10px 0; }
    .mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 15px 0px 0px 0px; float: left; width: 100%; border-left: 0px solid #F6F7FB; }
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 50%; }
    .mp_details_div .grid_card_box .details_row { width: 100%; border-bottom: 1px solid #F6F7FB; min-height:auto; display: block; }
    .mp_details_div .grid_card_box .details_row .details_left_40 { width: 100%; padding-bottom: 15px; border-bottom: 1px solid #F6F7FB; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { min-height: auto;width: 100%; }
    .mp_details_div .grid_card_box .btn_group_row .btn-block-custom.btn-round{ width: 100%; }

    /* New Edit in Post Task  */

    .mp_details_div .grid_card_box .btn_group_row .btn-block-custom.btn-round , .mp_details_div .grid_card_box .btn_group_row .btn.edit-btn{ width: 100%;margin: 0 0 10px 0; }

    /* End of New Edit in Post Task  */

    .response-since-top-right { right: 0; top: 15px; padding: 0; font-size: 14px;  width: 100%; }


}   

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    
    .mp_details_div .grid_card_box .details_row .details_col { margin: 0 0 15px 0; width: 33.3%;padding: 0 0 0 0; }
    .mp_details_div .grid_card_box .contact_row .contact_col { padding: 0 0 0 0; border-left: none; text-align: left; width: 100%; margin: 0 0 10px 0; }
    .mp_details_div .grid_card_box .details_row { padding: 20px 0 10px 0; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status { top: -2px; right: -4px; }

    .mp_details_div .grid_card_box .top_heading_div .skill_name_div { padding: 15px 0px 15px 0px; float: left; width: 100%; border-left: 0px solid #F6F7FB; }
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 100%; }
    .mp_details_div .grid_card_box .details_row { width: 100%; border-bottom: 1px solid #F6F7FB; min-height:auto; display: block; }
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 100%; }
    .mp_details_div .grid_card_box .details_row .details_left_40 { width: 100%; padding-bottom: 15px; border-bottom: 0px solid #F6F7FB; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { width: 60px; height: 60px; }
    .mp_details_div .grid_card_box .top_heading_div .user_profile_div .user-content-details-div { min-height: 70px; }

    /* New Edit in Post Task  */


    /* End of New Edit in Post Task  */


}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}

@media only screen and (max-width: 320px){
    .mp_details_div .grid_card_box .details_row .details_col.hourly_details_col { width: 100%; margin: 0 0 20px 0; }
 }