.heading-title-div { margin: 0 0 25px 0;}


/*  Messages  */

.messages_root{ padding: 0;margin: 0; }
.messages_root .heading-title-div { margin: 0 0 0px 0; border: none; }
.btn-right.request-btn.new-messages{ text-transform: none; }

.more-dropdown-f .btn-filter { padding:0 15px;margin: 0px 0px 0 0; background-color: transparent; border: none; height: 45px; line-height: 0;color: #666666; }
.more-dropdown-f .btn-filter .filter-icon{ color: #666666; }
.more-dropdown-f .dropdown-item:focus, .more-dropdown-f .dropdown-item:hover { color: #0089E8; text-decoration: none; background-color: #f8f9fa; }
.more-dropdown-f .dropdown-menu::before { position: absolute; content: ""; display: inline-block; border-top: 0px solid #fff0; border-left: 8px solid #0000; border-right: 8px solid #27161600; border-bottom: 8px solid #fff; top: -8px; right: 20px; }

.message-div{ padding: 0;margin: 0; }
.message-div .user-listing-left { padding: 0; margin: 0; width: 30%; background-color: #fff; border-radius: 3px;   float: left; }
.message-div .user-listing-left .heading-top{ padding: 0;margin: 0;box-shadow: 0 2px 6px 0 #6666661a;    border: 1px solid #E2E2E2; }
.message-div .user-listing-left .heading-top .custom-input-group .input-group-text { background-color: transparent; border: 1px solid transparent; padding: 0 0; }
.message-div .user-listing-left .heading-top .search-icon { color: #666666;  font-size: 21px; }
.message-div .user-listing-left .heading-top .custom-input-group .search-inputbox { background-color: transparent; border: 1px solid transparent; font-size: 14px; height: 45px; padding: 0 0px 0 10px; }
.message-div .user-listing-left .heading-top .input-group-prepend { margin-right: 0px; padding: 0 0px 0 15px; }
.message-div .user-listing-left .heading-top .filter-box-div { padding: 0;margin: 0; } 
.message-div .user-listing-left .heading-top .filter-box-div .filter-link { clear: both; display: inline-block; }

.message-div .user-listing-left .message-user-listing { padding: 0; margin: 0; overflow-y: scroll; border: 1px solid #E2E2E2;border-top: none;  }
.message-div .user-listing-left .message-user-listing .user-row{ padding: 0;margin: 0; }
.message-div .user-listing-left .message-user-listing .user-row { padding: 10px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #EFEFEF; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div { padding: 0; margin: 0; width: 50px; height: 50px; float: left; max-width: 25%; position: relative; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div .profile-status {  width: 14px;  height: 14px;  background-color: #57D48F;  position: absolute;  bottom: 0;  right: 0;  border-radius: 100%;  border: 3px solid #fff; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div .profile-status.active { background-color: #57D48F; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div .profile-status.inactive { background-color: #B1B1B1; }
.message-div .user-listing-left .message-user-listing .user-row .img_thumb_div .user-profile-link { clear: both; display: inline-block; }
.message-div .user-listing-left .message-user-listing .user-row .user-content-div { padding: 0px 0 0 10px; margin: 0; float: left; min-height: 50px; display: flex; justify-content: center; flex-direction: column; width: 75%; }
.message-div .user-listing-left .message-user-listing .user-row .user-content-div h3 { padding: 0; margin: 0 0 2px 0; font-size: 16px; font-weight: 500; color: #222222; display: flex; align-items: center; }
.message-div .user-listing-left .message-user-listing .user-row span.name-txt { max-width: 136px; overflow: hidden; display: inline-block; white-space: pre; }
.message-div .user-listing-left .message-user-listing .user-row .user-content-div .user-status { padding: 0; margin: 0; font-size: 14px; font-weight: 500; color: #57D48F; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; line-height: 20px; }
.message-div .user-listing-left .message-user-listing .user-row .user-content-div .user-status.last-seen { font-weight: 400; color: #666666; }
.message-div .user-listing-left .message-user-listing .user-row .span-badges { font-size: 12px; padding: 0 0 0 5px; font-weight: 400; }
.message-div .user-listing-left .message-user-listing .user-row:hover{ background-color: #F5FAFF; }

.message-div .messages-window-right { padding: 0; margin: 0; width: 70%; float: left; padding-left: 15px;position: relative; }
.message-div .messages-window-box { padding: 0; margin: 0; width: 100%; background-color: #fff; border-radius: 3px; float: left; }
.message-div .messages-window-box .heading-top { padding: 0 20px 0 20px; margin: 0; box-shadow: 0 2px 6px 0 #6666661a; clear: both; width: 100%; float: left; display: flex; align-items: center; min-height: 45px;    position: relative;border: 1px solid #E2E2E2; }
.message-div .messages-window-box .heading-top .left-heading { float: left; display: inline-block;width: 65%; }
.message-div .messages-window-box .heading-top .right-heading{ float: right; display: inline-block;width: 35%; }
.message-div .messages-window-box .heading-top h3 { padding: 0; margin: 0; font-size: 18px; color: #222222; font-weight: 600; }
.message-div .messages-window-box .heading-top .user-status { padding: 0 30px 0 0; margin: 0; font-size: 16px; font-weight: 500; color: #57D48F; float: right; }
.message-div .messages-window-box .heading-top .dropdown-box-div { padding: 0; margin: 0; float: right; position: absolute; top: 0; right: 0; }
.message-div .messages-window-box .heading-top .dropdown-box-div .dropdown-link{ clear: both; display: inline-block; }
.message-div .messages-window-box .heading-top .dropdown-box-div .more-dropdown-f .btn-filter { padding: 0 0px;  margin-right: 15px; }
.message-div .messages-window-box .heading-top .more-icon {  color: #66666675; }
.message-div .more-dropdown .dropdown-menu .dropdown-item{ color: #666666; }
.message-div .more-dropdown .dropdown-menu .dropdown-item:hover{ color: #0089E8; }

/* .messages-window-box .chat-message-content{ padding: 15px; margin: 0; position: relative; min-height: 600px; max-height: 600px; overflow-y: auto;border: 1px solid #E2E2E2;border-bottom: none;border-top: none;  } */

.messages-window-box .chat-message-content{ padding: 15px; margin: 0; position: relative; overflow-y: auto;border: 1px solid #E2E2E2;border-bottom: none;border-top: none;  }

.messages-window-box .chat-message-content .message-chat { padding: 0; margin: 0 0 10px 0; width: 65%; clear: both;float: right;position: relative; }
.messages-window-box .chat-message-content .message-chat .message-box { padding: 15px; margin: 0 0 20px 0; background-color: #0089E8; border-radius: 10px; color: #fff; }
.messages-window-box .chat-message-content .message-chat .message-box p { padding: 0px 0; margin: 0; font-size: 14px; line-height: 20px; color: #ffffff; }

.messages-window-box .chat-message-content .message-chat .userimg-div-chat { padding: 0; margin: 0; width: 100%; height: 16px; float: right; position: absolute; right: 0px; bottom: 0px; }
.messages-window-box .chat-message-content .message-chat .userimg-div-chat img.img-responsive{ width: 16px;border-radius: 100%; float: left;  }
.messages-window-box .chat-message-content .message-chat.messages-received { float: left; }
.messages-window-box .chat-message-content .message-chat.messages-received .message-box { background-color: #F5FAFF;  }
.messages-window-box .chat-message-content .message-chat.messages-received .message-box p { color: #666666; }
.messages-window-box .chat-message-content .message-chat.messages-received .userimg-div-chat { left: 0; right: auto; }




.bottom-fixed-post { padding: 6px 6px; margin: 0; width: calc(100% - 15px); display: block; position: absolute; bottom: -60px; right: 0; background: #E7F2FF; min-height: 58px; border: 1px solid #E2E2E2; }
.bottom-fixed-post .post-input-box01 { width: 80%; float: left; }
.bottom-fixed-post .post-input-box01 .form-control.textarea-control { border: 1px solid #E2E2E2; border-radius: 0; height: 44px; max-height: 80px; font-size: 13px; padding: 10px; padding-left: 45px; border-radius: 3px 0 0 3px; resize: none;line-height: 21px; }
.bottom-fixed-post .post-input-box01 .form-control.textarea-control:hover, .bottom-fixed-post .post-input-box01 .form-control.textarea-control:focus{ box-shadow: none; }
.bottom-fixed-post .btn-postdiv { width: 20%; float: left; padding: 0 0px 0 0px; }
.bottom-fixed-post .btn-postdiv .btn-send { border: 1px solid #E2E2E2; border-radius: 0; height: 44px; font-size: 16px; background-color: #0089E8; width: 100%; text-align: center; text-transform: none; color: #FFFFFF; font-weight: 500; border-left: 0px;border-radius: 0px 3px 3px 0; }

.messages-window-box .chat-message-content::-webkit-scrollbar { background-color:#fff; width:8px }
.messages-window-box .chat-message-content::-webkit-scrollbar-track {  background-color:#fff }
.messages-window-box .chat-message-content::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.messages-window-box .chat-message-content::-webkit-scrollbar-button {display:none}

.message-div .user-listing-left .message-user-listing::-webkit-scrollbar { background-color:#fff; width:8px }
.message-div .user-listing-left .message-user-listing::-webkit-scrollbar-track {  background-color:#fff }
.message-div .user-listing-left .message-user-listing::-webkit-scrollbar-thumb { background-color:#b5b5b54d; border-radius:16px; border:1px solid #fff; }
.message-div .user-listing-left .message-user-listing::-webkit-scrollbar-button {display:none}

.bottom-fixed-post .post-input-box01 .form-control.textarea-control::-webkit-input-placeholder {  color: #66666666 !important; }
.bottom-fixed-post .post-input-box01 .form-control.textarea-control::-moz-placeholder { color: #66666666 !important; }
.bottom-fixed-post .post-input-box01 .form-control.textarea-control:-ms-input-placeholder { color: #66666666 !important; }
.bottom-fixed-post .post-input-box01 .form-control.textarea-control:-moz-placeholder { color: #66666666 !important; }

.message-div .messages-window-box .add-dropdown-box-div .more-dropdown .dropdown-menu{ left: 0 !important; }
.message-div .messages-window-box .add-dropdown-box-div{ position: absolute; left: 0; }
.message-div .messages-window-box .add-dropdown-box-div { padding: 0; margin: 0; float: left; position: absolute; top: 13px; right: auto; left: 15px; width: 20px; display: inline-block; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-link{ clear: both; display: inline-block; }
.message-div .messages-window-box .add-dropdown-box-div .more-dropdown-f .btn-filter { padding: 0 0px;height: 30px; }
.message-div .messages-window-box .add-dropdown-box-div .more-icon {  color: #0089E8; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu::before { display: none; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu .dropdown-item { color: #666666; display: flex; align-items: center; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu .dropdown-item:hover{ color: #0089E8; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu .dropdown-item:hover .post_icons{ color: #0089E8; }
.message-div .messages-window-box .add-dropdown-box-div span.txt-span { padding: 0 5px 0 10px; }
.message-div .messages-window-box .add-dropdown-box-div .material-icons.post_icons{ font-size: 18px; }

/*  Share Business Card  */

.selectbox-modal .searchbox-div{ padding: 0; margin:0 0 0px 0; }
.selectbox-modal .searchbox-div .input-group-text { background-color: transparent; border: 1px solid #E2E2E2; border-right: 0px; border-radius: 3px; padding: 10px 15px 9px 15px; }
.selectbox-modal .searchbox-div .iconabs-left.search-icon { font-size: 21px;color: #666666; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox { border-left: 0px !important;padding-left: 0; color: #666666;    border-radius: 3px; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox:focus{ border-color: #E2E2E2; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox::-webkit-input-placeholder {  color: #66666666 !important; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox::-moz-placeholder { color: #66666666 !important; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox:-ms-input-placeholder { color: #66666666 !important; }
.selectbox-modal .searchbox-div .custom-input-group .search-inputbox:-moz-placeholder { color: #66666666 !important; }

.modal.right_custom.selectbox-modal .modal-body { padding: 20px 40px 20px 40px; }

.checkbox-listing-div { padding: 0; margin: 30px 0 0 0; }
.checkbox-listing-div .listing-heading-div { padding: 0; margin: 0 0 10px 0; }
.checkbox-listing-div .listing-heading-div h4 { padding: 0; margin: 0; font-size: 18px; font-weight: 400; color: #222222; }
.checkbox-listing-div .listing-body-div{ padding: 0; margin: 0; }
.checkbox-listing-div .listing-body-div .listing-row-div { padding: 0; margin: 0; clear: both; display: block; width: 100%; position: relative; border-radius: 4px; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div { padding: 12px 0 12px 0px; margin: 0; float: right; width: calc(100% - 45px); border-bottom: 1px solid #F6F7FB; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div a.link_user { clear: both; width: 100%; height: 100%; display: block; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .img_thumb_div { height: 60px; width: 60px; max-width: 18%; float: left; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div { width: 82%; min-height: 60px; padding: 0px 0 0 15px; margin: 0; float: left; display: flex; justify-content: center; flex-direction: column; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div h3 {  font-size: 18px;  font-weight: 600;  position: relative;  width: 100%;  padding-right: 65px;  display: flex;  align-items: center;  padding: 0;  margin: 0 0 5px 0;    color: #222; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div p { padding: 0; margin: 0; font-size: 16px; color: #666666; line-height: 20px; font-weight: 400; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.checkbox-listing-div .listing-body-div .listing-row-div .profile_div .labeltime { color: #66666680; font-size: 14px; font-weight: 500; line-height: 24px; text-transform: uppercase; position: absolute; right: 0; top: 0; }
.checkbox-listing-div .listing-body-div .listing-row-div:hover{ background-color: #F5FAFF; }
.checkbox-listing-div .listing-body-div .listing-row-div.listing-active{ background-color: #F5FAFF; }

.checkbox-div { padding: 0; margin: 0; position: absolute; top: 35px; left: 15px; }
.input-checkbox{ -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-color: transparent; color: #fff; top: 0px; height: 16px; width: 16px; border: 2px solid #666666; cursor: pointer; margin-right: 10px; outline: none!important; vertical-align: middle; }
.input-checkbox:checked { background-color: #0089E8;  border-color: #0089E8; }
.input-checkbox:checked::before { position: absolute; left: 2px; top: -1px; font-size: 13px; content: '\02143'; transform: rotate(40deg); }

/*  End of Share Business Card  */

/*  End of Messages  */

.messages_root { position: fixed; max-width: 870px; width: 100%; }
.message-div .user-listing-left .message-user-listing { height: calc(100vh - 190px); }
.messages-window-box .chat-message-content { height: calc(100vh - 247px); }

.backdiv1{ display: none; }

/**  Post Modal  *********/

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 50px; height: 50px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666;    line-height: 24px; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }  

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/**  End of Post Modal  *********/

.btn.btn-file-upload { border: 1px solid transparent; border-radius: 0px; color: #666;  padding: 0; font-size: 14px; background-color: transparent; width: 100%; text-align: left; }
.btn.btn-file-upload label { padding: 8px 20px; display: table; color: #666; margin: 0; font-weight: 500; width: 100%; line-height: 24px; }
.btn.btn-file-upload .post_icons { color: #666666; font-size: 24px; }
.btn.btn-file-upload span { display: inline-block; line-height: 24px; padding: 0; margin: 0 0 0 10px; }
.btn.btn-file-upload input[type="file"] { display: none; }
.dropdown-item.dropdown-file-upload{ padding: 0; }
.message-div .messages-window-box .add-dropdown-box-div .material-icons.post_icons { font-size: 18px; line-height: 24px; vertical-align: top; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu .dropdown-item { padding: 0px; }
.message-div .messages-window-box .add-dropdown-box-div .dropdown-menu .dropdown-item:hover .btn.btn-file-upload span{ color: #0089E8; }

/* start changes */

.messages-window-box .chat-message-content .message-chat .userimg-div-chat { padding: 0; margin: 0; width: 100%; height: 16px; float: right; position: absolute; right: 0px; bottom: 0px; }
.messages-window-box .chat-message-content .message-chat .userimg-div-chat img.img-responsive{ width: 16px; height: 16px; border-radius: 100%; float: left;  }
.messages-window-box .chat-message-content .message-chat .userimg-div-chat .userimg-thumb { display: inline-block; float: left; margin: 0 0px 0 0px; }
.messages-window-box .chat-message-content .message-chat .userimg-div-chat p.time-p { float: left; padding: 0px 0px 0 8px; display: inline-block; line-height: 16px; font-size: 12px;    color: #a7a7a7; }

.messages-window-box .chat-message-content .message-chat.messages-sender .userimg-div-chat img.img-responsive{  float: right;  }
.messages-window-box .chat-message-content .message-chat.messages-sender .userimg-div-chat .userimg-thumb { float: right;  }
.messages-window-box .chat-message-content .message-chat.messages-sender .userimg-div-chat p.time-p { float: right; padding: 0px 8px 0 8px; }

.day_show{ display: block; width: 100%; float: left; padding: 25px 0; text-align: center; }
.day_show p{ padding: 0; margin: 0; position: relative; }
.day_show p:before { padding: 0; margin: 0; content: ""; background-color: #eee; height: 1px; display: block; width: 35%; position: absolute; top: 6px; left: 0; }
.day_show p::after { padding: 0; margin: 0; content: ""; background-color: #eee; height: 1px; display: block; width: 35%; position: absolute; top: 6px; right: 0; }
.day_show span.date-span-show { padding: 8px 15px; background-color: #f2f2f2; font-size: 12px; color: #a7a7a7; border-radius: 100px; }

/* start last changes messages */

.messages-window-box .chat-message-content { display: flex; flex-direction: column; justify-content: flex-end;  }
.messages-window-box .chat-message-content .message-chat{ width: 100%; }
.messages-window-box .chat-message-content .message-chat.messages-received{ padding-right: 35%; }
.messages-window-box .chat-message-content .message-chat.messages-sender{ padding-left: 35%; }

/* end of messages */

.scroll-div-messages { max-height: calc(100vh - 247px); }

.display-none{ display: none; }

/* end of changes */

/***********************************************************/
/*********   No Messages, No Contact  **********************/
/***********************************************************/

.card-full-one{ padding: 0px; }
.card-full-one .show-found-content { padding: 0; margin: 0; min-height: 500px; display: flex; align-items: center; justify-content: center; background-color: #fff; border: 1px solid #F6F7FB; }
.card-full-one .show-found-content h3 { padding: 0; margin: 0; color: #66666633; font-size: 36px; text-align: center; font-weight: 900; letter-spacing: 1px; }

.no-message-found { padding: 0; margin: 0; position: relative; height: calc(100vh - 143px); display: flex; align-items: center; justify-content: center; flex-direction: column; background-color: #fff; border: 1px solid #E2E2E2; width: calc( 70% - 15px ); float: right; }
.no-message-found .img-messages-thumb{ padding: 0; margin: 0 0 30px 0; width: 100%; text-align: center; }
.no-message-found .img-messages-thumb img.no-img-messages { width: 100px; }
.no-message-found .no-message-content{ padding: 0; margin: 0; width: 100%; text-align: center; }
.no-message-found .no-message-content h3 { padding: 0; margin: 0px 0 15px 0; font-size: 24px; font-weight: 600; color: #222222;  }
.no-message-found .no-message-content p { padding: 0 15px; margin: 0px auto; font-size: 16px; font-weight: 400; color: #222222; line-height: 24px; width: 75%; }
.no-message-found .span-block{ display: block; } 

.no-messages { padding: 0; margin: 0; position: relative; height: calc(100vh - 247px); display: flex; align-items: center; justify-content: center; flex-direction: column; }
.no-messages .img-messages-thumb{ padding: 0; margin: 0 0 30px 0; width: 100%; text-align: center; }
.no-messages .img-messages-thumb img.no-img-messages { width: 100px; }
.no-messages .no-message-content{ padding: 0; margin: 0; width: 100%; text-align: center; }
.no-messages .no-message-content h3 { padding: 0; margin: 0px 0 15px 0; font-size: 24px; font-weight: 600; color: #222222;  }
.no-messages .no-message-content p { padding: 0 15px; margin: 0px auto; font-size: 16px; font-weight: 400; color: #222222; line-height: 24px; width: 75%; }
.no-messages .span-block{ display: block; }

.no-contact-div { padding: 0; margin: 0; position: relative; height: calc(100vh - 193px); display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: column; }
.no-contact-div h3 { padding: 25px 15px; margin: 0; font-size: 18px; font-weight: 400; color: #222222; line-height: 36px; width: 100%; text-align: center; }

.no-message-found.found-100 { width: 100%; }

/***********************************************************/
/*********  End of No Messages, No Contact  ****************/
/***********************************************************/



@media only screen and (max-width: 767px){

    .messages_root { position: relative; max-width: 100%; }
    .message-div .user-listing-left .message-user-listing { height: 100%; overflow-y: auto; }
    .messages-window-box .chat-message-content { height: 100%; }
    .message-div .user-listing-left { width: 100%; }
    .message-div .messages-window-right { width: 100%; padding-left: 0; }
    .messages-window-box .chat-message-content .message-chat { width: 90%; }
    .messages-window-box .chat-message-content { height: calc(100vh - 102px); padding-bottom: 58px; }
    .message-div .messages-window-box .heading-top h3 { padding-left: 10px; }
    .message-div .messages-window-box .heading-top .user-status {  font-size: 14px; padding: 0 25px 0 0; line-height: 24px; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu .more-dropdown-f .btn-filter {  margin-right: 10px; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu { left: -5px!important; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu::before { right: 10px; }
    .message-div .messages-window-box { position: relative; }
    
    .left-4none{ display: none; }
    .left-8none{ display: none; }
    .left-8 { min-height: 100vh!important; position: fixed!important; top: 0; z-index: 999; left: 0; display: none; }
    .left-8show{ display: block; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
    .backdiv1 { position: fixed; left: 5px; display: block; top: 11px; }
    .backdiv1 .backbtn { clear: both; display: inline-block; }
    .bottom-fixed-post { bottom: 0; width: 100%; position: fixed; left: 0; }

    .modal.right_custom.selectbox-modal .modal-body {  padding: 25px 15px 20px 15px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div .img_thumb_div { height: 40px; width: 40px; max-width: 15%;  }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div { width: 85%; min-height: 50px; padding: 0px 0 0 10px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div a.link_user { display: flex; align-items: center; }
    .checkbox-div { top: 30px; left: 12px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div{ width: calc(100% - 40px);    padding-right: 10px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div h3{ font-size: 16px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div .user-content-div p{ font-size: 14px; }
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div .labeltime{ line-height: 20px; }

    /* changes */

    .day_show p:before { width: 25%; }
    .day_show p::after { width: 25%; } 

    /* start last changes messages */

    .messages-window-box .chat-message-content .message-chat.messages-received{ padding-right: 10%; }
    .messages-window-box .chat-message-content .message-chat.messages-sender{ padding-left: 10%; }

    /* end of messages */

    /***********************************************************/
    /*********   No Messages, No Contact  **********************/
    /***********************************************************/

    .message-div{ margin: 15px 0 0 0; }

    .no-contact-div{ height: 100%; }

    .no-message-found{ height: 100%; padding: 50px 0; width: 100%; margin: 15px 0 0 0; }
    .no-message-found .no-message-content p{ width: 100%; font-size: 14px; }

    .no-messages{ padding: 0px 0 50px 0; width: 100%; margin: 0px 0 0 0; }
    .no-messages .no-message-content p{ width: 100%; font-size: 14px; }
    
    /***********************************************************/
    /*********  End of No Messages, No Contact  ****************/
    /***********************************************************/


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .messages_root { position: fixed; max-width: 470px; }
    .message-div .user-listing-left { width: 40%; }
    .message-div .messages-window-right{ width: 60%;padding-left: 5px; }
    .messages-window-box .chat-message-content .message-chat { width: 90%; }
    .message-div .messages-window-box .heading-top h3 { font-size: 14px; }
    .message-div .user-listing-left .message-user-listing .user-row .user-content-div h3 { font-size: 14px; }
    .message-div .user-listing-left .message-user-listing .user-row .img_thumb_div { width: 40px; height: 40px; max-width: 22%; }
    .message-div .user-listing-left .message-user-listing .user-row .user-content-div { min-height: 40px; width: 78%; }
    .message-div .user-listing-left .message-user-listing .user-row .user-content-div .user-status{ font-size: 12px; }
    .messages-window-box .chat-message-content .message-chat .message-box p { font-size: 12px; line-height: 18px; }
    .messages-window-box .chat-message-content .message-chat .message-box{ padding: 10px; }
    .bottom-fixed-post .post-input-box01 { width: 70%; }
    .bottom-fixed-post .btn-postdiv { width: 30%; }
    .bottom-fixed-post .post-input-box01 input.form-control { padding-left: 35px; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu .more-dropdown-f .btn-filter {  margin-right: 10px; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu { left: -23px!important; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu::before { right: 10px; }
    .bottom-fixed-post { width: calc(100% - 5px); bottom: 0;position: relative; } 
    /* .messages-window-box .chat-message-content {  height: calc(100vh - 188px);padding-bottom: 58px; } */
    .checkbox-listing-div .listing-body-div .listing-row-div .profile_div{     padding: 12px 12px 12px 0px;  }

    /* changes */

    .day_show p:before { width: 20%; }
    .day_show p::after { width: 20%; } 

    /* start last changes messages */

    .messages-window-box .chat-message-content .message-chat.messages-received{ padding-right: 5%; }
    .messages-window-box .chat-message-content .message-chat.messages-sender{ padding-left: 5%; }

    /* end of messages */

    /***********************************************************/
    /*********   No Messages, No Contact  **********************/
    /***********************************************************/

    .no-messages .no-message-content p{ width: 100%; }
    .no-message-found .no-message-content p{ width: 100%; }
    .no-contact-div h3 { padding: 15px 10px; font-size: 14px; }
    .no-message-found{ width: calc( 60% - 10px ); }

    /***********************************************************/
    /*********  End of No Messages, No Contact  ****************/
    /***********************************************************/

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .messages_root { position: fixed; max-width: 700px; }
    .message-div .messages-window-box .heading-top .right-heading .more-dropdown .dropdown-menu { left: -42px!important; }

}   

@media only screen and (max-width: 320px){
    


}


