.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0;}
textarea:focus{ box-shadow: none !important; }

/*******************************************************************/
/******************   Create My Wallets   **************************/
/*******************************************************************/


.basic-card-root{ padding: 0; margin: 0; position: relative; }
.basic-card-root .add-rightbtn-div { padding: 0; margin: 0; position: absolute; top: -70px; right: 0; }
.basic-card-root .add-rightbtn-div .addcard-btn{ padding: 8px 30px; }
.basic-card-root .add-rightbtn-div .addcard-btn .add-icon{ float: left; padding: 0; font-size: 20px; }
.basic-card-root .add-rightbtn-div .addcard-btn span.addcard-txt { float: left; margin: 0; line-height: 21px; padding: 0 0 0 10px; font-size: 14px; }

.select2-results__option { font-size: 14px; line-height: 24px; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: #E7F2FF !important; color: #0089E8 !important; }
.common-tab .custom-pills li { padding: 0px 0 10px 0; margin: 0 32px 0 0; }
.p-relative{ position: relative; }
.requred-field-txt{ color:#FF5A4E !important; }

/* Bank Account */

.custom-tab-content .tab-pane.mywallet-tab-pane { padding: 0 !important; background-color: transparent; border: 0px solid #F6F7FB; }

.white-data-tab{ padding: 0; margin: 0; }
.white-data-tab .grid_card_row_box{ width: 100%; margin: 0; padding: 0; }
.mywallet-account-root .white-data-tab .grid_card_row_box .grid_card_box { background-color: #fff; border: 1px solid #F6F7FB; width: 100%; margin: 0 0 15px 0; padding: 15px; border-radius: 4px; min-height: 95px; display: flex; align-items: center; }

.white-data-tab .grid_card_box .col-50{ width: 50%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-40{ width: 40%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-35{ width: 35%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-33{ width: 33%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-30{ width: 30%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-25{ width: 25%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-22{ width: 22%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-20{ width: 20%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-17{ width: 17%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-15{ width: 15%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-13{ width: 13%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-10{ width: 10%; max-width: 10%; float: left; display: inline-block; }

.white-data-tab .grid_card_box .mt10{ margin-top: 10px !important; }
.white-data-tab .grid_card_box .mt21{ margin-top: 21px !important; }

.mywallet-account-root .white-data-tab .userdesc_div{ width: 100%; margin: 0; padding: 0; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div { height: 65px; width: 65px; float: left; max-width: calc( 100% - 65px ); display: inline-block; background-color: #e7f2ff80; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div .link_user { display: inline-block; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { overflow: hidden; width: 30px; margin: -2px 0 0 0; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon.withdrawal-icon-img {     width: 27px;margin: 0px 0 0 0; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content { width: calc( 100% - 65px) ; padding: 0px 0 0 15px; margin: 0; float: left; min-height: 55px; display: flex; justify-content: center; flex-direction: column; position: relative; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content h3 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: flex; color: #222222; align-items: center; margin: 0 0 6px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content h4 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: block; color: #222222; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content p { font-size: 14px; color: #666666; margin: 0; line-height: 16px; }
.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content p.data-p { font-size: 12px; margin: 0 0 5px 0; }

.mywallet-account-root .white-data-tab .content-row { padding: 0; margin: 0; min-height: 55px; float: left; display: flex; justify-content: center; flex-direction: column; position: relative; }
.mywallet-account-root .white-data-tab .content-row .cont-label-p { padding: 0; margin: 0 0 4px 0; font-size: 14px; font-weight: 400; display: block; position: relative; width: 100%; color: #66666680; line-height: 16px; }
.mywallet-account-root .white-data-tab .content-row .cont-desc { padding: 0; margin: 0; font-size: 18px; font-weight: 400; display: block; position: relative; width: 100%; color: #666666; }
.mywallet-account-root .white-data-tab .status-div { min-height: 55px; float: left; display: flex; justify-content: flex-end; align-items: flex-end; flex-direction: column; position: relative; width: 100%; }
.mywallet-account-root .white-data-tab .label-status { padding: 5px 20px; margin: 0; background-color: #57D48F; color: #fff; border-radius: 100px; font-size: 12px; font-weight: 500; line-height: 14px; min-width: 100px; text-align: center; }
.mywallet-account-root .white-data-tab .label-status.label-pending { background-color: #F7931A; color: #fff;  }
.mywallet-account-root .white-data-tab .label-status.label-cancelled { background-color: #FF5A4E; color: #fff;  }
.mywallet-account-root .white-data-tab .label-status.label-failed { background-color: #FF5A4E; color: #fff;  }

.mywallet-toprow-div{ padding: 0; margin: 0 0 8px 0; position: relative;  }
.mywallet-toprow-div .grid_card_box_50{ padding: 0; margin: 0 0 15px 0; width: 50%; float: left; padding-right: 15px; }
.mywallet-toprow-div .grid_card_box_25{ padding: 0; margin: 0 0 15px 0; width: 25%; float: left; padding-right: 15px; }
.mywallet-toprow-div .mywallet-whitebox-top { padding: 30px 20px; margin: 0; min-height: 100px; border-radius: 4px; background-color: #fff; border: 1px solid #F6F7FB; float: left; width: 100%; position: relative; }
.mywallet-toprow-div .mywallet-whitebox-top p {  padding: 0;  margin: 0 0 10px 0;  font-size: 14px;  color: #666666;  display: block;  width: 100%;  line-height: 16px; }
.mywallet-toprow-div .mywallet-whitebox-top h3.mywallet-amount { padding: 0; margin: 0 0 5px 0; font-size: 36px; color: #222222; line-height: 36px; font-weight: 500; overflow: hidden; width: 100%; display: block; }
.mywallet-toprow-div .mywallet-whitebox-top .card-row-link { padding: 0; margin: 0; float: left; position: absolute; top: 30px; right: 20px; }
.btn.btn-lightblue { background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; padding: 10px 30px; text-transform: capitalize; font-weight: 500; float: left; border-radius: 200px; font-size: 14px; line-height: 20px; }
.btn.btn-lightblue:hover{ background: #D2E8F7; }

.sorting-abs-topright { position: absolute; top: -66px; right: 0; min-width: 40%; font-size: 14px; color: #666666; display: flex; justify-content: flex-end; }
.sorting-abs-topright .form-control { padding: 8px 10px; font-size: 14px; color: #A9A9A9; height: 40px !important; border: 1px solid #F6F7FB; border-radius: 4px; }
.sorting-abs-topright .form-control:hover, .sorting-abs-topright .form-control:focus{ outline: none; box-shadow: none;  }
.sorting-abs-topright .selectbox-div{ width: 200px;float: left; padding-right: 10px; }
.sorting-abs-topright .exportbox-div{ width: 120px;float: left; }
.sorting-abs-topright .btn.btn-white-icon { width: 100%; padding: 0 15px; height: 40px; background-color: #FFFFFF; border: 1px solid #F6F7FB; font-size: 14px; line-height: 16px; color: #A9A9A9; float: left; display: flex; align-items: center; }
.sorting-abs-topright .btn.btn-white-icon .export-icon { font-size: 18px; padding: 2px 0 0 25px; float: right; }

.add-center-modal .checklist_root.checklist-mutiple .checklist { width: 100%; margin: 0 0 15px 0; }
.add-center-modal.export-modal .bottom-btnrow-card { padding: 20px 0 10px 0; }

.mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div{ height: 55px; width: 55px; max-width: calc( 100% - 55px ); }

/***** custom-accordion-white   **/

.custom-accordion-white{ padding: 0; margin: 0; position: relative; }
.custom-accordion-white .card-custom-white { margin: 0 0 10px 0; border: 1px solid #F6F7FB; border-radius: 4px; background-color: #fff; }
.custom-accordion-white .card-custom-white .card-white-header { padding: 0; margin: 0; border-color: #F6F7FB; border-radius: 0px; box-shadow: none; border: none; }
.custom-accordion-white .card-custom-white .card-body{ padding: 0; margin: 0; }

.custom-accordion-white .card-custom-white .card-body-root { padding: 0; margin: 0; min-height: 190px; float: left; width: 100%; background-color: #FCFCFC; display: flex; }
.card-custom-white .card-body-root .card-col-50{ padding: 0px; margin: 0; width: 50%; float: left; }
.card-custom-white .card-body-root .card-col-50.card-white-bg-col{ padding: 20px; background-color: #fff; border-right: 1px solid #F6F7FB; position: relative; }
.card-custom-white .card-body-root .card-col-50 .row-full-row { width: 100%; float: left; display: block; padding: 0; margin: 0 0 15px 0; }
.card-custom-white .card-body-root .card-col-50 .row-full-row .half-50{ width: 50%; float: left; }
.card-custom-white .card-body-root .card-col-50 .row-full-row p { font-size: 18px; font-weight: 400; position: relative; width: 100%; display: block; color: #555555cc; align-items: center; margin: 0 0 0px 0; line-height: 21px; }
.card-custom-white .card-body-root .card-col-50 .row-full-row h4 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: block; color: #222222; align-items: center; margin: 0 0 0px 0; line-height: 21px; }
.card-custom-white .card-body-root .card-col-50 .row-full-row .amount-h3 { font-size: 18px; font-weight: 700; position: relative; width: 100%; display: block; color: #FF5A4E; align-items: center; margin: 0 0 0px 0; line-height: 21px; }
.card-custom-white .card-body-root .card-col-50 .row-full-row .amount-h3.credit-h3{ color: #57D48F; }
.card-custom-white .card-body-root .card-col-50 .row-full-row span.font-500-dark{ font-weight: 500; color: #555; }

.card-custom-white .card-body-root .card-col-50 .top-body-payment-details{ padding: 20px 30px 5px 30px; }
.card-custom-white .card-body-root .card-col-50 .top-body-payment-details h4{ font-weight: 600; }
.card-custom-white .card-body-root .card-col-50 .bottom-body-payment-details { padding: 10px 30px 5px 30px; border-top: 1px solid #e3e3e380; }
.card-custom-white .card-body-root .card-col-50 .bottom-body-payment-details p.p-color-555{ font-weight: 500; }

.card-custom-white .card-body-root .card-col-50 .fixed-bottom-left { float: left; padding: 0; margin: 0; position: absolute; bottom: 20px; }
.my-earning-tab .card-custom-white .card-body-root .card-col-50.card-white-bg-col { padding-bottom: 65px; }
.my-earning-tab .card-custom-white .card-body-root .card-col-50.card-white-bg-col .btn.btn-lightblue { padding: 7px 30px; line-height: 21px; }



.mywallet-account-root .white-data-tab .label-status { padding: 5px 20px; margin: 0; background-color: #57D48F; color: #fff; border-radius: 100px; font-size: 12px; font-weight: 500; line-height: 14px; min-width: 100px; text-align: center; }
.mywallet-account-root .white-data-tab .label-status.label-transferred{ background-color: #57D48F; }
.mywallet-account-root .white-data-tab .label-status.label-pending { background-color: #F7931A; color: #fff;  }
.mywallet-account-root .white-data-tab .label-status.label-cancelled { background-color: #FF5A4E; color: #fff;  }
.mywallet-account-root .white-data-tab .label-status.label-failed { background-color: #FF5A4E; color: #fff;  }

.white-data-tab .custom-accordion-white .dealdesc_div{ width: 100%; margin: 0; padding: 0; }
.white-data-tab .custom-accordion-white .grid_card_row_box .grid_card_box{ margin: 0 0 0 0; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc_img_thumb_div { height: 65px; width: 105px; float: left; max-width: calc( 100% - 105px ); display: inline-block; background-color: #e7f2ff80; border-radius: 4px;     overflow: hidden; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc_img_thumb_div .link_user { display: inline-block; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc_img_thumb_div .img-icon { overflow: hidden; width: 100%; margin: 0px 0 0 0; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc_img_thumb_div .img-icon.withdrawal-icon-img {     width: 27px;margin: 0px 0 0 0; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content { width: calc( 100% - 105px ); padding: 0px 0 0 15px; margin: 0; float: left; min-height: 65px; display: flex; justify-content: center; flex-direction: column; position: relative; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content h3 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: flex; color: #222222; align-items: center; margin: 0 0 6px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content h4 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: block; color: #222222; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content span.bold400-555{ font-weight: 400; color: #555555cc; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content p { font-size: 14px; color: #666666; margin: 0; line-height: 16px; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content p.data-p { font-size: 12px; margin: 0 0 5px 0; color: #66666680; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content p.data-666 { font-size: 18px; font-weight: 400; position: relative; width: 100%; display: flex; color: #666666; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; line-height: 21px; }
.white-data-tab .custom-accordion-white .dealdesc_div.dealdesc_div2 .dealdesc-content{ width: 100%; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content .amount-p { font-size: 18px; line-height: 21px; font-weight: 600; position: relative; width: 100%; display: block; color: #57D48F; align-items: center; margin: 0 0 0px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content .amount-p.credit-p{ color: #57D48F;  }
.white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content .amount-p.debit-p { color: #FF5A4E;  }
.white-data-tab .custom-accordion-white .btn-row-pd { min-height: 65px; display: flex; align-items: flex-end; padding: 0 0 10px 0; }
.white-data-tab .custom-accordion-white .btn-link { border: none; font-size: 16px; color: #0089E8; font-weight: 500; display: flex; align-items: center; margin: 0; padding: 0; width: 100%; line-height: 24px; cursor: pointer; position: relative; }
.white-data-tab .custom-accordion-white .btn-link:hover, .white-data-tab .custom-accordion-white .btn-link:focus{ outline: none; }
.white-data-tab .custom-accordion-white .btn-row-pd .btn-link .icon-arrow { transition: all 0.3s; position: absolute; right: 10px; font-size: 20px; }
.custom-accordion-white .card-custom-white .card-white-header.active .icon-arrow { transform: rotate(90deg); }

.mywallet-account-root .white-data-tab .userdesc_div .userdesc-content p.data-p { color: #66666680; }


/* Withdraw Amount */


.form-white-card-section{ padding: 0; margin: 0; position: relative; }
.form-white-card-section .method-card { padding: 0; margin: 0; border: 1px solid #F6F7FB; background-color: #fff; }
.method-card .top-panel-heading { padding: 15px 50px; margin: 0; border-bottom: 1px solid #F6F7FB; }
.method-card .top-panel-heading h3 { padding: 0; margin: 0; font-size: 24px; font-weight: 400; line-height: 28px; }
.method-card .middle-panel-body{ padding: 15px 50px; margin: 0;  }
.method-card .middle-panel-body .card-form-body{ padding: 0; margin: 0; float: left; width: 100%; }
.method-card .middle-panel-body .card-form-body .form_div .icon-abs-top { position: absolute; top: -31px; right: 15px; color: #666666; }
.method-card .middle-panel-body .card-form-body .form-control::-webkit-input-placeholder {  color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control::-moz-placeholder { color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control:-ms-input-placeholder { color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control:-moz-placeholder { color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-group label{ width: 100%; }
.method-card .middle-panel-body .card-form-body .form-group select.width-100{ width: 100%; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 16px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single:focus{ outline: none; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #666666 !important; line-height: 28px; border: 1px solid #ddd !important; min-height: 45px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single{ color: #666666 !important; line-height: 28px; border: 1px solid #ddd !important; min-height: 45px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #666 !important; line-height: 44px !important; border: none !important; padding: 0 25px 0 15px !important;  }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__arrow { height: 45px !important; position: absolute !important; top: 1px !important; right: 6px !important; width: 20px !important; }

.method-card .middle-panel-body .card-form-body .position-relative-div { position: relative; }
.method-card .middle-panel-body .card-form-body .position-relative-div span.icon-abs-top-left { color: #222222; font-size: 18px; font-weight: 500; line-height: 21px; position: absolute; top: -34px; left: 20px; }

.method-card .middle-panel-body .card-form-body .form-control{ height: 45px; padding: 10px 20px; }
.method-card .middle-panel-body .card-form-body .form-control.withdraw-number { height: 45px; padding: 10px 40px; font-size: 16px; }
.method-card .middle-panel-body .card-form-body .grid_card_box.width100{ width: 100%; margin-bottom: 0px;  }
.method-card .middle-panel-body .card-form-body .grid_card_box.width50{ width: 50%; margin-bottom: 0px; }
.method-card .middle-panel-body .card-form-body .grid_card_box.width25{ width: 25%; margin-bottom: 0px; }
.method-card .middle-panel-body .card-form-body .form-group.border-bottom { border-bottom: 1px solid #F6F7FB !important; padding-bottom: 20px; }

.bottom-body-row { float: left; padding: 0; margin: 0 0 15px 0; width: 100%; display: flex; justify-content: flex-end; }
.payment-method-section .method-card .middle-panel-body .bottom-body-row .bottomright-body-pm{ padding: 0px 0px; margin: 0; float: right; width: 100%; text-align: right; }

.method-card .btn-block-custom.btn-round{ padding: 9px 40px; line-height: 25px; transition: all 0.3s ease-in-out; }

.method-card .btn-block-custom.btn-round.btn-blue { background-color: #0089E8; color: #fff; border: 1px solid #0089E8;  }
.method-card .btn-block-custom.btn-round.btn-blue:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.method-card .btn-block-custom.btn-round.btn-cancel { background-color: #EDEDED; color: #222222; border: 1px solid #EDEDED;  }
.method-card .btn-block-custom.btn-round.btn-cancel:hover { background-color: #DDDDDD; border: 1px solid #DDDDDD; }

.method-card .fas.fa-chevron-down.arrow_center { padding: 17px 0 0 0; }

/*  End of Withdraw Amount */



/*******************************************************************/
/******************   end of My Wallets   **************************/
/*******************************************************************/






@media (min-width: 1025px) and (max-width: 1100px){
    
    .basic-card-root .add-rightbtn-div { margin: 0 0 20px 0; position: relative; top: auto; right: -20px; float: right; width: 100%; text-align: right; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common{ font-size: 14px; }
    .mywallet-toprow-div .mywallet-whitebox-top{ padding: 20px 15px; }
    .card-custom-white .card-body-root .card-col-50 .bottom-body-payment-details{ padding: 10px 15px; }
    .mywallet-toprow-div .mywallet-whitebox-top h3.mywallet-amount{ font-size: 28px; }
    .btn.btn-lightblue{ padding: 10px 20px; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc-content { padding: 0px 0 0 10px; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc-content h4 { font-size: 14px; }
    .white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content h4{ font-size: 14px; }
    .white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content .amount-p{ font-size: 14px; }
    .white-data-tab .custom-accordion-white .btn-link{ font-size: 14px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row p{ font-size: 14px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row h4{ font-size: 14px; }

    .mywallet-account-root .white-data-tab .grid_card_row_box .grid_card_box{ padding: 10px; }
    .card-custom-white .card-body-root .card-col-50.card-white-bg-col{ padding: 10px; }
    .card-custom-white .card-body-root .card-col-50 .top-body-payment-details { padding: 10px 15px 5px 15px; }

}

@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; padding: 15px 0 0 0; }
    .btn-div-row .btn-message {padding: 8px 15px;}
    .btn-div-row .btn-refer {padding: 8px 15px;}
    .filter_card_div.filter_card02_div .filter-txt-btn {  top: -83px;font-size: 16px; }

    .btn-div-row { padding: 0; }
    .btn-div-row .link-remove { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-message { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-refer { width: 100%;margin: 0 0 10px 0; }
    .div-notification .title-notification { padding: 20px 50px 20px 20px !important;}
    
    /* added by aakhil */

    .white-box-grid .title-div {padding:  0 20px 0 20px;}
    .white-box-grid .body-div {padding: 20px 20px 20px 20px;}
    .white-box-grid span.span-primary {right: -10px;}

    /*******************************************************************/
    /******************   Create My Wallets   **************************/
    /*******************************************************************/

    .basic-card-root .add-rightbtn-div{  position: relative; top: -20px; right: auto; width: 100%; margin: 0 0 20px 0; }
    .basic-card-root .add-rightbtn-div .btn-right.request-btn.addcard-btn { width: 200px; text-align: center; display: flex; align-items: center; justify-content: center; }
 
    
    .white-data-tab .grid_card_box .col-35{ width: 100%; }
    .white-data-tab .grid_card_box .col-25{ width: 100%; }
    .white-data-tab .grid_card_box .col-15{ width: 100%; }
    .white-data-tab .grid_card_box .col-20{ width: 100%; }
    
    .mywallet-account-root .white-data-tab .userdesc_div { margin: 0 0 0px 0; }
    .mywallet-account-root .white-data-tab .content-row{ min-height: 100%; margin: 0 0 10px 0; }
    .mywallet-account-root .white-data-tab .status-div { min-height: 100%; margin: 10px 0 10px 0; align-items: flex-start; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div { height: 50px; width: 50px; max-width: calc( 100% - 50px ); }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc-content h3 { font-size: 16px; margin: 0 0 5px 0; }
    .mywallet-account-root .white-data-tab .content-row .cont-label-p{ font-size: 12px; }
    .mywallet-account-root .white-data-tab .content-row .cont-desc{ font-size: 16px; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { width: 25px; }

    /* changes */

    .mywallet-toprow-div .grid_card_box_50{ width: 100%; }
    .mywallet-toprow-div .grid_card_box_25{ width: 50%; }
    .mywallet-toprow-div .grid_card_row_box{ margin: 0 -15px 0 0; min-height: 100%; }
    .mywallet-toprow-div .mywallet-whitebox-top { padding: 20px 15px;  }    
    .mywallet-toprow-div .mywallet-whitebox-top .card-row-link { top: 25px; right: 15px; }
    .mywallet-toprow-div .mywallet-whitebox-top h3.mywallet-amount { margin: 0 0 0px 0; font-size: 21px; }
    .mywallet-toprow-div .mywallet-whitebox-top p { margin: 0 0 0px 0; font-size: 12px; }
    .btn.btn-lightblue { padding: 8px 20px; line-height: 20px; }
    .sorting-abs-topright { position: relative; right: auto; top: -25px; max-width: 200px; font-size: 14px; margin: 0 0 0px 0; }

    .mywallet-account-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; }
    .white-data-tab .grid_card_box .cont-desc.mt21{ margin-top: 10px !important; }

    .mywallet-account-root .white-data-tab .grid_card_box .col-35 { border-bottom: 1px solid #F6F7FB; min-height: 70px; margin: 0 0 10px 0; }

    /**********/

    .my-wallets-page .common-tab .custom-pills li{ margin: 0 30px 0 0; }
    .mywallet-account-root .sorting-abs-topright{ width: 100%; max-width: 100%; }
    .white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content{ padding: 0px 0 0 0px; min-height: 100%; margin: 10px 0 10px 0; }
    .white-data-tab .custom-accordion-white .btn-row-pd{ padding: 0px 0 0 0px; min-height: 100%; margin: 10px 0 0px 0; }
    .white-data-tab .custom-accordion-white .btn-row-pd .btn-link .icon-arrow { position: relative; right: -5px; }
    .custom-accordion-white .card-custom-white .card-body-root{ display: block; }
    .card-custom-white .card-body-root .card-col-50.card-white-bg-col { padding: 15px 15px 0px 15px; }
    .card-custom-white .card-body-root .card-col-50{ width: 100%; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row .half-50 {  margin: 0 0 5px 0; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row p{ font-size: 14px; line-height: 18px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row h4 { font-size: 16px; margin: 0 0 0px 0; line-height: 18px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row .amount-h3{ font-size: 16px; }
    .card-custom-white .card-body-root .card-col-50 .top-body-payment-details {  padding: 20px 15px 5px 15px; }
    .card-custom-white .card-body-root .card-col-50 .bottom-body-payment-details { padding: 10px 15px 5px 15px;  }
    .card-custom-white .card-body-root .card-col-50 .row-full-row { margin: 0 0 5px 0; }

    .card-custom-white .card-body-root .card-col-50 .fixed-bottom-left { float: left; padding: 0; margin: 10px 0 10px 0; position: relative; bottom: auto; }
    .my-earning-tab .card-custom-white .card-body-root .card-col-50.card-white-bg-col { padding-bottom: 10px; }
    

    /*  Withdraw Amount */

    .method-card .top-panel-heading { padding: 15px 15px; }
    .method-card .middle-panel-body { padding: 15px 15px; }
    .method-card .middle-panel-body .card-form-body .grid_card_box .fas.fa-chevron-down.arrow_center { padding: 17px 0 0 0; }

    .method-card .btn-block-custom.btn-round { padding: 9px 25px; line-height: 20px; width: 100%; margin: 0 0 10px 0; }
    .bottom-body-row { margin: 0 0 0px 0; }

    /*  End of Withdraw Amount */

    /*******************************************************************/
    /******************   End of My Wallets   **************************/
    /*******************************************************************/

    
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 85%;}
    .filter_card_div.filter_card02_div .filter-txt-btn {top: -75px;}
    .white-box-grid.language-setting {  margin-top: 5px; }

    /*******************************************************************/
    /******************   Create My Wallets   **************************/
    /*******************************************************************/

    .basic-card-root .add-rightbtn-div { margin: 0 0 20px 0; position: relative; top: -10px; right:auto; float: right; width: 100%; text-align: right; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common{ font-size: 14px; }
    .settings-page .common-tab .custom-pills li { padding: 0px 0 10px 0; margin: 0 50px 20px 0; float: left; display: inline-block; }
    .settings-page .common-tab .custom-pills { float: left; }
    .basic-card-root .grid_card_row_box{ margin: 0 0 0 0; }
    .basic-card-root .grid_card_box{ margin: 0 0 20px 0; }

    .white-data-tab .grid_card_box .col-35{ width: 100%; }
    .white-data-tab .grid_card_box .col-25{ width: 35%; }
    .white-data-tab .grid_card_box .col-15{ width: 30%; }
    
    .mywallet-account-root .white-data-tab .userdesc_div{  margin: 0 0 15px 0; }
    .mywallet-account-root .white-data-tab .content-row{ min-height: 100%; margin: 0 0 15px 0; }
    .mywallet-account-root .white-data-tab .status-div { min-height: 100%; margin: 10px 0 10px 0; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc-content h3 { font-size: 16px; margin: 0 0 5px 0; }
    .mywallet-account-root .white-data-tab .content-row .cont-label-p{ font-size: 12px; }
    .mywallet-account-root .white-data-tab .content-row .cont-desc{ font-size: 16px; }
    .mywallet-account-root .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { width: 25px; }

    /* changes */

    .mywallet-toprow-div .grid_card_box_50{ width: 100%; }
    .mywallet-toprow-div .grid_card_box_25{ width: 50%; }
    .mywallet-toprow-div .mywallet-whitebox-top { padding: 20px 15px; }    
    .mywallet-toprow-div .mywallet-whitebox-top .card-row-link { top: 25px; right: 15px; }
    .mywallet-toprow-div .mywallet-whitebox-top h3.mywallet-amount { margin: 0 0 0px 0; font-size: 24px; }
    .mywallet-toprow-div .mywallet-whitebox-top p { margin: 0 0 0px 0; font-size: 13px; }
    .btn.btn-lightblue { padding: 8px 20px; line-height: 20px; }
    .sorting-abs-topright { position: relative; right: auto; top: 0; width: 100%; font-size: 14px; margin: 0px 0 20px 0; float: left; }
    .sorting-abs-topright .form-control{ max-width: 200px; }

    .mywallet-account-root .white-data-tab .grid_card_row_box .grid_card_box{ display: block; }
    .white-data-tab .grid_card_box .cont-desc.mt21{ margin-top: 10px !important; }

    .mywallet-account-root .white-data-tab .grid_card_box .col-35 { border-bottom: 1px solid #F6F7FB; min-height: 70px; margin: 0 0 10px 0; }

    .my-wallets-page .basic-card-root { float: left; }
    .my-wallets-page .common-tab .custom-pills li a{ font-size: 16px; }

    /**/

    .my-wallets-page .common-tab .custom-pills li{ margin: 0 30px 0 0; }
    .mywallet-account-root .sorting-abs-topright{ width: 100%; max-width: 100%; }
    .white-data-tab .custom-accordion-white .dealdesc_div .dealdesc-content{ padding: 0px 0 0 0px; min-height: 100%; margin: 10px 0 10px 0; }
    .white-data-tab .custom-accordion-white .btn-row-pd { padding: 0px 0 0 0px; min-height: 100%; margin: 7px 0 0px 0; }
    .white-data-tab .custom-accordion-white .btn-row-pd .btn-link .icon-arrow { position: relative; right: -5px; }
    .custom-accordion-white .card-custom-white .card-body-root{ display: block; }
    .card-custom-white .card-body-root .card-col-50.card-white-bg-col { padding: 15px 15px 0px 15px; }
    .card-custom-white .card-body-root .card-col-50{ width: 100%; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row .half-50 {  margin: 0 0 5px 0; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row p{ font-size: 14px; line-height: 18px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row h4 { font-size: 16px; margin: 0 0 0px 0; line-height: 18px; }
    .card-custom-white .card-body-root .card-col-50 .row-full-row .amount-h3{ font-size: 16px; }
    .card-custom-white .card-body-root .card-col-50 .top-body-payment-details {  padding: 20px 15px 5px 15px; }
    .card-custom-white .card-body-root .card-col-50 .bottom-body-payment-details { padding: 10px 15px 5px 15px;  }
    .card-custom-white .card-body-root .card-col-50 .row-full-row { margin: 0 0 5px 0; }
    
    /**/

    .mywallet-account-root .white-data-tab .userdesc_div { margin: 0 0 0px 0; }
    .white-data-tab .grid_card_box .col-25{ width: 50%; }
    .white-data-tab .grid_card_box .col-15{ width: 25%; }
    .white-data-tab .grid_card_box .col-25:nth-child(1){ width: 50%; }
    .white-data-tab .grid_card_box .col-15:nth-child(1){ width: 50%; }
  
     /*  Withdraw Amount */

     .method-card .top-panel-heading { padding: 15px 25px; }
     .method-card .middle-panel-body { padding: 15px 25px; }
     .method-card .middle-panel-body .card-form-body .grid_card_box .fas.fa-chevron-down.arrow_center { padding: 17px 0 0 0; }
 
     .method-card .btn-block-custom.btn-round { padding: 9px 25px; line-height: 20px;  margin: 0 0 10px 0; }
     .bottom-body-row { margin: 0 0 0px 0; }

     /*  End of Withdraw Amount */


    /*******************************************************************/
    /******************   End of My Wallets   **************************/
    /*******************************************************************/

    
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    
    /********************************************************/
    /*****   Create Saved Card & Bank Account Details   *****/
    /********************************************************/

    .grid_card_box { width: 50%; }

    /* changes */

    .white-data-tab .grid_card_box .cont-desc.mt21{ margin-top: 21px !important; }

    .mywallet-account-root .white-data-tab .grid_card_box .col-35 { width: 35%; min-height: 100%; border: none; margin: 0 0 0 0; }
    .mywallet-account-root .white-data-tab .grid_card_box .col-25{ width: 25%; }
    .mywallet-account-root .white-data-tab .grid_card_box .col-15{ width: 15%; }

    .mywallet-toprow-div .grid_card_box_50{ width: 46%; }
    .mywallet-toprow-div .grid_card_box_25{ width: 27%; }
    
    .mywallet-account-root .white-data-tab .content-row { min-height: 55px; margin: 0 0 0px 0; }
    .mywallet-account-root .white-data-tab .userdesc_div{ margin: 0 0 0 0; }
    .mywallet-account-root .white-data-tab .status-div{ padding: 0 0 0 0; margin: 0 0 5px 0; min-height: 50px; }
    .mywallet-account-root .white-data-tab .grid_card_row_box .grid_card_box{ min-height: 88px; }

    .sorting-abs-topright { position: relative; right: auto; top: -15px; width: 100%; font-size: 14px; margin: 0 0 0px 0; float: left; }

    /**/

    .custom-accordion-white .card-custom-white .card-body-root{ display: flex; min-height: 150px; }
    .card-custom-white .card-body-root .card-col-50{ width: 50%; }


    .mywallet-account-root .white-data-tab .userdesc_div { margin: 0 0 0px 0; }
    .mywallet-account-root .white-data-tab .grid_card_box .col-25{ width: 40%; }
    .mywallet-account-root .white-data-tab .grid_card_box .col-15{ width: 30%; }
    .white-data-tab .grid_card_box .col-25:nth-child(1){ width: 40%; }
    .white-data-tab .grid_card_box .col-20{ width: 30%; }    
    .white-data-tab .custom-accordion-white .btn-row-pd { min-height: 55px;  padding: 0 0 7px 0; margin: 0 0 0 0; }
    .white-data-tab .custom-accordion-white .dealdesc_div.dealdesc_div2 .dealdesc-content{ margin: 0 0 0 0; min-height: 55px; }
    

    /**/


    /**************************************************************/
    /*****  End of Create Saved Card & Bank Account Details   *****/
    /**************************************************************/
    
}   
@media only screen and (max-width: 320px){

}



