body {
    overflow-x: hidden;
}

/*******************************************************************/
/******************  Payment  Address   ****************************/
/*******************************************************************/

.payment-method-section{ padding: 0; margin: 0; position: relative; }
.payment-method-section .method-card { padding: 0; margin: 0; border: 1px solid #F6F7FB; background-color: #fff; }
.payment-method-section .method-card .top-panel-heading { padding: 15px 50px; margin: 0; border-bottom: 1px solid #F6F7FB; }
.payment-method-section .method-card .top-panel-heading h3 { padding: 0; margin: 0; font-size: 24px; font-weight: 400; line-height: 28px; }
.payment-method-section .method-card .middle-panel-body{ padding: 15px 50px; margin: 0;  }

.payment-method-section .method-card .middle-panel-body .top-body-row { padding: 10px 0px 0 0; margin: 0 0 30px 0; float: left; width: 100%; clear: both; }
.payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm{ padding: 0px 0px; margin: 0; float: left; width: 70%;  }
.payment-method-section .method-card .middle-panel-body .top-body-row .topright-body-pm{ padding: 0px 0px; margin: 0; float: left; width: 30%; }
.payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm .breadcrumb-link { padding: 0px 0px; margin: 0; font-size: 14px; line-height: 20px; color: #55555580; font-weight: 400; float: left; }
.payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm .breadcrumb-link.active-link{ color: #555555; font-weight: 500;  }
.payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm .slash-span { padding: 0px 20px; margin: 0; font-size: 14px; line-height: 20px; color: rgba(85, 85, 85, 0.8); font-weight: 400; float: left; }
.payment-method-section .method-card .middle-panel-body .top-body-row .add-txt-btn { padding: 0px 0px; margin: 0; float: right; display: flex; align-items: center; font-size: 14px; font-weight: 500; line-height: 18px; color: #0089E8; }
.payment-method-section .method-card .middle-panel-body .top-body-row .add-txt-btn .material-icons.add-icon { font-size: 20px; float: left; padding: 0 8px 0 0; }

.method-card .middle-panel-body .address-listing-body{ padding: 0 0; margin: 0 0; position: relative; }
.method-card .middle-panel-body .address-listing-body .address-row { padding: 20px 40px; margin: 0 0 20px 0; border: 1px solid #F6F7FB; background-color: #fafafa80; width: 100%; float: left; border-radius: 4px; }
.method-card .middle-panel-body .address-listing-body .address-row .top-one-row { padding: 0 0; margin: 0 0; width: 100%; float: left; }
.method-card .middle-panel-body .address-listing-body .address-row p { padding: 0; margin: 0 0 5px 0; font-size: 12px; color: #666666; display: block; width: 100%; line-height: 16px; }
.method-card .middle-panel-body .address-listing-body .address-row h3{ padding: 0 10px 0 0; margin: 0 0 5px 0; font-size: 18px; color: #222222; line-height: 24px; font-weight: 500; width: 100%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; min-height: 48px; }
.method-card .middle-panel-body .address-listing-body .address-row .card-label-div{ padding: 0; margin: 0; }
.method-card .middle-panel-body .address-listing-body .address-row .card-label-div label.label-address { background-color: #F2F2F2; color: rgba(85, 85, 85, 0.5); line-height: 24px; padding: 0 20px; border-radius: 4px; text-transform: uppercase; font-weight: 600; font-size: 12px; float: right; min-width: 82px; text-align: center; }
.method-card .middle-panel-body .address-listing-body .address-row .bottom-one-row{ padding: 0 0; margin: 5px 0 0 0; width: 100%; float: left; }

.method-card .middle-panel-body .address-listing-body .address-row .radio-box{ padding: 0; margin: 0; display: flex; align-items: center; width: 100%; float: left; }
.method-card .middle-panel-body .address-listing-body .address-row .radio-box .radio-parent{ padding: 0 10px 0 0; margin: 0; float: left; }
.method-card .middle-panel-body .address-listing-body .address-row .radio-box .checklist { margin: 0 0 0px 0; padding: 0; width: 100%; float: left; }
.method-card .middle-panel-body .address-listing-body .address-row .radio-box .checklist label{  padding: 0; margin: 0; line-height: 20px;  }
.method-card .middle-panel-body .address-listing-body .address-row .radio-box .checklist .form-radio { top: 0; height: 20px; width: 20px; border: 0; margin-right: 0px; border: 2px solid #666666; }

.method-card .middle-panel-body .address-listing-body .address-row.active{ background-color: #F5FAFF; }
.method-card .middle-panel-body .address-listing-body .address-row.active .card-label-div label.label-address { background-color: #DCEFFD; color: #0089E8; }
.method-card .middle-panel-body .address-listing-body .address-row.active .radio-box .form-radio { border-color:#0089E8; }
.method-card .middle-panel-body .address-listing-body .address-row.active .radio-box .form-radio:checked{ background-color: #0089E8; }
.method-card .middle-panel-body .address-listing-body .address-row.active .radio-box .form-radio:checked::before{ color: #0089E8; }

.payment-method-section .method-card .middle-panel-body .bottom-body-row { padding: 10px 0px 0 0; margin: 0 0 10px 0; float: left; width: 100%; clear: both; }
.payment-method-section .method-card .middle-panel-body .bottom-body-row .bottomright-body-pm{ padding: 0px 0px; margin: 0; float: right; width: 100%; text-align: right; }

.btn-block-custom.btn-round.btn-blue { background-color: #0089E8; color: #fff; border: 1px solid #0089E8; padding: 9px 40px; line-height: 20px; }
.btn-block-custom.btn-round.btn-blue:hover { background-color: #0053C4; border: 1px solid #0053C4; }

.method-card .middle-panel-body .col-50{ width: 50%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-40{ width: 40%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-35{ width: 35%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-30{ width: 30%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-25{ width: 25%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-20{ width: 20%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-15{ width: 15%; float: left; display: inline-block; }
.method-card .middle-panel-body .col-10{ width: 10%; float: left; display: inline-block; }

/*******************************************************************/
/***********  End of  Payment  Address   ***************************/
/*******************************************************************/

/* card Option */

body { overflow-x: hidden; }

.payment-method-section .method-card .middle-panel-body .card-form-body{ padding: 0; margin: 0; float: left; width: 100%; }

.method-card .middle-panel-body .card-form-body .form_div .form-control::-webkit-input-placeholder { color: #666666; }
.method-card .middle-panel-body .card-form-body .form_div .form-control:-moz-placeholder { color: #666666; }
.method-card .middle-panel-body .card-form-body .form_div .form-control::-moz-placeholder { color: #666666; }
.method-card .middle-panel-body .card-form-body .form_div .form-control:-ms-input-placeholder { color: #666666; }

.method-card .middle-panel-body .card-form-body .datepicker-form .datepickercustom .fa.fa-calendar{ display: none; }
.method-card .middle-panel-body .card-form-body .datepicker-form .datepickercustom .gj-textbox-md{ padding: 10px 20px; }
.method-card .middle-panel-body .card-form-body .checklist_root .checklist{ width: 100%; }
.method-card .middle-panel-body .card-form-body .checklist .form-checkbox.checkbox-round{ border-radius: 3px; }
.method-card .middle-panel-body .card-form-body .checklist_root .checklist .form-checkbox.checkbox-round:checked{ background-color: #0089E8; border-color: #0089E8; }
.method-card .middle-panel-body .card-form-body .checklist_root .checklist .form-checkbox.checkbox-round:checked::before { font-size: 12px; }
.method-card .middle-panel-body .card-form-body .checklist_root .checklist .txt_span { padding-top: 0; color: #222222; }
.method-card .middle-panel-body .card-form-body .checklist_root .checklist .label-check { margin: 0 0 0 0; display: flex; align-items: center; }
.method-card .middle-panel-body .card-form-body .form_div .material-icons.icon-abs-top { position: absolute; top: -31px; right: 15px; color: #666666; }
.method-card .middle-panel-body .card-form-body .form_div .material-icons.icon-abs-top.gps-icon{ position: absolute; top: -28px; right: 15px; color: #55555599; font-size: 18px; }
.method-card .middle-panel-body .card-form-body .fas.fa-chevron-down.arrow_center { padding: 17px 0 0 0; font-size: 12px; }

.method-card .middle-panel-body .card-form-body .form-control::-webkit-input-placeholder {  color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control::-moz-placeholder { color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control:-ms-input-placeholder { color: #66666680 !important; }
.method-card .middle-panel-body .card-form-body .form-control:-moz-placeholder { color: #66666680 !important; }

/*  */

.method-card .middle-panel-body .card-form-body .form-group label{ width: 100%; }
.method-card .middle-panel-body .card-form-body .form-group select.width-100{ width: 100%; }

.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { font-size: 16px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single:focus{ outline: none; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #666666 !important; line-height: 28px; border: 1px solid #ddd !important; min-height: 45px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single{ color: #666666 !important; line-height: 28px; border: 1px solid #ddd !important; min-height: 45px !important; }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__rendered { color: #666 !important; line-height: 44px !important; border: none !important; padding: 0 25px 0 15px !important;  }
.method-card .middle-panel-body .card-form-body .select2-container--default .select2-selection--single .select2-selection__arrow { height: 45px !important; position: absolute !important; top: 1px !important; right: 6px !important; width: 20px !important; }

.method-card .middle-panel-body .card-form-body .position-relative-div { position: relative; }
.method-card .middle-panel-body .card-form-body .position-relative-div .material-icons.icon-abs-top { position: absolute; top: -35px; right: 15px; color: #666666; }
.method-card .middle-panel-body .card-form-body .form-control{ height: 45px; padding: 10px 20px; }
.method-card .middle-panel-body .card-form-body .grid_card_box.width100{ width: 100%; margin-bottom: 0px;  }
.method-card .middle-panel-body .card-form-body .grid_card_box.width50{ width: 50%; margin-bottom: 0px; }
.method-card .middle-panel-body .card-form-body .grid_card_box.width25{ width: 25%; margin-bottom: 0px; }
.method-card .middle-panel-body .card-form-body .form-group.border-bottom { border-bottom: 1px solid #F6F7FB !important; padding-bottom: 20px; }

/* end of card Option */

/**********************************/
/************ modal ***************/
/**********************************/



.modal.right_custom.payment-modal .modal-dialog{ width: 700px; }
.payment-modal .bg-modal-inprogess { background-image: url("../images/bg-pop-up-success.svg"); background-repeat: no-repeat; min-height: 381px; padding: 0 !important; background-size: 100%; }
.payment-modal .bg-modal-inprogess .img-thumb-div { margin: 0 auto 40px auto; width: 100%; float: left; text-align: center; }
.payment-modal .bg-modal-inprogess .img-thumb-div .img-payment-icon { height: 85px; width: 85px; }
.payment-modal .bg-modal-inprogess .popup-inprogess { margin:100px 20px 80px 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;align-content: center;align-items: center; }
.payment-modal .bg-modal-inprogess .popup-inprogess h3 { color: #FFB221; font-weight: 600; margin: 0 0 30px 0; line-height: 28px; font-size: 24px; letter-spacing: -0.10px; }
.payment-modal .bg-modal-inprogess .popup-inprogess p { color: #666666; font-weight: 400; font-size: 20px; margin-bottom: 0; text-align: center; line-height: 32px; }
.payment-modal .bg-modal-inprogess .popup-inprogess .span-block{ display: block; }
.payment-modal .bg-modal-inprogess .popup-inprogess a.link-underline-black { color: #222222; font-weight: 600; text-decoration: underline;  transition: all 0.3s ease-in-out; }
.payment-modal .bg-modal-inprogess .popup-inprogess a.link-underline-black:hover{ color: #0089E8; border-color: #0089E8; }



/**********************************/
/*******   End of modal   *********/
/**********************************/


@media (min-width: 1025px) and (max-width: 1100px){
    
    

}

@media only screen and (max-width: 767px){

    /*******************************************************************/
    /******************  Payment  Address   ****************************/
    /*******************************************************************/

    .payment-method-section .method-card .top-panel-heading { padding: 15px 15px; }
    .payment-method-section .method-card .middle-panel-body{ padding: 15px 15px; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm{ width: 100%; margin: 0 0 20px 0; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .topright-body-pm{ width: 100%; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .add-txt-btn{ float: left; }
    .method-card .middle-panel-body .address-listing-body .address-row{ padding: 20px 15px;  }
    .method-card .middle-panel-body .address-listing-body .col-50{ width: 100%; margin: 0 0 15px 0; }
    .method-card .middle-panel-body .address-listing-body .col-25{ width: 50%; margin: 0 0 10px 0; }
    .method-card .middle-panel-body .address-listing-body .address-row h3{ min-height: 100%; }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .checklist label{ font-size: 12px; }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .form-radio { transform: scale(0.85); }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .radio-parent { padding: 0 6px 0 0; }

    /*******************************************************************/
    /***********  End of  Payment  Address   ***************************/
    /*******************************************************************/

    /* card Option */   

    .payment-method-section .method-card .middle-panel-body .bottom-body-row .bottomright-body-pm{ text-align: center; }
    .payment-method-section .method-card .middle-panel-body .bottom-body-row .bottomright-body-pm .btn-block-custom.btn-round.btn-blue{ width: 70%; }

    .method-card .middle-panel-body .card-form-body .grid_card_box.width100{ width: 100%; margin-bottom: 0px;  }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width50{ width: 100%; margin-bottom: 0px; }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width25{ width: 100%; margin-bottom: 0px; }

    .method-card .middle-panel-body .card-form-body .form-control{ padding: 10px 10px; }
    .method-card .middle-panel-body .card-form-body .datepicker-form .datepickercustom .gj-textbox-md{ padding: 10px 10px; }

    /* End of card Option */

    /**********************************/
    /************ modal ***************/
    /**********************************/

    .payment-modal .bg-modal-inprogess .popup-inprogess { margin: 50px 15px 50px 15px; }
    .payment-modal .bg-modal-inprogess .popup-inprogess h3 { margin: 0 0 20px 0; line-height: 28px; font-size: 20px; }
    .payment-modal .bg-modal-inprogess .popup-inprogess p { font-size: 16px; line-height: 28px; }
    .payment-modal .bg-modal-inprogess .popup-inprogess .span-block{ display: inline; }



    /**********************************/
    /*******   End of modal   *********/
    /**********************************/

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {


    /*******************************************************************/
    /******************  Payment  Address   ****************************/
    /*******************************************************************/

    .payment-method-section .method-card .top-panel-heading { padding: 15px 25px; }
    .payment-method-section .method-card .middle-panel-body{ padding:  15px 25px; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .topleft-body-pm{ width: 100%; margin: 0 0 20px 0; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .topright-body-pm{ width: 100%; }
    .payment-method-section .method-card .middle-panel-body .top-body-row .add-txt-btn{ float: left; }
    .method-card .middle-panel-body .address-listing-body .address-row{ padding: 20px 15px;  }
    .method-card .middle-panel-body .address-listing-body .col-50{ width: 100%; margin: 0 0 15px 0; }
    .method-card .middle-panel-body .address-listing-body .col-25{ width: 50%; margin: 0 0 10px 0; }
    .method-card .middle-panel-body .address-listing-body .address-row h3{ min-height: 100%; }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .checklist label{ font-size: 12px; }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .form-radio { transform: scale(0.85); }
    .method-card .middle-panel-body .address-listing-body .address-row .radio-box .radio-parent { padding: 0 6px 0 0; }

    /*******************************************************************/
    /***********  End of  Payment  Address   ***************************/
    /*******************************************************************/

    /* card Option */   

    .method-card .middle-panel-body .card-form-body .grid_card_box.width100{ width: 100%; margin-bottom: 0px;  }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width50{ width: 100%; margin-bottom: 0px; }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width25{ width: 50%; margin-bottom: 0px; }
 
    .method-card .middle-panel-body .card-form-body .form-control{ padding: 10px 10px; }
    .method-card .middle-panel-body .card-form-body .datepicker-form .datepickercustom .gj-textbox-md{ padding: 10px 10px; }
    
    /* End of card Option */

    /* modal */

    .modal.right_custom.payment-modal .modal-dialog { max-width: 600px; }

    /* end of modal */

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    
    /*******************************************************************/
    /******************  Payment  Address   ****************************/
    /*******************************************************************/

    .method-card .middle-panel-body .address-listing-body .col-50{ width: 50%; margin: 0 0 0px 0; }
    .method-card .middle-panel-body .address-listing-body .col-25{ width: 25%; margin: 0 0 0px 0; }

    /*******************************************************************/
    /***********  End of  Payment  Address   ***************************/
    /*******************************************************************/
    
    /* card Option */   

    .method-card .middle-panel-body .card-form-body .grid_card_box.width100{ width: 100%; margin-bottom: 0px;  }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width50{ width: 50%; margin-bottom: 0px; }
    .method-card .middle-panel-body .card-form-body .grid_card_box.width25{ width: 25%; margin-bottom: 0px; }
 
    /* End of card Option */

}   
@media only screen and (max-width: 320px){

}


