.modal-open .modal {background-color:rgba(0, 0, 0, .4);}


/* Pop-success */
.bg-modal-success {background-image: url("../images/bg-pop-up-success.svg"); background-repeat: no-repeat;min-height: 381px; padding: 0 !important; background-size: 100%;}
.img-checked{margin: 0 0 30px 0;}
.img-checked img {height: 85px; width: 85px;}
.pop-success { margin:100px 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;align-content: center;align-items: center; }
.pop-success h3 {color: #57D48F; font-weight: 600; margin-bottom: 10px; line-height: 28px; font-size: 24px; letter-spacing: -0.10px;}
.pop-success p {color: #666666; font-weight: 500; font-size: 20px; margin-bottom: 0; text-align: center; line-height: 28px;}

/* End */


/* Pop-up failed */
.bg-modal-failed {background-image: url("../images/bg-pop-up-failed.svg"); background-repeat: no-repeat;min-height: 381px; padding: 0 !important; background-size: 100%;}
.img-checked{margin: 0 0 30px 0;}
.img-checked img {height: 85px; width: 85px;}
.pop-failed { margin:100px 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;align-content: center;align-items: center; }
.pop-failed h3 {color: #FF5A4E; font-weight: 600; margin-bottom: 10px; line-height: 28px; font-size: 24px; letter-spacing: -0.10px;}
.pop-failed p {color: #666666; font-weight: 500; font-size: 20px; margin-bottom: 0; text-align: center; line-height: 28px;}
/* End */

/* Pop-up delete */
.modal-delete {padding: 0px !important;}
.pop-delete {padding: 50px 35px;}
.pop-delete h3 {color: #FF5A4E; font-size: 24px; line-height: 28px; letter-spacing: -0.10px; font-weight: 600; }
.pop-delete-btn {justify-content: flex-end; display: flex; padding: 10px 16px 10px 26px; margin: 0 10px; border-top:1px solid #EFEFEF; }
/* End */



/* Pop-welcome */


@media only screen and (max-width: 767px){
    /* Pop-success */
    .img-checked img {height: 65px; width: 65px;}
    .pop-success { margin:80px 20px; }

    /* End */

    /* Pop-success */
    .pop-failed { margin:80px 20px; }
    .width45 {width: 100%;}




    /* End */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {



}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}   

