/**  Home CSS  ****/

.sorting-div { padding: 0; margin: 0 -15px 15px -15px; display: flex; align-items: center; justify-content: flex-end; }
.sorting-div .sorting-form { border: 1px solid #F6F7FB; width: 150px; display: inline-block; }
.sorting-div .sorting-form:focus { box-shadow: none; }
.sorting-div .sorting-txt { display: inline-block; margin: 0; padding: 0 10px 0 0; font-size: 14px; font-weight: 400; color: #666; text-transform: capitalize; }

.dataget-div { margin-top: 15px; padding-top: 15px; border-top: 1px solid #F6F7FB; }
.feed-div .user-details-1 { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.feed-div .user-details-1 h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.feed-div .feed-owner-detailp-div{ padding: 5px 0 0 0; }
.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }
.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }
.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }
.post-view-02 { padding: 0 0 5px 0; }
.feed-div .post-view-02 > p { padding: 5px 0; margin: 0; float: right; display: flex; align-items: center; }
.feed-home-tab{ background-color: transparent !important; }
.repeat_feed_div{ margin: 0 -15px 15px -15px !important;  padding: 15px 20px; clear: both;background-color: #fff; }
.modal.home_custom_modal .modal-dialog{ width: 700px; }
.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }
.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 65px; height: 65px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }
.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }
.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }
textarea:focus{ box-shadow: none !important; }
.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.dataget-div2 { margin: 0; padding-top: 0; }

a.link_user { clear: both; width: 100%; height: 100%; display: block; }

/* end of home css  */

.width-175hidden { max-width: 175px; word-break: break-all;display:inline-block; }
.width-165hidden { max-width: 165px; word-break: break-all;display:inline-block; }
.width-100hidden { max-width: 100px; word-break: break-all;display:inline-block; }

/** Profile  **/

.custom-tab-content{ padding: 0;margin: 0; }

.main-profile-div .middle_area_div{ padding: 15px 20px 0px 20px; }
.main-profile-div{ padding: 0; }
.main-profile-div .grid_card_box { padding: 0; margin: 0 0 0px 0; width: 100%; float: left; padding-right: 0; }
.main-profile-div .grid_card_row_box { padding: 0; margin: 0 0px 0 0; }
.main-profile-div .grid_card_box .top_heading_div { padding: 15px 0px 0px 0px; margin: 0; display: inline-block; width: 100%; background-color: #ffffff; border: 1px solid #F6F7FB; border-radius: 4px 4px 0 0; border-bottom: 0px; position: relative; }
.main-profile-div .grid_card_box .details_row .details_col h5{ padding: 0; margin: 0 0 6px 0; font-size: 20px; font-weight: 500; color: #222222; }
.main-profile-div .grid_card_box .details_row .details_col p { padding: 0; margin: 0; font-size: 14px; font-weight: 400; color: #666666;  }
.main-profile-div .btn-container-div{ padding: 0; margin: 0; }
.hide_txt{ display: none; padding: 0px 0 0 0;transition: display 0.3s linear; }
.main-profile-div .readmore_btn{ font-size: 16px;padding: 5px 0 !important; }

.main-profile-div .group-detail-btn-grp { clear: both; position: absolute; right: 15px; bottom: 20px; }
.main-profile-div .group-detail-btn-grp .btn-round.btn-lightgray { padding: 6px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px;color: #666; }
.main-profile-div .group-detail-btn-grp .btn-round.btn-blue { padding: 6px 30px !important; font-size: 14px;font-weight: 500;min-width: 100px;background-color: #0089E8; color: #fff; border: 1px solid #0089E8; }
.main-profile-div .group-detail-btn-grp .btn-round.btn-blue:hover, .main-profile-div .group-detail-btn-grp .btn-round.btn-blue:focus { background-color: #0053C4!important; color: #fff!important; border: 1px solid #0053C4!important; }

.main-profile-div .cover_root_div{ padding: 0;margin: 0; }
.main-profile-div .cover_root_div .cover_banner_div{ padding: 0;margin: 0;position: relative; border-radius: 4px;}
.main-profile-div .cover_root_div .cover_banner_div .banner_thumb{ padding: 0;margin: 0;position: relative;border-radius: 4px; }
.main-profile-div .cover_root_div .cover_banner_div .banner_thumb::after{ content:"";display: block;width: 100%;position: absolute;height: 100%;  background-image: linear-gradient(transparent, #00000033); top: 0;border-radius: 4px; }
.main-profile-div .cover_root_div .cover_banner_div .banner_thumb .cover_img{ padding: 0;margin: 0; width: 100%;border-radius: 4px; }
.main-profile-div .cover_root_div .user_details_cover{ padding: 0;margin: 0;background-color: #fff; }

.main-profile-div .user_details_cover .user_row{ padding: 0;margin: 0; }
.main-profile-div .user_details_cover .user_row .user_profile_div { padding: 0 15px 20px 15px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB;position: relative; }
.main-profile-div .user_details_cover .user_row .user_profile_div .img_thumb_div { padding: 0; margin: -25px 0 0 0; width: 118px; height: 118px; float: left; max-width: 15%; position: relative; }
.main-profile-div .user_details_cover .user_row .user_profile_div .img_thumb_div .img-user { overflow: hidden; border-radius: 100%; width: 100%; }
.main-profile-div .user_details_cover .user_row .user_profile_div .user-content-details-div {     padding: 0px 0 0 20px; margin: 0; float: left; min-height: 96px; display: flex; justify-content: center; flex-direction: column; width: 85%; }
.main-profile-div .user_details_cover .user_row .user_profile_div .user-content-details-div h3 { padding: 0; margin: 0 0 10px 0; font-size: 20px; font-weight: 500; color: #222222; }
.main-profile-div .user_details_cover a.link-member-status { color: #57D48F; font-size: 12px; font-weight: 500;line-height: 17px; }
.main-profile-div .user_details_cover .cname{ padding: 5px 0;margin: 0;display: block; color: #666666; font-size: 12px; font-weight: 500;line-height: 17px; }
.main-profile-div .user_details_cover .contact_row{ padding: 10px 15px;margin: 0; background-color: #FAFAFA;border: 1px solid #F6F7FB; }
.main-profile-div .user_details_cover .contact_row .contact_col { display: flex; align-items: flex-start; float: left; padding: 4px 15px 4px 15px; border-left: 1px solid #E5E5E5; }
.main-profile-div .user_details_cover .contact_row .contact_col:first-child { padding: 4px 15px 4px 0px; border-left: 0px solid #E5E5E5; display: flex; align-items: center; float: left; }
.main-profile-div .user_details_cover .contact_row .title_span { padding: 0px 0px 0 0px; margin: 0; font-size: 12px; color: #666; font-weight: 500;line-height: 14px; }
.main-profile-div .user_details_cover .contact_row .contact_link { padding: 0px 0px 0 10px; margin: 0; font-size: 12px; color: #666; font-weight: 500;line-height: 14px; }
.main-profile-div .user_details_cover .con_details_row{ background-color: #fff; }
.main-profile-div .user_details_cover .con_details_row .details_row{ padding: 10px 15px;margin: 0;border: 1px solid #F6F7FB; }
.main-profile-div .user_details_cover .con_details_row .details_row .details_col { float: left; padding: 4px 15px 4px 15px; width: 22%;  }
.main-profile-div .user_details_cover .con_details_row .details_row .details_col:first-child { padding: 4px 15px 4px 0px;  }
.main-profile-div .user_details_cover .con_details_row .details_row .details_col:last-child { width: 34%; }
.main-profile-div .user_details_cover .con_details_row .details_row .number_txt {  padding: 0px 0px 5px 0px;  margin: 0;  font-size: 16px;  color: #222;  font-weight: 600;  display: block; }

.main-profile-div .desciption_div{ padding: 0;margin: 0; }
.main-profile-div .desciption_div .desc_txt_div{ padding: 20px 15px;margin: 0; }
.main-profile-div .desciption_div .desc_txt_div h5 { font-size: 16px; }
.main-profile-div .desciption_div .desc_txt_div p { padding: 0; margin: 0 0 10px 0; font-size: 16px; font-weight: 400; color: #666666; line-height: 23px; letter-spacing: -0.1px; }

.main-profile-div .btn-transaprent01 { height: auto; padding: 5px 14px; font-size: 12px; font-weight: 600; line-height: 16px; position: absolute; bottom: 10px; right: 20px; border-radius: 100px; color: #666; background-color: #f6f7fb80; border: none;transition: all 0.3s ease-in-out; }
.main-profile-div .btn-transaprent01:hover{  background-color: #f6f7fbcc; }
.main-profile-div .btn-transaprent01 .edit_icon { float: left; font-size: 16px; }
.main-profile-div .btn-transaprent01 .btn_txt { float: left; padding: 0 0 0 8px; }

.main-profile-div .btn-edit-icon { height: 26px; width: 26px; text-align: center; padding: 0; font-size: 12px; font-weight: 600; line-height: 16px; position: absolute; bottom: 5px; right: 5px; border-radius: 100px; color: #666; background-color: #F6F7FB; border: none; display: flex; align-items: center; justify-content: center; }
.main-profile-div .btn-edit-icon .edit_icon { float: left; font-size: 16px; }

.main-profile-div .btn-edit-icon01 { height: 26px; width: 26px; text-align: center; padding: 0; font-size: 12px; font-weight: 600; line-height: 16px; position: absolute; top: 0; right: 0; border-radius: 100px; color: #666; background-color: #F6F7FB; border: none; display: flex; align-items: center; justify-content: center; }
.main-profile-div .btn-edit-icon01 .edit_icon { float: left; font-size: 16px; }

.main-profile-div .btn-edit-icon01.top-minus45{ top: -45px; }

.mix_profile_div{ padding: 0;margin: 0; }
.mix_profile_div .column-6{ padding: 0;margin: 0;width: 50%;display: inline-block;float: left; }

.mix_profile_div .section-box { padding: 22px 10px 20px 50px; margin: 0; border: 1px solid #F6F7FB; }
.mix_profile_div .section-box .heading-title-box{ padding: 0;margin: 0;position: relative; width: 80%; }
.mix_profile_div .section-box .heading-title-box h3{ padding: 0; margin: 0 0 20px 0; display: block; font-size: 16px; font-weight: 600; color: #222; line-height: 24px; }
.mix_profile_div .section-box .heading-title-box .icon-mix { display: inline-block; position: absolute; left: -37px; top: 1px; color: #66666666; font-size: 20px; }
.mix_profile_div .section-box .body-details-section{ padding: 0;margin: 0;position: relative; }
.mix_profile_div .section-box .body-details-section .div_row{ padding: 0;margin: 0 0 10px 0; }
.mix_profile_div .section-box .body-details-section h4{ padding: 0; margin: 0 0 0px 0; display: inline-block; font-size: 14px; font-weight: 600; color: #222; line-height: 20px; }
.mix_profile_div .section-box .body-details-section h4.blk-full{ display: block;width: 100%;margin: 0 0 10px 0; }
.mix_profile_div .section-box .body-details-section p{ padding: 0; margin: 0 0 0px 0; display: inline-block; font-size: 14px; font-weight: 400; color: #666666; line-height: 24px;letter-spacing: 0px; }
.mix_profile_div .section-box .body-details-section .div_row.liststyle_div{ width: 100%; display: block; }
.mix_profile_div .section-box .body-details-section .liststyle_div p { padding: 0 10px 0 10px; border-left: 1px solid #E5E5E5; float: left; display: inline-block;margin: 0 0 10px 0;}
.mix_profile_div .section-box .body-details-section .liststyle_div p:first-child { padding: 0 10px 0 0px;border-left: 0px solid #E5E5E5; }
.mix_profile_div .section-box .body-details-section .liststyle_div .pcustom01{ padding-left:0px;border-left: 0px solid #E5E5E5; }
.mix_profile_div .section-box .body-details-section .mb-20{ margin-bottom: 20px; }
.mix_profile_div .section-box .body-details-section .mb-10{ margin-bottom: 10px; }
.mix_profile_div .section-box .body-details-section .div_row2{ width: 100%; display: block; }
.mix_profile_div .section-box .body-details-section .div_row2 .ul_list p:first-child { padding: 0 10px 0 0px;border-left: 0px solid #E5E5E5; }
.mix_profile_div .section-box .body-details-section .div_row2 .desciption_div .desc_txt_div { padding: 0; margin: 0; }
.mix_profile_div .section-box .body-details-section .div_row2 .readmore_btn { font-size: 14px; padding: 0px 0 !important; }

.mix_profile_div .section-box .body-details-section .ul-listing{ padding: 0;margin: 0 0 20px 0; }
.mix_profile_div .section-box .body-details-section .ul-listing li{ padding: 0; margin: 0 0 0px 0; display: block; font-size: 14px; font-weight: 400; color: #666666; line-height: 24px;letter-spacing: 0px; }
.mix_profile_div .section-box .body-details-section .link-a{ color: #666; }
.mix_profile_div .section-box .body-details-section .point_contact_row p { display: block;margin: 0 0 5px 0; word-break: break-all; }
.mix_profile_div .section-box .body-details-section .additional-details-links-div{ padding: 0;margin: 0; }
.mix_profile_div .section-box .body-details-section .additional-details-links-div .addition-details-btn { padding: 8px 47px 8px 15px; margin: 0 10px 10px 0; background-color: #E7F2FF; color: #0089E8; border-radius: 10px; font-size: 14px; line-height: 16px; float: left; }
.mix_profile_div .section-box .body-details-section .additional-details-links-div .material-icons.icon-add { font-size: 18px; line-height: 21px; position: absolute; right: 13px; top: 7px; }
.mix_profile_div .section-box .body-details-section .additional-details-links-div .additional-ul li{ display: inline-block; }

.mix_profile_div .section-box.section-box3 { padding: 22px 10px 20px 60px; }
.mix_profile_div .section-box.section-box3 .btn-add01 { background: #E7F2FF; color: #0089E8; border-color: #E7F2FF; padding: 5px 20px; text-transform: capitalize; font-weight: 600; line-height: 16px; font-size: 12px; border-radius: 17px; top: -45px; right: 0; position: absolute; }



.mix_profile_div .section-box .education_div{ padding: 0;margin: 0; }
.mix_profile_div .section-box .education_div .row-edu { padding: 20px 0 20px 0; margin: 0; border-bottom: 1px solid #F6F7FB; }
.mix_profile_div .section-box .education_div .row-edu:first-child{ padding-top: 0px; }
.mix_profile_div .section-box .education_div .row-edu:last-child{ padding-bottom: 0px;border-bottom: 0px solid #F6F7FB; }
.mix_profile_div .section-box .education_div .row-edu .img_thumb_div { padding: 0; margin: 0; width: 50px; height: 50px; float: left; max-width: 23%; position: relative; }
.mix_profile_div .section-box .education_div .row-edu .img_thumb_div .img-user { overflow: hidden; width: 100%; }
.mix_profile_div .section-box .education_div .row-edu .user-content-div { padding: 0px 0 0 15px; margin: 0; float: left; min-height: 56px; display: flex; justify-content: center; flex-direction: column; width: 77%; }
.mix_profile_div .section-box .education_div .row-edu .user-content-div h3 { padding: 0; margin: 0 0 5px 0; font-size: 16px; font-weight: 500; color: #222222; text-overflow: ellipsis; white-space: pre; width: 100%; overflow: hidden; }
.mix_profile_div .section-box .education_div .row-edu .user-content-div p { padding: 0; margin: 0 0 0px 0; display: block; font-size: 14px; font-weight: 400; color: #666666; line-height: 24px; letter-spacing: 0px; }
.mix_profile_div .section-box .lang_svg {  margin-top: -10px;    width: 17px; }

.mix_profile_div .section-box .languages_div{ padding: 0;margin: 0; }
.mix_profile_div .section-box .languages_div .prg_p{ padding: 0;margin: 0 0 5px 0;line-height: 28px; }
.mix_profile_div .section-box .languages_div .font-500{ font-weight: 500;color: #222222; }

.bottom-btn-row{ width: 100%; display: block; clear: both; text-align: right;padding: 0px 40px 20px 40px; }
.bottom-btn-row .remove-btn { font-size: 14px; font-weight: 500; color: #FF5A4E; padding: 0px 0; background: transparent; float: left; line-height: 35px; }

.image-block{ padding: 0;margin: 0 0 20px 0; }
.image-block .img-thumb-div{ padding: 0;margin: 0; }
.image-block .img-thumb-div img{ padding: 0;margin: 0;width: 100%; }

.modal.right_custom .modal-body.modal-bodyfull{ padding: 0;margin: 0; }
.modal.right_custom .modal-dialog { max-width: 550px; }

.checkbox1 { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-color: #fff; color: #fff; top: 0px; height: 16px; width: 16px; border: 2px solid #666666; cursor: pointer; margin-right: 10px; outline: none!important; vertical-align: middle; }
.checkbox1:checked::before { position: absolute; left: 2px; top: -4px; font-size: 12px; content: '\02143'; transform: rotate(40deg); }
.checkbox1:checked { background-color: #666; }

/**  end of Profile  **/

/*  changes in 14-6-2019  */

.mix_profile_div .section-box .education_div .row-edu .user-content-div .link-refrence{ padding: 0; margin: 0 0 0px 0; display: block; font-size: 14px; font-weight: 400; color: #666666; line-height: 24px; letter-spacing: 0px;    display: block; word-break: break-word; }
.mix_profile_div .section-box .education_div.hobbies_div .row-edu .user-content-div{ padding: 0; min-height: 100%; width: 100%; }
.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul{ margin: 0; padding: 0; }
.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul li { display: inline-block; float: left; }

.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul{ padding: 0;margin: 0; }
.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul .hobbies-details-btn { padding: 4px 35px 4px 15px; margin: 0 5px 5px 0; background-color: #E7F2FF; color: #0089E8; border-radius: 100px; font-size: 12px; line-height: 16px; float: left; }
.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul .material-icons.cancel-icon { font-size: 13px; line-height: 21px; position: absolute; right: 10px; top: 2px; }
.mix_profile_div .section-box .education_div.hobbies_div .hobbies-ul .additional-ul li{ display: inline-block; }
.mix_profile_div .section-box.section-left-box{     padding: 22px 10px 20px 50px }

.business-card-box{ padding: 0;margin: 0;width: 100%; }
.business-card-box .top_heading_div{ padding: 15px 0px 0px 0px;border-bottom: 1px solid #F6F7FB; }
.business-card-box .top_heading_div .user_profile_div { padding: 0 20px 12px 20px; margin: 0; float: left; width: 100%; border-bottom: 1px solid #F6F7FB; }
.business-card-box .top_heading_div .contact_details_bcard { padding: 20px 20px 5px 20px; margin: 0; clear: both; border-bottom: 1px solid #F6F7FB; }
.business-card-box .top_heading_div .bcard_bottom_div{ padding: 12px 20px; }
.business-card-box .top_heading_div .more-verticle-div { width: 30px; position: absolute; right: 0; top: 15px; }
.business-card-box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600;position: relative; width: 100%; padding-right: 65px;    display: flex; align-items: center; }
.business-card-box .top_heading_div .user_profile_div .user-content-div h3 span.budges-span {font-size: 14px; font-weight: 500;}
.business-card-box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 80%; min-width: 57%; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.business-card-box .top_heading_div .user_profile_div .user-content-div p { font-size: 16px; color: #666666;margin: 0px 0 5px 0; }
.business-card-box .top_heading_div .user_profile_div .user-content-div p.created_time_line { font-size: 14px; }
.business-card-box .contact_details_bcard{ padding: 20px 0 0 0;margin: 0; clear: both; }
.business-card-box .contact_details_bcard .contact_info_row { padding: 0px 0; margin: 0 0 15px 0; display: flex; align-items: center; position: relative; }
.business-card-box .contact_details_bcard .contact_info_row .iconabs-left { padding: 0; margin: 0; position: absolute; left: 0; font-size: 16px; }
.business-card-box .contact_details_bcard .contact_info_row .iconabs-left.location_icon { color: #666666; }
.business-card-box .contact_details_bcard .contact_info_row .contact_line_txt { width: 100%; padding: 0 0 0 31px; margin: 0 0 0 0; font-size: 14px; color: #666; display: flex; }
.business-card-box .btn-div-row .link-remove { font-size: 14px; font-weight: 500; color: #FF5A4E;padding: 7px 0; }
.business-card-box .btn-div-row .link-remove:hover { color: #d14e44; }

.modal.right_custom.view-card-modal .modal-body { padding: 40px 40px 40px 40px; }
.image-modal .image-block.user-profile-block { padding: 40px; }
.image-modal .image-block.user-profile-block .img-thumb-div { padding: 0; margin: 0 auto; width: 50%; }

/*  End of changes in 14-6-2019  */

/***  Current address  ****/

.mix_profile_div .section-box.current-address-section .current-address-box{ padding: 0 30px 0 0; margin: 0 0 20px 0; position: relative; }
.mix_profile_div .section-box.current-address-section .current-address-box .top-cr-address-top{ padding: 15px 25px; margin: 0; background-color: #fafafa80; border: 1px solid #E1E1E1; border-bottom: 0px; }
.mix_profile_div .section-box.current-address-section .current-address-box .top-cr-address-top p {  padding: 0; margin: 0;font-size: 16px; color: #555555cc; line-height: 28px; }
.mix_profile_div .section-box.current-address-section .current-address-box .top-cr-address-top h3.h3-222 { padding: 0; margin: 0; font-size: 14px; color: #222222; line-height: 22px; font-weight: 600; }
.mix_profile_div .section-box.current-address-section .current-address-box .bottom-cr-address-top{ width: 100%; float: left; }
.mix_profile_div .section-box.current-address-section .current-address-box .bottom-cr-address-top .bottom-cr-half-50 { padding: 0; margin: 0; width: 50%; float: left; }
.mix_profile_div .section-box.current-address-section .current-address-box .btn.btn-common.btn-link-cr { width: 100%; border-radius: 0px; background-color: #fcfcfc; border: 1px solid #E1E1E1; font-size: 14px; color: #0089E8; font-weight: 500; line-height: 28px; }
.mix_profile_div .section-box.current-address-section .current-address-box .btn.btn-common.btn-link-cr:hover{ color: #0053C4; }

/***  End of Current address  ****/



@media only screen and (max-width: 767px){

     /*  home css  */
 
     .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
     .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
     .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
     .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
     .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
     .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
 
     .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
     
     .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 0 5px 0; }
     .send-post-div .share-post { height: 125px; }
 
     .btn-icon span {display: none;}
     .send-post-div .icon1 {margin-right: 0;}
     .send-post-div .footer-input-box {padding: 15px;}
 
 
     .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
     .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
     .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0; }
     .comment_desc_box {padding: 15px 20px;}
     .comment_desc_box h4 {line-height: 16px;}
     .reply-row .user-span-round {margin-top: 8px !important;}
 
     /* end of home css  **/

     /**  Profile  **/

     .main-profile-div .user_details_cover .user_row .user_profile_div .img_thumb_div { width: 65px; height: 65px; max-width: 65px; }
     .main-profile-div .btn-edit-icon{ bottom: 0; right: -10px; }
     .main-profile-div .user_details_cover .user_row .user_profile_div .user-content-details-div { padding: 20px 0 10px 0px; min-height: auto; width: 100%; }
     .main-profile-div .group-detail-btn-grp { position: relative; right: auto; bottom: auto; width: 100%; }
     .main-profile-div .user_details_cover .contact_row .contact_col { padding: 10px 25px 10px 0px; border-left: 0px solid #E5E5E5; }
     .main-profile-div .user_details_cover .con_details_row .details_row .details_col { width: 100%; padding: 10px 25px 10px 0px; }
     .main-profile-div .user_details_cover .con_details_row .details_row .details_col:last-child { width: 100%; }

     .mix_profile_div .column-6 {  width: 100%; }

     /**  end of Profile  **/

    .modal.right_custom.image-modal .modal-dialog { max-width: 100%; padding: 0 10px !important; }
    .bottom-btn-row .remove-btn {   width: 100%;   margin: 0 0 10px 0; }


    /***  Current address  ****/

    .mix_profile_div .section-box.current-address-section .current-address-box { padding: 0 0px 0 0; }
    .mix_profile_div .section-box.current-address-section .current-address-box .top-cr-address-top { padding: 10px 15px; }


    /***  End of Current address  ****/
    

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

     /*  home css  */
 
     .post-view-02 .social-btn-link .post_txt { font-size: 16px; }
     .post-view-02 .social-btn-link { padding: 5px 0px 0 10px;margin: 0 0 5px 0; }
     .reply-comment-div .reply-row .user-img-thumb { padding: 0px 0; margin: 0; display: inline-block; float: right; width: 100%; text-align: right; }
     .comment_desc_box p { line-height: 21px; font-size: 14px; font-weight: 400; }
     .reply-comment-div .reply-row .comment_box { padding: 0 0px 0 0px;margin: 10px 0 0 0;width: 100%; }
     .reply-comment-div .reply-row .comment_box .comment-textarea{ font-size: 14px; padding: 14px 65px 10px 20px; }
 
     .body-post-div .user-detail-top-row .user-img .img-profile-1 {  width: 50px;  height: 50px;  border-radius: 100%; }
     
     .send-post-div .footer-input-box .btn-round-link.article-btn { margin: 0 0 5px 0; }
     .send-post-div .share-post { height: 125px; }
 
     .btn-icon span {display: none;}
     .send-post-div .icon1 {margin-right: 0;}
     .send-post-div .footer-input-box {padding: 15px;}
 
 
     .reply-comment-div .reply-row .user-img-thumb {float: left; width: 15%;justify-content: flex-start;display: flex;}
     .reply-comment-div .reply-row .user-img-thumb .user-span-round {height: 35%; width: 35px;}
     .reply-comment-div .reply-row .comment_box {width: 85%;  margin: 0; }
     .comment_desc_box {padding: 15px 20px;}
     .comment_desc_box h4 {line-height: 16px;}
     .reply-row .user-span-round {margin-top: 8px !important;}
 
     /* end of home css  **/

    /**  Profile  **/

    .main-profile-div .user_details_cover .user_row .user_profile_div .img_thumb_div { max-width: 30%; }
    .main-profile-div .user_details_cover .user_row .user_profile_div .user-content-details-div { padding: 0px 0 0 0px; margin: 20px 0 20px 0; width: 80%;min-height: 100%; }
    .main-profile-div .user_details_cover .contact_row .contact_col { padding: 10px 10px 10px 0px; border-left: 0px solid #E5E5E5;width: 50%; }
    .main-profile-div .user_details_cover .contact_row .contact_col:first-child { padding: 10px 10px 10px 0px;}
    .main-profile-div .user_details_cover .contact_row .contact_col:last-child { padding: 10px 10px 10px 0px;}
    .main-profile-div .user_details_cover .con_details_row .details_row .details_col{ width: 50%;padding: 10px 5px 10px 0px;  }
    .main-profile-div .user_details_cover .con_details_row .details_row .details_col:last-child{ width: 50%;padding: 10px 5px 10px 0px;  }
    .main-profile-div .user_details_cover .con_details_row .details_row .details_col:first-child { padding: 10px 5px 10px 0px; }
    .main-profile-div .user_details_cover .group-detail-btn-grp { clear: both; position: relative; right: auto; bottom: auto; }
    .main-profile-div .btn-edit-icon{ bottom: 10px; right: 0px; }
    .main-profile-div .group-detail-btn-grp { position: relative; right: auto; bottom: auto; width: 100%; }
    .mix_profile_div .column-6 {  width: 100%; }


    /**  end of Profile  **/

    
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 90%;}
    
}   
@media only screen and (max-width: 320px){
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 76%;}
    .btn-div-row .btn-message {padding: 6px 10px; font-size: 12px;}
    .btn-div-row .btn-refer {padding: 6px 10px; font-size: 12px;}
}


