
.filter_card_div.filter_card02_div .filter-txt-btn { position: absolute; right: 0; top: -60px; padding: 7px 0px !important; margin: 0 !important; line-height: 22px; font-size: 18px; letter-spacing: -0.01em; font-weight: 500; color: #4886FF !important; }

/* New added css */

.profile_view_section .grid_card_box .top_heading_div .user_profile_div .img_thumb_div {height: 60px; width: 60px;max-width: 11%; }
.profile_view_section .grid_card_box {width: 100%;}

.profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600;position: relative; width: 100%; padding-right: 65px;    display: flex; align-items: center; }
.profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.budges-span {font-size: 14px; font-weight: 500;}
.profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 90%; min-width: 60%; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div p { font-size: 16px; color: #666666; }

.labeltime {color: #66666680; font-size: 14px; font-weight: 500; line-height: 24px;text-transform: capitalize;position: absolute; right: 0; top: 0; }

.btn-div-row { padding: 0; margin: 0; display: flex; width: 100%; display: block; clear: both; text-align: right; }
.btn-div-row .link-remove { font-size: 14px; font-weight: 500; color: #FF5A4E;padding: 7px 0; }
.btn-div-row .link-remove:hover { color: #d14e44; }
.btn-div-row .btn-message { background-color: #0089E8; color: #fff; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; }
.btn-div-row .btn-message:hover { background-color: #0053C4; }
.btn-div-row .btn-refer {background-color: #F4F4F4; color: #666666; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; margin-right: 8px;}
.btn-div-row .btn-refer:hover { background-color: #DDDDDD; }

.btn-div-row .left-align{ float: left; }

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status {bottom: 5px !important; top: auto; }
.tab-featured1 .grid_card_box {min-height: auto;}

.post_tab .grid_card_box {min-height: auto;}
.tab-pane.post_tab .grid_card_box .top_heading_div .skill_desciption_div {padding-top: 12px;}


/**  Post Modal  *********/

.modal.home_custom_modal .modal-dialog{ width: 700px; }

.body-post-div{ padding: 0;margin: 0; }
.body-post-div .share-post-top{ padding: 0;margin: 0 0 15px 0; }

.body-post-div .user-detail-top-row{ padding: 0 0 20px 0!important; margin: 0; display: flex; }
.body-post-div .user-detail-top-row .user-img { margin-right: 15px; display: flex; }
.body-post-div .user-detail-top-row .user-img .img-profile-1 { width: 50px; height: 50px; border-radius: 100%; }
.body-post-div .user-detail-top-row .user-details { padding: 5px 0; display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.body-post-div .user-detail-top-row .user-details h4 { color: #222; font-size: 18px; padding: 0px 0 3px 0; margin: 0; font-weight: 500; line-height: 18px; }
.body-post-div .user-detail-top-row .user-details p { color: #666; font-size: 14px; padding: 0px 0 0px 0; margin: 0; line-height: 18px; }

.body-post-div .share-comment-row{ padding: 0;margin: 0; }
.body-post-div .share-comment-row .textarea-form { padding: 10px 15px; margin: 0; width: 100%; background: #FAFAFA; border: 1px solid #F6F7FB; display: inline-block; font-size: 18px; font-weight: 400;    min-height: 100px; color: #666666;    line-height: 24px; }
.body-post-div .share-comment-row .textarea-form:focus { box-shadow: none !important; }

.body-post-div .share-post-top.like-post-listing { padding: 0; margin: 0 0 0px 0; }
.body-post-div .like-post-listing .user-detail-top-row{ border-top: 1px solid #F6F7FB; padding: 15px 0 15px 0!important; }
.body-post-div .like-post-listing .user-detail-top-row:first-child{ border-top: 0px solid #F6F7FB; padding: 0px 0 15px 0!important; }

textarea:focus{ box-shadow: none !important; }

.body-post-div .repeat_feed_div { margin: 0 0px 15px 0px !important; padding: 15px 20px; clear: both; background-color: #fff; border: 1px solid #F6F7FB; }
.body-post-div .feed-div { padding: 0; margin: 0; display: flex; }
a.like_link {  color: #666; }

.post-view-02 .social-btn-link .post_txt { font-size: 18px; color: #666; margin: 0px 0 0 0; display: inline-block; padding: 0 0 0 10px; vertical-align: middle;font-weight: 400; }
.post-view-02 .social-btn-link { padding: 5px 15px 0 15px;display: inline-flex!important; }
.post-view-02 .social-btn-link.bx-liked-element{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .material-icons.post_icons{ color: #0089E8; }
.post-view-02 .social-btn-link.bx-liked-element .post_txt{ color: #0089E8; }

.user-detail-row-2 p a { color: #0089E8; padding: 0 0 0 5px; }

.social-btn-link:hover .post_txt{ color: #0089E8; }
.view_post_thumb{ padding: 0px 0; margin: 0; }  

.btn-attachment-link {  margin-right: 20px; padding: 0 0 !important; font-size: 14px; width: auto; }
.btn-attachment-link label { padding: 7px 0px; display: table; color: #0089E8; margin: 0; width: 100%; text-align: left; display: flex; align-items: center; }
.btn-attachment-link .icon1 { width: 30px; margin-right: 8px; }
.btn-attachment-link input[type="file"] { display: none; }
.btn-attachment-link .upload_txt { line-height: 24px; color: #0089E8; font-size: 14px;margin: 0 0 0 10px; }
.btn-attachment-link .attchment_icon { font-size: 18px; color: #0089E8; }

.btn-attachment-link .img_txt { margin: 0 0 0 8px; }

/**  End of Post Modal  *********/

/**  profile-viewers  *********/

.general-leftdiv { padding: 0 15px 0 0px; margin: 0; width: 66.6%; float: left; }
.general-rightdiv { padding: 0 0px 0 0px; margin: 0; width: 33.3%; float: left; }
.general-tabdiv .heading-title-div .title_txt_div { padding: 0 0 0 0px; }

.tab-content.custom-tab-content2{ margin: 15px 0 0 0; }

.custom-tab-content2 .grid_card_box { padding: 0; margin: 0 0 15px 0; width:100%; float: left; }
.custom-tab-content2 .grid_card_box .link_box{ padding: 0;margin: 0;clear: both; }
.custom-tab-content2 .grid_card_box .listingbox-groups { background-color: #fff; padding: 20px 15px 10px 15px; display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column;position: relative; }
.custom-tab-content2 .grid_card_box .listingbox-groups .profile-img { margin-bottom: 20px; }
.custom-tab-content2 .grid_card_box .listingbox-groups .profile-img img { height: 60px; width: 60px; border-radius: 100px; }

.custom-tab-content2 .listingbox-groups .profile-detail { text-align: center; justify-content: center; width: 100%; }
.custom-tab-content2 .listingbox-groups .profile-detail h3.title_h3 { font-size: 18px; color: #222222; text-align: center; font-weight: 600; padding: 0; margin: 0 0 10px 0; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.custom-tab-content2 .listingbox-groups .profile-detail p.subtitle_p { font-size: 16px; color: #666666; text-align: center; font-weight: 400; padding: 0; margin: 0 0 20px 0; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.custom-tab-content2 .listingbox-groups .link-member { display: block; font-size: 16px; font-weight: 500; margin-bottom: 12px; color: #0089E8; }
.custom-tab-content2 .listingbox-groups .profile-detail .btn-follow-block { display: block; width: 100%; padding: 9px; font-size: 14px; color: #0089E8; line-height: normal; font-weight: 600; background-color: #E7F2FF; border-radius: 17px !important; }
.custom-tab-content2 .listingbox-groups .profile-detail .btn-follow-block:hover{ background: #D2E8F7; }

.profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 89%; min-height: 60px; }

.custom-tab-content2 .listingbox-groups a.cross-cancel-right { position: absolute; top: 0; right: 0; color: #666; margin: 15px; }

/**  End of profile-viewers  *********/

.grid_card_box .top_heading_div .skill_desciption_div { padding: 10px 0 10px 0; }
.custom-tab-content .tab-pane { margin-top: 25px; }


@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    .profile_view_section .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; padding: 15px 0 0 0; }
    .btn-div-row .btn-message {padding: 8px 15px;}
    .btn-div-row .btn-refer {padding: 8px 15px;}
    .filter_card_div.filter_card02_div .filter-txt-btn {  top: -72px;font-size: 16px; }

    .btn-div-row { padding: 0; }
    .btn-div-row .link-remove { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-message { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-refer { width: 100%;margin: 0 0 10px 0; }
    
    
    /**  profile-viewers  *********/

    .profile_view_section .grid_card_box .top_heading_div .user_profile_div .img_thumb_div { max-width: 100%; }
    
    .general-leftdiv { padding: 0 0px 0 0px; width: 100%; }
    .general-rightdiv { padding: 0 0px 0 0px; width: 100%; }
    
    /**  End of profile-viewers  *********/



}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 85%;}

    .general-leftdiv { padding: 0 0px 0 0px; width: 100%; }
    .general-rightdiv { padding: 0 0px 0 0px; width: 100%; }
    .custom-tab-content2 .grid_card_box { padding: 0; margin: 0 0 15px 0; width: 50%; float: left; }

    .custom-tab-content2 .grid_card_box { padding: 0 15px 0px 0px; width: 50%; float: left; }
    .tab-content.custom-tab-content2 .tab-section { margin: 0 -15px 0 0; }


}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 90%;}
}   
@media only screen and (max-width: 320px){
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 76%;}
    .btn-div-row .btn-message {padding: 6px 10px; font-size: 12px;}
    .btn-div-row .btn-refer {padding: 6px 10px; font-size: 12px;}
}


