
/* New added css */

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div {height: 60px; width: 60px;max-width:18%; }
.grid_card_box {width: 50%;}

.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 { font-size: 18px; font-weight: 600;position: relative; width: 100%; padding-right: 65px;    display: flex; align-items: center; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.budges-span {font-size: 14px; font-weight: 500;}
.grid_card_box .top_heading_div .user_profile_div .user-content-div h3 span.inline_overflow_title { max-width: 80%; min-width: 55%; display: inline-block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.grid_card_box .top_heading_div .user_profile_div .user-content-div p { font-size: 16px; color: #666666;line-height: 20px; }

.grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 82%; min-height: 60px; }
.labeltime {color: #66666680; font-size: 14px; font-weight: 500; line-height: 24px;text-transform: uppercase;position: absolute; right: 0; top: 0; }

.btn-div-row { padding: 0; margin: 0; display: flex; width: 100%; display: block; clear: both; text-align: right; }
.btn-div-row .link-remove { font-size: 14px; font-weight: 500; color: #FF5A4E;padding: 7px 0; }
.btn-div-row .link-remove:hover { color: #d14e44; }
.btn-div-row .btn-message { background-color: #0089E8; color: #fff; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; }
.btn-div-row .btn-message:hover { background-color: #0053C4; }
.btn-div-row .btn-refer {background-color: #F4F4F4; color: #666666; border-radius: 100px; font-size: 14px; font-weight: 500; padding: 7px 30px; margin-right: 8px;}
.btn-div-row .btn-refer:hover { background-color: #DDDDDD; }

.btn-div-row .left-align{ float: left; }

.grid_card_box .top_heading_div .user_profile_div .img_thumb_div .profile-status {bottom: 5px !important; top: auto; }
.tab-featured1 .grid_card_box {min-height: auto;}

.post_tab .grid_card_box {min-height: auto;}
.tab-pane.post_tab .grid_card_box .top_heading_div .skill_desciption_div {padding-top: 10px;}

.custom-tab-content .tab-pane { margin-top: 25px; }
.heading-title-div { margin: 0 0 25px 0;}
textarea:focus{ box-shadow: none !important; }

/*  setting  */


.white-box-grid{ padding: 0px;margin: 0;display: inline-block;width: 100%;background-color: #ffffff;border: 1px solid #F6F7FB;border-radius: 4px;position: relative; }
.white-box-grid .title-div { padding: 0 50px;margin: 0;border-bottom: 1px solid #F6F7FB; }
.white-box-grid .title-div h4 { padding: 12px 0; margin: 0; font-size: 16px; font-weight: 600; color: #222222; }
.white-box-grid .body-div { padding: 20px 50px; margin: 0; clear: both; display: block; }
.white-box-grid .body-div .row-line{ padding: 0;position: relative;margin: 0 0 20px 0; }
.white-box-grid .body-div .row-line:last-child{ margin: 0 0 0px 0; }
.white-box-grid .body-div p{ padding: 0px 0; margin: 0; font-size: 16px; font-weight: 400; color: #666666;line-height: 19px; }
.white-box-grid .body-div .link-a{ padding: 0px 0; margin: 0; font-size: 16px; font-weight: 500; color: #0089E8;line-height: 19px; }
.white-box-grid span.span-primary { background-color: rgba(248, 168, 107, 0.10); color: #F8A86B; font-size: 12px; line-height: 14px; padding: 4px 8px; display: inline-block; position: absolute; top: 0; right: -40px;border-radius: 100px;font-weight: 500; }

.switch-div { position: absolute; top: 16px; right: 15px; }
.switch-label { position: relative; display: inline-block; width: 20px; height: 10px; }
.switch-label input {  opacity: 0; width: 0; height: 0; }
.switch-label .slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #666666; -webkit-transition: .4s; transition: .4s; }
.switch-label .slider:before { position: absolute; content: ""; height: 6px; width: 6px; left: 2px; bottom: 2px; background-color: white; -webkit-transition: .4s; transition: .4s; }
.switch-label input:checked + .slider { background-color: #57D48F; }
.switch-label input:focus + .slider { box-shadow: 0 0 1px #57D48F; }
.switch-label input:checked + .slider:before { -webkit-transform: translateX(10px); -ms-transform: translateX(10px); transform: translateX(10px); }
.switch-label .slider.round { border-radius: 34px; }
.switch-label .slider.round:before { border-radius: 50%; }

.white-box-grid .body-div .form-div{ padding: 0px;margin: 0; }
.white-box-grid .body-div .form-div label { font-size: 12px; color: #222222; line-height: 14px; margin: 0 0 8px 0; }
.white-box-grid .body-div .form-div .requred-field-txt { color: #FF5A4E !important; }
.white-box-grid .body-div .form-div .form-group{ padding: 0px;margin: 0 0 20px 0; }
.white-box-grid .body-div .form-div .form-control { border: 1px solid #E2E2E2; border-radius: 3px; height: 45px; font-size: 18px; color: #222222; font-weight: 500; }
.white-box-grid .body-div .form-div .form-control:hover, .white-box-grid .body-div .form-div .form-control:focus { box-shadow: none; }
.white-box-grid .body-div .form-div .form-control::-webkit-input-placeholder {  color: #222222 !important;font-weight: 600; }
.white-box-grid .body-div .form-div .form-control::-moz-placeholder { color: #222222 !important;font-weight: 600; }
.white-box-grid .body-div .form-div .form-control:-ms-input-placeholder { color: #222222 !important;font-weight: 600; }
.white-box-grid .body-div .form-div .form-control:-moz-placeholder { color: #222222 !important;font-weight: 600; }


/* added by aakhil */

.setting-content .body-div p {font-size: 12px; line-height: 23px;  color: #222222; letter-spacing: -0.1px; margin-bottom: 40px;}
.setting-content .body-div .form-div .form-control {font-size: 16px; font-weight: 400; color: #666666; height: 114px;}
.setting-content .button-row-div {display: flex; justify-content: flex-end;}
.language-setting {margin-top: 15px;}


.select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 16px !important;}
.privacy-content h3 {font-size: 16px; font-weight: 400; color: #666666; margin-bottom: 15px;}
.radiolist_root .checklist {float: none; width: 100%;}
.radiolist_root .checklist label {font-size: 16px; margin-bottom: 15px;}

.radiolist_root .checklist .form-radio:checked::before {color: #0089E8;}
.radiolist_root .checklist .form-radio {border-color: #0089E8;}

.div-notification h3 {font-size: 16px; font-weight: 400; color: #666666; margin: 0; line-height: 23px;}
.div-notification .title-notification {padding: 20px 50px 20px 50px; position: relative;}
.div-notification .switch-div {top: 25px;}
.select2-container {font-size: 16px;}

.white-box-grid .fas.fa-chevron-down.arrow_center {  padding: 14px 0 0 0;  font-size: 11px; }
body{ overflow-x: hidden; }

/*  end of setting  */

/*******************************************************************/
/*****   Create Saved Card, Bank Account Details and Address   *****/
/*******************************************************************/

.custom-tab-content .tab-pane.saved-card-tab-pane { padding: 0 !important; background-color: transparent; border: 0px solid #F6F7FB; }

.basic-card-root{ padding: 0; margin: 0; position: relative; }
.basic-card-root .add-rightbtn-div { padding: 0; margin: 0; position: absolute; top: -70px; right: 0; }
.basic-card-root .add-rightbtn-div .addcard-btn{ padding: 8px 30px; }
.basic-card-root .add-rightbtn-div .addcard-btn .add-icon{ float: left; padding: 0; font-size: 20px; }
.basic-card-root .add-rightbtn-div .addcard-btn span.addcard-txt { float: left; margin: 0; line-height: 21px; padding: 0 0 0 10px; font-size: 14px; }

.basic-card-root .add_card_tab_section{ padding: 0; margin: 0; }
.basic-card-root .add_card_tab_section .saved-card-box{ padding: 0; margin: 0; min-height: 210px; border-radius: 4px; background-color: #fff; border: 1px solid #F6F7FB; border-bottom: none; float: left; width: 100%; }
.basic-card-root .add_card_tab_section .saved-card-box p { padding: 0; margin: 0 0 5px 0; font-size: 12px; color: #666666; display: block; width: 100%; line-height: 16px; }
.basic-card-root .add_card_tab_section .saved-card-box h3 { padding: 0; margin: 0 0 5px 0; font-size: 18px; color: #222222; display: block; width: 100%; line-height: 24px; font-weight: 500; overflow: hidden; width: 100%; display: block; text-overflow: ellipsis; white-space: nowrap; }
.basic-card-root .add_card_tab_section .saved-card-box .mb-25{ margin-bottom: 25px !important; }
.basic-card-root .add_card_tab_section .saved-card-box .font-16{ font-size: 16px !important; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-half-70{ padding: 0; margin: 0; width: 70%; float: left; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-half-50{ padding: 0; margin: 0; width: 50%; float: left; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-half-30{ padding: 0; margin: 0; width: 30%; float: left; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-half-33{ padding: 0; margin: 0; width: 33.3%; float: left; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common { padding: 6px 0; width: 100%; border-radius: 0px; float: left; display: inline-block; font-size: 16px; font-weight: 500; line-height: 28px; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-white { background-color: #ffffff; color: #555555cc; border: 1px solid #F6F7FB; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-white:hover{ background-color: #f6f7fb; color: #0089E8; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-white.btn-white-remove{ border-left: none; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-light-blue { background-color: #E7F2FF; color: #0089E8; border-radius: 0 0 4px 0;   }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-light-blue:hover { background: #D2E8F7; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-dark-blue { background-color: #0089E8; color: #ffffff; border-radius: 0 0 4px 0;  }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-dark-blue:hover { background: #0053C4; }
.basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-white-edit { border-radius: 0 0 0 4px; border-left: none;}
.basic-card-root .add_card_tab_section .saved-card-box .top-card-body-box { padding: 30px 25px; margin: 0; position: relative; float: left; width: 100%; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-top { padding: 0; margin: 0; float: left; width: 100%; position: relative; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-top .card-row-img-thumb { padding: 0; margin: 0; float: left; position: absolute; top: 0; right: 0; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-top .card-row-img-thumb img { width: 50px; height: 30px; border-radius: 4px; }

.basic-card-root .add_card_tab_section .saved-card-box .card-row-top .card-row-img-label { padding: 0; margin: 0; float: left; position: absolute; top: 21px; right: 0; }
.basic-card-root .add_card_tab_section .saved-card-box .card-row-top .card-row-img-label .label-address { background-color: #F2F2F2; color: rgba(85, 85, 85, 0.5); line-height: 24px; padding: 0 20px; border-radius: 4px; text-transform: uppercase; font-weight: 600; font-size: 12px; }

.basic-card-root .add_card_tab_section .saved-card-box .bottom-card-body-box{ padding: 0; margin: 0; float: left; width: 100%; }

.select2-results__option { font-size: 14px; line-height: 24px; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: #E7F2FF !important; color: #0089E8 !important; }
.common-tab .custom-pills li { padding: 0px 0 10px 0; margin: 0 32px 0 0; }
.p-relative{ position: relative; }
.requred-field-txt{ color:#FF5A4E !important; }

/* Bank Account */

.custom-tab-content .tab-pane.bank-account-tab-pane { padding: 0 !important; background-color: transparent; border: 0px solid #F6F7FB; }

.white-data-tab{ padding: 0; margin: 0; }
.white-data-tab .grid_card_row_box{ width: 100%; margin: 0; padding: 0; }
.white-data-tab .grid_card_row_box .grid_card_box{ background-color: #fff; border: 1px solid #F6F7FB; width: 100%; margin: 0 0 15px 0; padding: 15px; border-radius: 4px; min-height: 90px; }

.white-data-tab .grid_card_box .col-50{ width: 50%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-40{ width: 40%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-35{ width: 35%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-30{ width: 30%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-25{ width: 25%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-20{ width: 20%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-15{ width: 15%; float: left; display: inline-block; }
.white-data-tab .grid_card_box .col-10{ width: 10%; float: left; display: inline-block; }

.white-data-tab .userdesc_div{ width: 100%; margin: 0; padding: 0; }
.white-data-tab .userdesc_div .userdesc_img_thumb_div { height: 65px; width: 65px; float: left; max-width: calc( 100% - 65px ); display: inline-block; background-color: #e7f2ff80; border-radius: 100%; display: flex; align-items: center; justify-content: center; }
.white-data-tab .userdesc_div .userdesc_img_thumb_div .link_user { display: inline-block; }
.white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { overflow: hidden; width: 30px; margin: -2px 0 0 0; }
.white-data-tab .userdesc_div .userdesc-content { width: 70%; padding: 0px 0 0 15px; margin: 0; float: left; min-height: 65px; display: flex; justify-content: center; flex-direction: column; position: relative; }
.white-data-tab .userdesc_div .userdesc-content h3 { font-size: 18px; font-weight: 500; position: relative; width: 100%; display: flex; color: #222222; align-items: center; margin: 0 0 6px 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.white-data-tab .userdesc_div .userdesc-content p { font-size: 14px; color: #666666; margin: 0; line-height: 16px; }

.white-data-tab .content-row { padding: 0; margin: 0; min-height: 65px; float: left; display: flex; justify-content: center; flex-direction: column; position: relative; }
.white-data-tab .content-row .cont-label-p { padding: 0; margin: 0 0 4px 0; font-size: 14px; font-weight: 400; display: block; position: relative; width: 100%; color: #66666680; line-height: 16px; }
.white-data-tab .content-row .cont-desc { padding: 0; margin: 0; font-size: 18px; font-weight: 400; display: block; position: relative; width: 100%; color: #666666; }
.white-data-tab .status-div { min-height: 65px; float: left; display: flex; justify-content: center; align-items: flex-end; flex-direction: column; position: relative; width: 100%; }
.white-data-tab .label-status { padding: 5px 20px; margin: 0; background-color: #57D48F; color: #fff; border-radius: 100px; font-size: 12px; font-weight: 500; line-height: 14px; }

/* End of Bank Account */

/* Address */

.basic-card-root .add_card_tab_section .saved-card-box.address-card-box  h3.ch-show-txt { width: 70%; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; min-height: 48px; }
.basic-card-root .add_card_tab_section .saved-card-box.address-card-box .btn.btn-common.btn-white.btn-white-remove { border-left: none; border-right: none; }

/* End of Address */

/**************************************************************/
/*****  End of Create Saved Card, Bank Account Details & Address  *****/
/**************************************************************/



@media (min-width: 1025px) and (max-width: 1100px){
    
    .basic-card-root .add-rightbtn-div { margin: 0 0 20px 0; position: relative; top: auto; right: -20px; float: right; width: 100%; text-align: right; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common{ font-size: 14px; }

}

@media only screen and (max-width: 767px){

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div { width: 100%; padding: 15px 0 0 0; }
    .btn-div-row .btn-message {padding: 8px 15px;}
    .btn-div-row .btn-refer {padding: 8px 15px;}
    .filter_card_div.filter_card02_div .filter-txt-btn {  top: -83px;font-size: 16px; }

    .btn-div-row { padding: 0; }
    .btn-div-row .link-remove { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-message { width: 100%;margin: 0 0 10px 0; }
    .btn-div-row .btn-refer { width: 100%;margin: 0 0 10px 0; }
    .div-notification .title-notification { padding: 20px 50px 20px 20px !important;}
    
    /* added by aakhil */

    .white-box-grid .title-div {padding:  0 20px 0 20px;}
    .white-box-grid .body-div {padding: 20px 20px 20px 20px;}
    .white-box-grid span.span-primary {right: -10px;}

    /********************************************************/
    /*****   Create Saved Card & Bank Account Details   *****/
    /********************************************************/

    .basic-card-root .add-rightbtn-div{  position: relative; top: -20px; right: auto; width: 100%; margin: 0 0 20px 0; }
    .basic-card-root .add-rightbtn-div .btn-right.request-btn.addcard-btn { width: 200px; text-align: center; display: flex; align-items: center; justify-content: center; }
    .basic-card-root .add_card_tab_section .saved-card-box .top-card-body-box { padding: 20px 15px; }
    .basic-card-root .add_card_tab_section .saved-card-box{ min-height: 100%; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common { font-size: 14px; }
    .basic-card-root .add_card_tab_section .saved-card-box .card-row-half-33{ width: 50%; } 
    .basic-card-root .add_card_tab_section .saved-card-box .card-row-half-33.last-row-100{ width: 100%; } 
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-light-blue { border-radius: 0 0 4px 4px; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common.btn-dark-blue{ border-radius: 0 0 4px 4px; }
 
    .modal.right_custom.add-center-modal .modal-dialog { max-width: 100%; padding: 10px 10px !important; }
    .modal.right_custom.add-center-modal .modal-title span.title_txt_span { font-size: 18px; }
    .modal.right_custom.add-center-modal .modal-dialog .modal-header button.close span img.img-fluid.img-cancel { width: 11px; }

    /* Bank Account */

    .white-data-tab .grid_card_box .col-35{ width: 100%; }
    .white-data-tab .grid_card_box .col-25{ width: 100%; }
    .white-data-tab .grid_card_box .col-15{ width: 100%; }
    .white-data-tab .grid_card_box .col-20{ width: 100%; }
    .white-data-tab .grid_card_box .col-30{ width: 100%; }
    
    .white-data-tab .userdesc_div .userdesc-content{  min-height: 50px; }
    .white-data-tab .userdesc_div{  margin: 0 0 15px 0; }
    .white-data-tab .content-row{ min-height: 100%; margin: 0 0 15px 0; }
    .white-data-tab .status-div { min-height: 100%; margin: 10px 0 10px 0; align-items: flex-start; }
    .white-data-tab .userdesc_div .userdesc_img_thumb_div { height: 50px; width: 50px; max-width: calc( 100% - 50px ); }
    .white-data-tab .userdesc_div .userdesc-content h3 { font-size: 16px; margin: 0 0 5px 0; }
    .white-data-tab .content-row .cont-label-p{ font-size: 12px; }
    .white-data-tab .content-row .cont-desc{ font-size: 16px; }
    .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { width: 25px; }

    /* End of Bank Account */

    .basic-card-root .add_card_tab_section .saved-card-box .card-row-top .card-row-img-label .label-address { line-height: 21px; padding: 0 10px; font-weight: 600; font-size: 11px; }

    .basic-card-root .add_card_tab_section .saved-card-box.address-card-box h3.ch-show-txt { width: 80%; font-size: 16px; }


    /**************************************************************/
    /*****  End of Create Saved Card & Bank Account Details   *****/
    /**************************************************************/



    

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .grid_card_box {width: 100%;}
    .grid_card_box .top_heading_div .user_profile_div .user-content-div {width: 85%;}
    .filter_card_div.filter_card02_div .filter-txt-btn {top: -75px;}
    .white-box-grid.language-setting {  margin-top: 5px; }

    /********************************************************/
    /*****   Create Saved Card & Bank Account Details   *****/
    /********************************************************/

    .basic-card-root .add-rightbtn-div { margin: 0 0 20px 0; position: relative; top: -10px; right:auto; float: right; width: 100%; text-align: right; }
    .basic-card-root .add_card_tab_section .saved-card-box .btn.btn-common{ font-size: 14px; }
    .settings-page .common-tab .custom-pills li { padding: 0px 0 10px 0; margin: 0 50px 20px 0; float: left; display: inline-block; }
    .settings-page .common-tab .custom-pills { float: left; }
    .basic-card-root .grid_card_row_box{ margin: 0 0 0 0; }
    .basic-card-root .grid_card_box{ margin: 0 0 20px 0; }

    /* Bank Account */

    .white-data-tab .grid_card_box .col-35{ width: 100%; }
    .white-data-tab .grid_card_box .col-25{ width: 35%; }
    .white-data-tab .grid_card_box .col-15{ width: 30%; }

    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-35 { width: 65%; }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-20 { width: 35%;}
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-20 .content-row {  min-height: 65px; margin: 0 0 0px 0; }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-30 { width: 70%;  }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-30 .content-row { min-height: 100%; margin: 0 0 0px 0; }
    
    .white-data-tab .userdesc_div{  margin: 0 0 15px 0; }
    .white-data-tab .content-row{ min-height: 100%; margin: 0 0 15px 0; }
    .white-data-tab .status-div { min-height: 100%; margin: 10px 0 10px 0; }
    .white-data-tab .userdesc_div .userdesc-content h3 { font-size: 16px; margin: 0 0 5px 0; }
    .white-data-tab .content-row .cont-label-p{ font-size: 12px; }
    .white-data-tab .content-row .cont-desc{ font-size: 16px; }
    .white-data-tab .userdesc_div .userdesc_img_thumb_div .img-icon { width: 25px; }
    
    /* End of Bank Account */

    .settings-page .basic-card-root { float: left; }
    .settings-page .common-tab .custom-pills li a{ font-size: 16px; }

    /**************************************************************/
    /*****  End of Create Saved Card & Bank Account Details   *****/
    /**************************************************************/
    
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
    /********************************************************/
    /*****   Create Saved Card & Bank Account Details   *****/
    /********************************************************/

    .grid_card_box {width: 50%;}

    .white-data-tab .grid_card_box .col-35{ width: 35%; }
    .white-data-tab .grid_card_box .col-25{ width: 25%; }
    .white-data-tab .grid_card_box .col-15{ width: 15%; }

    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-35 { width: 35%; }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-20 { width: 20%;}
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-20 .content-row {  min-height: 65px; margin: 0 0 0px 0; }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-30 { width: 30%;  }
    .basic-card-root.back-account-root .white-data-tab .grid_card_box .col-30 .content-row { min-height: 65px; margin: 0 0 0px 0; }
    .basic-card-root.back-account-root .white-data-tab .status-div{  min-height: 65px; }

    /**************************************************************/
    /*****  End of Create Saved Card & Bank Account Details   *****/
    /**************************************************************/
    
}   
@media only screen and (max-width: 320px){
    
    .btn-block-custom.btn-round { min-width: 115px; }

}


