@charset "utf-8";



body {
	background-color: #F9FAFB;
	font-size:12px;
	color: #222;
	font-family: 'Work Sans', sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	letter-spacing: -0.01em;
}

.home-form-section{ padding: 0; margin: 0;position: relative;  }
.home-form-section .home-form-div{ padding: 0; margin: 0;position: relative;  }
.home-form-section .col-grid-12{ padding: 0; }

/* left banner */

.home-form-section .left-banner-div { padding: 0; margin: 0; width: 40%; float: left; position: fixed; left: 0; z-index: 999; }
.home-form-section .left-banner-div .banner-overlay{ padding: 0; margin: 0; background-color: #0087e8b3;  min-height: 100vh; }
.home-form-section .left-banner-div .img-banner-back { padding: 0; margin: 0; background: url("../images/banner.jpg") no-repeat center left; background-size: cover; min-height: 100vh; position: relative; }
.home-form-section .left-banner-div .banner-txt { position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; padding: 0 80px; }
.home-form-section .left-banner-div .banner-txt h1 { padding: 0; margin: 0 0 30px 0; color: #fff; font-size: 34px; font-weight: 400; line-height: 50px; }
.home-form-section .left-banner-div .banner-txt h1 a{ padding: 0; margin: 0 0 0px 0; color: #fff; display: inline-block;}
.home-form-section .left-banner-div .banner-txt p { padding: 0; margin: 0 0 10px 0; color: #fff; font-size: 14px; font-weight: 400; line-height: 16px; }
.home-form-section .left-banner-div .banner-txt p.txt-position{ font-weight: 500; }

/* end of left banner */

/* right side */


.home-form-section .right-form-div { padding: 0; margin: 0; width: 100%; float: left; position: relative; padding-left: 40%;  }
.home-form-section .right-form-div .header-top-div{ padding: 40px 90px; margin: 0; float: left; width: 100%;  }
.right-form-div .header-top-div .back-div { padding: 0; margin: 0; position: absolute; left: -65px; top: 7px; }
.right-form-div .header-top-div .logo-div{ padding: 0; margin: 0; position: relative; }
.right-form-div .header-top-div .logo-div .logo-thumb{ padding: 0; margin: 0; }
.right-form-div .header-top-div .logo-div .logo-thumb .img-logo{ padding: 0; margin: 0; width: 250px; }

.right-form-div .common-form-div { padding: 100px 90px 70px 90px; margin: 0; display: block; clear: both; float: left;width: 100%; }
.right-form-div .common-form-div .form-heading-title{ padding: 0; margin: 0 0 40px 0; }
.right-form-div .common-form-div .form-heading-title h2 { padding: 0; margin: 0 0 6px -1px; color: #222222; font-size: 24px; font-weight: 500; line-height: 28px; }
.right-form-div .common-form-div .form-heading-title p { padding: 0; margin: 0 0 10px 0; color: #9EA0A5; font-size: 14px; font-weight: 400; line-height: 20px; }

/*  form css  */

.right-form-div .common-form-div .form-body-div{ padding: 0; margin: 0; }
.right-form-div .common-form-div .form-body-div .full-div { padding: 0; margin: 0; width: 100%; clear: both; display: block; float: left; }

.input-box-effect { position: relative; width: 100%; margin: 0px 0 25px 0; float: left; z-index: 0; display: block; min-height: 50px; }
.input-box-effect .error-p { position: absolute; bottom: -16px; left: 0; padding: 0; margin: 0; color: #FF5A4E; font-weight: 500; font-size: 14px; width: 100%; }

.input-box-label { position: relative; margin: auto; width: 100%; }
.input-box-label .label { position: absolute; left: 15px; width: auto; top: 17px; color: #00000099; transition: 0.3s; font-size: 16px; font-weight: 400; transform-origin: 0 0; transition: all 0.2s ease; }
.input-box-label .border { position: absolute; bottom: 0; left: 0; height: 2px; width: 100%; background: #07f; transform: scaleX(0); transform-origin: 0 0; transition: all 0.15s ease; }
.input-box-label .form-input { -webkit-appearance: none; width: 100%; box-sizing: border-box; letter-spacing: 1px; border: 1px solid #00000052; padding: 7px 15px; transition: 0.4s; background: transparent; line-height: 24px; border-radius: 4px; font-size: 16px; font-weight: 400; height: 50px; color: #666; }
.input-box-label .form-input:not(:placeholder-shown) + span { color: #00000099; transform: translateY(-23px); font-size: 12px; padding: 0 5px; margin: 0 -5px; background-color: #fafafa; font-weight: 500; }
.input-box-label .form-input:focus { outline: none; background-color: transparent; outline: none; border: 1px solid #0089E8; }
.input-box-label .form-input:focus + span { color: #0089E8; transform: translateY(-23px); font-size: 12px; background-color: #fafafa; padding: 0 5px; margin: 0 -5px; outline: none; box-shadow: none; font-weight: 500; }
.input-box-effect select.form-control{ height: 50px;    outline: none; }

/*  form css  */

.terms-row-div { padding: 0px 0 25px 0; margin: 0; float: left; }
.terms-row-div a.link-tc { color: #56575A; font-weight: 400; border-bottom: 1px solid #56575A; }
.terms-row-div a.link-tc:hover{ color: #0089E8; border-bottom: 1px solid #0089E8; }

.bottom-btn-row{ padding: 0; margin: 0; float: left; width: 100%; }
.btn-row-div{ padding: 0; margin: 0 0 20px 0; }
.bottom-btn-row .or-div{ padding: 0; margin: 30px 0 30px 0; text-align: center; }
.bottom-btn-row .or-div .p-or { margin: 0 0 0 0; padding: 0 0 0 0; color: #9EA0A5; font-size: 14px; line-height: 18px; display:block; float: left; text-align: center; width: 100%; }
.bottom-btn-row .social-group-div{ padding: 0; margin: 0; width: 100%; float: left; }
.bottom-btn-row .signbottom-row { padding: 0; margin: 20px auto; width: 100%; float: left; position: relative; text-align: center; }
.bottom-btn-row .signbottom-row p { margin: 0 0 0 0; padding: 0 0 0 0; color: #9EA0A5; font-size: 14px; display: block; float: left; line-height: 24px; }

.bottom-btn-row.bottom-btn-row2 .signbottom-row{ margin: 0px auto; }

/* common css */

.btn.btn-back { padding: 0; margin: 0; background-color: transparent; color: #9EA0A5; height: 35px; width: 35px; line-height: 35px; float: left; border-radius: 100%; display: flex; align-items: center; justify-content: center; transition: background 0.3s ease-in-out; }
.btn.btn-back .material-icons{ color: #9EA0A5; }
.btn.btn-back:hover{ background-color: #0087e81a; }
.btn.btn-back:hover .material-icons{ color: #0089E8; }

.btn.btn-blue { height: 45px; background-color: #0089E8; color: #fff; border-radius: 4px; border: 1px solid #0089E8; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); transition: all 0.3s ease-in-out; font-size: 14px; font-weight: 400; }
.btn.btn-blue:hover, .btn.btn-blue:focus{ background-color: #0584dc; border: 1px solid #0584dc; }

.btn.btn-skyblue {  height: 45px;  background-color: #E7F2FF;  color: #0089E8;  border-radius: 4px;  border: 1px solid #0089E8;  box-shadow: none;  transition: all 0.3s ease-in-out;  font-size: 14px;  font-weight: 500;  text-transform: uppercase;  width: 200px; transition: all 0.3s ease-in-out; }
.btn.btn-skyblue:hover{ background-color: #D2E8F7; }

.btn.btn-social { width: 33.3%; float: left; border-radius: 0px; height: 45px; line-height: 36px; display: inline-block; color: #fff; background-color: #F24033; }
.btn.btn-social i.fab { font-size: 20px; line-height: 21px; }
.btn.btn-social.btn-google-plus{ border-radius:4px 0px 0px 4px;  }
.btn.btn-social.btn-facebook{ background-color: #43619C; }
.btn.btn-social.btn-linkedin{ background-color: #187FB8; border-radius:0px 4px 4px 0px; }

.btn.btn-default.btn-default-blue {  padding: 0;  margin: 0;  line-height: 24px;  border: none;  color: #0089E8;  font-size: 14px;  font-weight: 600;  letter-spacing: 0px;  float: left;  margin-left: 20px; }

.btn.btn-add { position: absolute; top: 1px; right: 11px; height: 48px; padding: 6px 15px; border: none; border-left: 1px solid #00000052; border-radius: 0px 4px 4px 0px; color: #0089E8; background-color: #F5FAFF; font-size: 16px; letter-spacing: 0px; min-width: 130px; transition: all 0.3s ease-in-out; }
.btn.btn-add:hover { background-color: #e7f2ff; }

.span-block{ display: block; }

.width100{ width: 100%; float: left; position: relative; }
.width75{ width: 75%; float: left; position: relative; }
.width70{ width: 70%; float: left; position: relative; }
.width60{ width: 60%; float: left; position: relative; }
.width50{ width: 50%; float: left; position: relative; }
.width40{ width: 40%; float: left; position: relative; }
.width33{ width: 33.3%; float: left; position: relative; }
.width30{ width: 30%; float: left; position: relative; }
.width25{ width: 25%; float: left; position: relative; }
.width15{ width: 15%; float: left; position: relative; }

.display-none{ display: none; }

.form-checkbox { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-color: #fff; color: #fff; top: 0px; height: 18px; width: 18px; border: 2px solid #425A70; cursor: pointer; margin-right: 10px; outline: none!important; vertical-align: middle; border-radius: 4px; float: left; }
.form-checkbox:checked::before { position: absolute; left: 3px; top: -1px; font-size: 14px; content: '\02143'; transform: rotate(40deg); }
.form-checkbox:checked { background-color: #0089E8; border-color: #0089E8; }
label.checkbox-label { margin: 0 0 0 0; padding: 0 0 0 0; color: #9EA0A5; font-size: 14px; line-height: 18px; display: inline-block; float: left; }

.float-right-side{ float: right !important; }


.btn.btn-attachment { border: 1px solid #00000052; border-radius: 4px; color: #00000099; margin-right: 0px; padding: 0; height: 50px; font-size: 16px; background-color: transparent; width: 100%; display: flex; align-items: center; padding: 0 0; width: 200px; }
.btn.btn-attachment > span { margin: 0px 0 0 0; font-weight: 500; }
.btn.btn-attachment label { padding: 7px 20px; display: table; color: #00000099; margin: 0; font-weight: 400; width: 100%; display: flex; align-items: center; }
.btn.btn-attachment label span { float: left;    padding-left: 5px; }
.btn.btn-attachment input[type="file"] { display: none;}
.btn.btn-attachment .img-attchphoto {  font-size: 18px;  float: left;  margin: 0 5px 0 0;  transform: rotate(-50deg); color: #00000099; }
.btn.btn-attachment.btn-full-block{ width: 100%; }

.input-box-effect select.form-control:not([size]):not([multiple]) { height: 50px; padding: 0 35px 0 15px; background-color: transparent; border: 1px solid #00000052; color: #00000099; }
.input-box-effect select.form-control:focus { outline: none; box-shadow: none; }

.form-input.textarea-form { min-height: 115px; resize: none; }
.form-control.inputbox-text{ width: 100%; box-sizing: border-box; letter-spacing: 1px; border: 1px solid #00000052; border-left: none;  padding: 7px 15px; transition: 0.4s; background: transparent; line-height: 24px; border-radius: 0px 4px 4px 0px; font-size: 16px; font-weight: 400; height: 50px; color: #666;  }

.material-icons.calender-icon { color: #666; top: 15px; right: 15px; font-size: 21px; }

.center-align{  display: flex; align-items: center; justify-content: center; }

/* end of common css */


/************************************/
/*************  header   ************/
/************************************/


.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1200px; }

.header-div { padding: 0; margin: 0; background-color: transparent; position: absolute; top: 0; z-index: 9999; left: 0; width: 100%; min-height: 100px; transition: 0.3s; }
.header-div .logo-div { padding: 12px 0px 12px 0; margin: 0; display: flex; float: left; width: 20%; align-items: center;min-height: 100px;  animation-duration: 3s; }
.header-div .scroll-logo{ display: none; }
.header-div .main-logo{ display: block; }
.header-div .logo_img{ transition: display ease-in-out 0.5s; width: 100%; }

.fixed_top { background-color: #ffffff; z-index: 9999;    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);    transform: translateZ(65px);
    animation: slide-down 0.9s; -webkit-animation-name: fadeInDown; animation-name: fadeInDown; position: fixed; top: 0; }
.fixed_top .top-nav1 { padding: 10px 0 20px 0; }
.fixed_top.header-div .ullist-inline li .nav-link{ color: #0089E8; }
.fixed_top.header-div .scroll-logo{ display: block; }
.fixed_top.header-div .social-ul > li > a { color: #ffffff; background-color: #0089E8;transition: all ease-in-out 0.2s; }
.fixed_top.header-div .social-ul > li > a:hover { background-color: #02886d; }

/* start navigation  **/


.header-div .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; min-height: 100px; }
.header-div .inner-top-header-div{ padding: 0;margin: 0 auto; width: 100%; }
.header-div .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }
.header-div .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); cursor: pointer; z-index: 99999; display: none; }
.header-div .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }
.header-div .nav-div{ float: left; animation-duration: 3s; }
.header-div .display-none{ display: none !important; }
.header-div .nav-div .closebtn { display: none; }
.header-div .ullist-inline { padding: 0; margin: 0 0px 0 0; display: flex; align-items: center; min-height: 45px; }
.header-div .ullist-inline li{ padding: 0;margin: 0 40px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
.header-div .ullist-inline li:last-child{ margin: 0 0 0 0; }
.header-div .ullist-inline li .nav-link { color: #555555; padding: 5px 0px; font-weight: 500; font-size: 18px; line-height: 24px; letter-spacing: -0.44px; }
.header-div .ullist-inline li:hover .nav-link{ color: #0089E8; }
.header-div .ullist-inline li.active .nav-link{ color: #0089E8; }

.header-div .ullist-inline .sign-li-row .sign-li-div{ padding: 0; margin: 0; }
.header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign { color: #056FB9; padding: 5px 0px; font-weight: 500; font-size: 18px; line-height: 24px; letter-spacing: -0.44px; border: 1px solid #056FB9; height: 37px; background-color: #fff; border-radius: 4px; min-width: 110px; transition: all 0.3s ease-in-out; }
.header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign:hover, .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign:focus{ background-color: #056FB9; color: #fff; }
.header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign.btn-joinnow{ border: 1px solid #fff; color: #555555; }
.header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign.btn-joinnow:hover, .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign.btn-joinnow:focus{ border: 1px solid #E7F2FF; background-color: #E7F2FF; color: #0089E8; }
.header-div .ullist-inline .sign-li-row .sign-li-div li{ padding: 0 0 0 0; margin: 0 10px 0 0; }
.header-div .ullist-inline .sign-li-row .sign-li-div li:last-child{ padding: 0 0 0 0; margin: 0 0px 0 0; }

.header-div .ullist-inline li.footer-menu-txt-row{ display: none; }

/*  End of navigation  */

/************************************/
/******* End of header   ************/
/************************************/

/************************************************************/
/***********   Start satisfaction review Page   *************/
/************************************************************/

/* .satisfaction-top-165 { padding-top: 100px; background-color: #fff; float: left; width: 100%; background: url(../images/bixex-grey-logo.svg) no-repeat bottom right;     background-attachment: fixed; } */
.satisfaction-top-165 { padding-top: 100px; background-color: #fff; float: left; width: 100%; }

.satisfaction-root-page{ padding: 100px 0 0 0; margin: 0 0 0 0; position: relative; z-index: 1; }
.satisfaction-root-page .center-satisfaction-root{ padding: 0 0 0 0; margin: 0 auto; max-width: 900px; }

.customer-satisfied-root { padding: 10px 0; margin: 0; float: left; width: 100%; }
.customer-satisfied-root .heading-form { padding: 0; margin: 0 auto 35px auto; float: left; width: 100%; }
.customer-satisfied-root .heading-form h3 { font-size: 24px; font-weight: 600; position: relative; width: 100%; display: block; color: #222222; margin: 0 0 25px 0; text-align: center; }
.customer-satisfied-root .heading-form p { font-size: 18px; margin: 0; color: #666666; line-height: 40px; text-align: center; padding: 0 20px; }
.customer-satisfied-root .heading-form .font-500 { font-weight: 500; }
.customer-satisfied-root .heading-form span.clientname-bold { font-size: 22px; font-weight: 600; text-transform: uppercase; color: #555; letter-spacing: -0.010em; }
.customer-satisfied-root .heading-form .center-90 {  width: 90%;     margin: 0 auto; }

.customer-satisfied-root .question-box-root { padding: 0 0 50px 0; margin: 0; float: left; width: 100%; }
.customer-satisfied-root .question-box-root .question-box-row{ padding: 0; margin: 0; }
.customer-satisfied-root .question-box-root .question-box { padding: 30px 30px; margin: 0 0 6px 0; background-color: #FAFAFA; float: left; width: 100%; }
.customer-satisfied-root .question-box-root .question-box .show-rating-div{ padding: 0; margin: 0; width: 100%; }
.customer-satisfied-root .question-box-root .question-box .content-div .rating-right-div .star-icon { color: rgba(85, 85, 85, 0.10); }
.customer-satisfied-root .question-box-root .question-box .show-rating-div .rating-right-div .star-icon.fill_star { color: #FFB221; }
.customer-satisfied-root .question-box-root .question-box .number-div { position: relative; float: left; width: 30px; }
.customer-satisfied-root .question-box-root .question-box span.number-span { font-size: 20px; font-weight: 500; position: absolute; width: 100%; display: block; color: #222222; margin: 0 0 0px 0; text-align: left; left: 0; top: 0; line-height: 24px; }
.customer-satisfied-root .question-box-root .question-box .content-div { float: left; width: 100%; padding: 0 0 0 30px; }
.customer-satisfied-root .question-box-root .question-box .content-div p { font-size: 16px; margin: 0 0 15px 0; color: #222222; line-height: 26px; text-align: left; padding: 0 0px; }
.customer-satisfied-root .question-box-root .question-box .content-div .average-rating-number p { font-size: 12px; margin: 0 0 10px 0; color: #222222; line-height: 14px; text-align: left; padding: 0 0px; }

.customer-satisfied-root .question-box-root .question-box .content-div .radio-row-rating{ padding: 0; margin: 0; }
.question-box .content-div .radio-row-rating .boxclick{ padding: 0; margin: 0; }
.question-box .content-div .radio-row-rating .radio-option-box { background-color: #93CDF6; border-radius: 2px; cursor: pointer; float: left; min-width: 110px; margin: 0 15px 5px 0; cursor: pointer; }
.question-box .content-div .radio-row-rating .radio-option-box.active{ background-color:#0089E8; }
.question-box .content-div .radio-row-rating .radio-option-box .img-block{ display: none; }
.question-box .content-div .radio-row-rating .radio-option-box.active .img-block{ display: block; }
.question-box .content-div .radio-row-rating .radio-option-box label { padding: 0; margin: 0 0 0px 0; font-size: 11px; line-height: 17px; color: #fff; font-weight: 700; text-transform: uppercase; width: 100%; text-align: center;     cursor: pointer; }
.question-box .content-div .radio-row-rating .radio-option-box .checklist { height: 24px; display: flex; align-items: center; justify-content: center; position: relative; }
.question-box .content-div .radio-row-rating .radio-option-box .radio-parent { position: absolute; left: 6px; top: 0px; opacity: 1; padding-bottom: 0px; }
.question-box .content-div .radio-row-rating .radio-option-box .radio-parent .ex-form-radio{ opacity: 0; }

.customer-satisfied-root .question-box-root .question-box .content-div .radio-number-row-rating{ padding: 0; margin: 0; }
.question-box .content-div .radio-number-row-rating .boxclick{ padding: 0; margin: 0; }
.question-box .content-div .radio-number-row-rating .radio-option-box { background-color: #93CDF6; border-radius: 2px; cursor: pointer; float: left; min-width: 30px; margin: 0 10px 0 0; }
.question-box .content-div .radio-number-row-rating .radio-option-box.active{ background-color:#0089E8; }
.question-box .content-div .radio-number-row-rating .radio-option-box .img-block{ display: none; }
.question-box .content-div .radio-number-row-rating .radio-option-box.active .img-block{ display: block; }
.question-box .content-div .radio-number-row-rating .radio-option-box label { padding: 0; margin: 0 0 0px 0; font-size: 11px; line-height: 17px; color: #fff; font-weight: 700; text-transform: uppercase; width: 100%; text-align: center;     cursor: pointer; }
.question-box .content-div .radio-number-row-rating .radio-option-box .checklist { height: 24px; display: flex; align-items: center; justify-content: center; position: relative;  cursor: pointer; }
.question-box .content-div .radio-number-row-rating .radio-option-box .radio-parent { position: absolute; left: 6px; top: 0px; opacity: 1; padding-bottom: 0px; }
.question-box .content-div .radio-number-row-rating .radio-option-box .radio-parent .number-form-radio{ opacity: 0; }

.question-btn-box-row { padding: 0; margin: 20px 0 0 0; float: left; width: 100%; }
.question-btn-box-row .btn-block-custom.btn-round{  padding: 8px 40px; min-height: 40px; font-size: 14px; background-color: #EDEDED; color: #666666; margin: 0; border: 1px solid #EDEDED; line-height: 1.5; border-radius: 100px; min-width: 120px;  }
.question-btn-box-row .btn-block-custom.btn-round.apply-filter { background-color: #0089E8; color: #fff; border: 1px solid #0089E8; }
.question-btn-box-row .btn-block-custom.btn-round:hover { background-color: #DDDDDD; color: #666666; border: 1px solid #DDDDDD; }
.question-btn-box-row .btn-block-custom.btn-round.apply-filter:hover { color: #fff; background-color: #0053C4; border: 1px solid #0053C4; }
.question-btn-box-row .mr-20{ margin-right:20px !important;  }
.question-btn-box-row .mr-15{ margin-right:15px !important;  }


.satisfaction-page .footer-div{ padding-top: 10px; }

img.logo-grey { position: fixed; bottom: 0; right: 0; z-index: 0; }

/************************************************************/
/***********   End of satisfaction review Page   *************/
/************************************************************/

/* new update changes 17-10-2019 */

.right-form-div .header-top-div .logo-div { width: 100%; }
.right-form-div .header-top-div .logo-div .logo-thumb { position: relative; float: left; width: 100%; }

.top-savebtn-div { padding: 0; margin: 0; position: fixed; top: 65px; right: 80px; z-index: 9999; }
.top-savebtn-div .btn-saveexit { font-size: 16px; color: #0089e8; padding: 0 10px; background-color: transparent; line-height: 22px; margin: 0; font-weight: 500; text-transform: uppercase; cursor: pointer; }
.top-savebtn-div .btn-saveexit:hover{ color: #0053C4; }

.btn-row-div.btn-row-grid50{ float: left; width: 50%; display: inline-block; }
.btn.btn-link.btn-skip { float: right; height: 45px; width: auto; transition: all 0.3s ease-in-out; font-size: 18px; font-weight: 500; color: #0089e8; text-transform: uppercase; cursor: pointer; margin: 0 25px 0 0; }
.btn.btn-link.btn-skip:hover{ color: #0053C4; }

/* extra */

/* .right-form-div .common-form-div { padding: 100px 90px 95px 90px; margin: 0; display: block; clear: both; float: left; width: 100%; }
.right-form-div .width100-row.action-btnrow-bottom { position: fixed; width: calc( 100% - 40% ); right: 0; bottom: 0; background-color: #fafafa; padding: 20px 80px 0px 80px; height: 95px; } */

/* end od extra */





@media only screen and (max-width: 767px){

    .middle-container { width: 100%; overflow: hidden; }
    
    /************************************/
    /*************  header   ************/
    /************************************/

    .header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
    .header-div .login-div { width: 100%; }
    .header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
    .header-div .login-page-div { min-height: 415px; }

    /* mobile navigation start */

    .nav-div .closebtn { display:block;}
    .nav-m-bar{ position: absolute; top: 20px; right: 20px; z-index: 9999; }
    .nav-m-bar .menu-bars-icon{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
    
    .header-div .logo-div{  width: 60%; padding: 0; min-height: 60px; }


    .header-div .nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #ffffff;  overflow-x: hidden;  padding-top: 60px; transition: 0.5s;  }
    .header-div .nav-div .closebtn { position: absolute; color: #fff; background: #0089E8; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
    .header-div .nav-div.width80 .closebtn{ position: fixed; }
    .header-div .nav-div .closebtn:hover { color: #fff; }
    .header-div .nav-div ul li { width: 100%; margin: 0px 0 0px 0; padding: 0px 0px; }
    .header-div .ullist-inline { height: auto; }
    .header-div .body-listing { min-height: 100%; }
    .header-div .width80{ width: 85%; }
    .header-div .opacityon{ opacity: 1; }
    .header-div .displayblock{ display: block; }
    .header-div .top-nav1 { padding: 0px 0 0 0; min-height: 60px; }

    .header-div .ullist-inline li.footer-menu-txt-row{ display: block; padding: 0 0 0 0; }
    .header-div .ullist-inline li.footer-menu-txt-row a{ color: #555555;font-weight: 500;font-size: 16px; width: 100%;  padding: 5px 20px; float: left;     line-height: 30px; }
    
    .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign{ width: 100%; border: 1px solid transparent; padding: 0 20px; font-size: 16px; line-height: 44px; height: auto; background-color: #E7F2FF; min-width: 100%; text-align: center; font-weight: 600; border-radius: 0px; }
    .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign.btn-joinnow{  border: 1px solid transparent; color: #056FB9; border-right: 1px solid #056FB9;  }
    .header-div .ullist-inline .sign-li-row .sign-li-div { padding: 0; margin: 10px; }
    .header-div .ullist-inline .sign-li-row .sign-li-div li{ margin: 0 0 20px 0; width: 50%; float: left; }

    .header-div .ullist-inline li a {  color: #0089E8; }
    .header-div .ullist-inline li .nav-link{ color: #555555;font-weight: 500;font-size: 16px; padding: 5px 20px; line-height: 30px; }
    .header-div .ullist-inline li.active .nav-link{ color: #0089E8; display: inline-block; }
    .header-div .nav-div ul li .social-ul > li{  padding: 0px 0px;margin: 0 15px 0 0;  width: auto; }
    .header-div .nav-div ul li .social-ul > li a { color: #0089E8; background-color: #ffffff; }
    .header-div .ullist-inline { margin: 0 0px 0 0; min-height: auto; }
    .header-div .social-ul > li > a { height: 35px; width: 35px; line-height: 35px; font-size: 18px; }
    .fixed_top.header-div .ullist-inline li .nav-link { color: #0089E8; }
    .fixed_top{ transform: none; animation: none; }
    .header-div{ transform: none; min-height: 60px; }
    .header-div .social-icon-div { position: absolute; bottom: 20px; }

    /* End of navigation */

    /************************************/
    /******* End of header   ************/
    /************************************/


    .home-form-section .left-banner-div { width: 100%; position: relative; margin: 70px 0 0 0; }
    .home-form-section .left-banner-div .banner-txt{ padding: 0 20px; }
    .home-form-section .left-banner-div .img-banner-back{ height: 300px;min-height: 300px; }
    .home-form-section .left-banner-div .banner-overlay{ height: 300px;min-height: 300px; }
    .home-form-section .left-banner-div .banner-txt h1{ font-size: 18px; line-height: 28px;    margin: 0 0 10px 0; }


    .home-form-section .right-form-div{ padding-left: 0%; padding-top: 60px; }
    .right-form-div .common-form-div { padding: 0px 20px 70px 20px;  }

    .width50 { width: 100%; }

    label.checkbox-label{ font-size: 13px; }
    .bottom-btn-row .or-div .p-or{ font-size: 13px; }
    .bottom-btn-row .signbottom-row p{ font-size: 13px; }
    .btn.btn-default.btn-default-blue{ font-size: 13px; }
    .right-form-div .common-form-div .form-heading-title p { font-size: 13px; } 
    
    .home-form-section .right-form-div .header-top-div { padding: 10px 20px 10px 50px; width: 100%; position: fixed; top: 0; left: 0; background-color: #fff; height: 70px; display: flex; align-items: center;    z-index: 9999; }
    .right-form-div .header-top-div .back-div { left: -40px; top: 0; }
    .right-form-div .header-top-div .logo-div .logo-thumb .img-logo{ width: 70%; }

    /********** customer-satisfaction-form **********/
	/************************************************/

    .satisfaction-root-page{ padding: 50px 0 0 0; }
    .customer-satisfied-root .heading-form .center-90{ width: 100%; }
    

	.customer-satisfied-root .heading-form h3 { font-size: 20px; }
    .customer-satisfied-root .heading-form p { font-size: 14px; line-height: 21px; padding: 0 0px; margin: 0 0 10px 0; }
    .customer-satisfied-root .heading-form span.clientname-bold { font-size: 16px;}

	.customer-satisfied-root .question-box-root .question-box { padding: 15px 15px; }
	.customer-satisfied-root .question-box-root .question-box .content-div p { font-size: 14px; line-height: 20px; padding: 0 0px; }
	.customer-satisfied-root .question-box-root .question-box span.number-span { font-size: 18px; }
	.customer-satisfied-root .question-box-root .question-box .number-div { width: 20px; }
    .customer-satisfied-root .question-box-root .question-box .content-div { padding: 1px 0 0 22px; }
    
	.question-box .content-div .radio-row-rating .radio-option-box { min-width: 100%; margin: 0 15px 5px 0; }
	.question-box .content-div .radio-number-row-rating .radio-option-box {  min-width: 15%;  margin: 0 10px 10px 0; }

    .question-btn-box-row .btn-block-custom.btn-round{ padding: 8px 20px; font-size: 13px; min-width: 100px; }

    .satisfaction-top-165 { background-size: 200px;  }

    img.logo-grey{ width: 150px; }

	/*****	End of customer-satisfaction-form *******/
	/************************************************/

    /* new update changes 17-10-2019 */

    /* .top-savebtn-div{ right: -10px; bottom: -55px; }
    .top-savebtn-div .btn-saveexit{  font-size: 14px; padding: 0 10px; } */
    
    .top-savebtn-div { position: relative; top: auto; right: auto; margin: 40px 0 0 0; z-index: 1; }
    .top-savebtn-div .btn-saveexit { padding: 0; height: 45px; background-color: #fff; color: #0089E8; border-radius: 4px; border: 1px solid #0089E8; box-shadow: none; transition: all 0.3s ease-in-out; font-size: 14px; font-weight: 500; text-transform: uppercase; width: 100%; }
    .btn-row-div.btn-row-grid50.btn-profile-submit-row{ width: 100%; }

    /* End of new update changes 17-10-2019 */

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .middle-container { width: 100%; overflow: hidden; }
    
    /************************************/
    /*************  header   ************/
    /************************************/

    .header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
    .header-div .login-div { width: 100%; }
    .header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
    .header-div .login-page-div { min-height: 415px; }

    /* mobile navigation start */

    .nav-div .closebtn { display:block;}
    .nav-m-bar{ position: absolute; top: 40px; right: 20px; z-index: 9999; }
    .nav-m-bar .menu-bars-icon{ background:url(../images/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}
    
    .header-div .logo-div{  width: 30%;padding: 0; }

    .header-div .nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #ffffff;  overflow-x: hidden;  padding-top: 60px; transition: 0.5s;  }
    .header-div .nav-div .closebtn { position: absolute; color: #fff; background: #0089E8; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
    .header-div .nav-div.width80 .closebtn{ position: fixed; }
    .header-div .nav-div .closebtn:hover { color: #fff; }
    .header-div .nav-div ul li { width: 100%; margin: 0px 0 0px 0; padding: 0px 0px; }
    .header-div .ullist-inline { height: auto; }
    .header-div .body-listing { min-height: 100%; }
    .header-div .width80{ width: 45%; }
    .header-div .opacityon{ opacity: 1; }
    .header-div .displayblock{ display: block; }
    .header-div .top-nav1 { padding: 0px 0 0 0; min-height: 75px; }

    .header-div .ullist-inline li.footer-menu-txt-row{ display: block; padding: 0 0 0 0; }
    .header-div .ullist-inline li.footer-menu-txt-row a{ color: #555555;font-weight: 500;font-size: 16px; width: 100%;  padding: 5px 20px; float: left;     line-height: 30px; }
    
    .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign{ width: 100%; border: 1px solid transparent; padding: 0 20px; font-size: 16px; line-height: 44px; height: auto; background-color: #E7F2FF; min-width: 100%; text-align: center; font-weight: 600; border-radius: 0px; }
    .header-div .ullist-inline .sign-li-row .sign-li-div .btn.btn-sign.btn-joinnow{  border: 1px solid transparent; color: #056FB9; border-right: 1px solid #056FB9;  }
    .header-div .ullist-inline .sign-li-row .sign-li-div { padding: 0; margin: 10px; }
    .header-div .ullist-inline .sign-li-row .sign-li-div li{ margin: 0 0 20px 0; width: 50%; float: left; }

    .header-div .ullist-inline li a {  color: #0089E8; }
    .header-div .ullist-inline li .nav-link{ color: #555555;font-weight: 500;font-size: 16px; padding: 5px 20px; line-height: 30px; }
    .header-div .ullist-inline li.active .nav-link{ color: #0089E8; display: inline-block; }
    .header-div .nav-div ul li .social-ul > li{  padding: 0px 0px;margin: 0 15px 0 0;  width: auto; }
    .header-div .nav-div ul li .social-ul > li a { color: #0089E8; background-color: #ffffff; }
    .header-div .ullist-inline { margin: 0 0px 0 0; min-height: auto; }
    .header-div .social-ul > li > a { height: 35px; width: 35px; line-height: 35px; font-size: 18px; }
    .fixed_top.header-div .ullist-inline li .nav-link { color: #ffffff; }
    .fixed_top{ transform: none; animation: none; }
    .header-div{ transform: none; }
    .header-div .social-icon-div { position: absolute; bottom: 20px; }

    /* End of navigation */

    /************************************/
    /******* End of header   ************/
    /************************************/
    
    /************************************/
    /******* End of header   ************/
    /************************************/

    .home-form-section .left-banner-div { width: 100%; position: relative; margin: 70px 0 0 0; }
    .home-form-section .left-banner-div .banner-txt{ padding: 0 20px; }
    .home-form-section .left-banner-div .img-banner-back{ height: 300px;min-height: 300px; }
    .home-form-section .left-banner-div .banner-overlay{ height: 300px;min-height: 300px; }
    .home-form-section .left-banner-div .banner-txt h1 { font-size: 21px; line-height: 32px; margin: 0 auto 10px auto; width: 75%; }


    .home-form-section .right-form-div{ padding-left: 0%; padding-top: 60px; }
    .right-form-div .common-form-div { padding: 0px 20px 70px 20px;  }
    .right-form-div .common-form-div .form-heading-title{ text-align: center; }

    label.checkbox-label{ font-size: 13px; }
    .bottom-btn-row .or-div .p-or{ font-size: 13px; }
    .bottom-btn-row .signbottom-row p{ font-size: 13px; }
    .btn.btn-default.btn-default-blue{ font-size: 13px; }
    .right-form-div .common-form-div .form-heading-title p { font-size: 13px; } 
    
    .home-form-section .right-form-div .header-top-div { padding: 10px 20px 10px 50px; width: 100%; position: fixed; top: 0; left: 0; background-color: #fff; height: 70px; display: flex; align-items: center;    z-index: 9999; }
    .right-form-div .header-top-div .back-div { left: -40px; top: 0; }
    .right-form-div .header-top-div .logo-div .logo-thumb .img-logo{ width: 70%; }

    .right-form-div .common-form-div .form-body-div .full-div { display: flex; align-items: center; justify-content: center; }


    /********** customer-satisfaction-form **********/
	/************************************************/

	/* .customer-satisfied-root .heading-form h3 { font-size: 20px; }
	.customer-satisfied-root .heading-form p { font-size: 14px; line-height: 21px; padding: 0 0px; }
	.customer-satisfied-root .question-box-root .question-box { padding: 15px 15px; }
	.customer-satisfied-root .question-box-root .question-box .content-div p { font-size: 14px; line-height: 20px; padding: 0 0px; }
	.customer-satisfied-root .question-box-root .question-box span.number-span { font-size: 18px; }
	.customer-satisfied-root .question-box-root .question-box .number-div { width: 20px; }
	.customer-satisfied-root .question-box-root .question-box .content-div { padding: 1px 0 0 22px; }
	.question-box .content-div .radio-row-rating .radio-option-box { min-width: 100%; margin: 0 15px 5px 0; }
	.question-box .content-div .radio-number-row-rating .radio-option-box {  min-width: 15%;  margin: 0 10px 10px 0; } */

	/*****	End of customer-satisfaction-form *******/
    /************************************************/
    
    /********** customer-satisfaction-form **********/
	/************************************************/

    .satisfaction-root-page{ padding: 50px 0 0 0; }
    .customer-satisfied-root .heading-form .center-90{ width: 100%; }
    
    .satisfaction-root-page .center-satisfaction-root { max-width: 680px; }

	.customer-satisfied-root .heading-form h3 { font-size: 20px; }
    .customer-satisfied-root .heading-form p { font-size: 14px; line-height: 21px; padding: 0 0px; margin: 0 0 10px 0; }
    .customer-satisfied-root .heading-form span.clientname-bold { font-size: 16px;}

	.customer-satisfied-root .question-box-root .question-box { padding: 15px 15px; }
	.customer-satisfied-root .question-box-root .question-box .content-div p { font-size: 14px; line-height: 20px; padding: 0 0px; }
	.customer-satisfied-root .question-box-root .question-box span.number-span { font-size: 18px; }
	.customer-satisfied-root .question-box-root .question-box .number-div { width: 20px; }
    .customer-satisfied-root .question-box-root .question-box .content-div { padding: 1px 0 0 22px; }
    
	.question-box .content-div .radio-row-rating .radio-option-box { min-width: 100%; margin: 0 15px 5px 0; }
	.question-box .content-div .radio-number-row-rating .radio-option-box {  min-width: 15%;  margin: 0 10px 10px 0; }

    .satisfaction-top-165 {  background-size: 250px; padding-bottom: 0px; }
    .customer-satisfied-root .question-box-root { padding: 0 0 100px 0; }

	/*****	End of customer-satisfaction-form *******/
	/************************************************/
    
    /* new update changes 17-10-2019 */

    .top-savebtn-div { top: 35px; right: 10px; z-index: 22222; }

    /* End of new update changes 17-10-2019 */



}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .home-form-section .left-banner-div .banner-txt{     padding: 0 60px; }
    .home-form-section .left-banner-div .banner-txt h1{     font-size: 24px; line-height: 28px; }

}

@media (max-width: 320px){

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .right-form-div .common-form-div { padding: 60px 50px 70px 40px; }
    label.checkbox-label{ font-size: 13px; }
    .bottom-btn-row .or-div .p-or{ font-size: 13px; }
    .bottom-btn-row .signbottom-row p{ font-size: 13px; }
    .btn.btn-default.btn-default-blue{ font-size: 13px; }
    .right-form-div .common-form-div .form-heading-title p { font-size: 13px; } 

    .home-form-section .left-banner-div .banner-txt{     padding: 0 60px; }
    .home-form-section .left-banner-div .banner-txt h1{     font-size: 24px; line-height: 28px; }

}


