.landing-page{ background-color: #ffffff; }

.banner-section{ padding: 100px 0 0 0; margin: 0; background-color: #F5FAFF;  }
.banner-section .banner-div{ padding: 0; margin: 0; min-height: calc( 100vh - 100px );  background:url("../images/landing-banner.svg") no-repeat; background-position: bottom right; background-size: 50%;  display: flex; align-items: center;   -webkit-animation-duration: 1s;
    animation-duration: 3s; -webkit-animation-fill-mode: both; animation-fill-mode: both;  animation-name: fadeIn; }

.banner-div .banner-content-div{ padding: 0; margin: 0; width: 70%; }
.banner-div .banner-content-div h1 { padding: 0; margin: 0 0 15px 0; font-size: 44px; color: #222222; font-weight: 400; letter-spacing: -0.44px; line-height: 62px; }
.banner-div .banner-content-div p { padding: 0; margin: 0 0 10px 0; font-size: 20px; color: #222222; font-weight: 500; letter-spacing: -0.44px; }
.banner-div .banner-content-div .select-div { padding: 20px 0; margin: 0; position: relative; width: 50%; clear: both; }
.banner-div .banner-content-div .select-div .form-group-select { padding: 0; margin: 0; position: relative; width: 100%; float: left; background-color: #fff; border: 1px solid #000; border-radius: 4px; box-shadow: 0px 5px 10px 0px #00000012; }
.banner-div .banner-content-div .select-div .form-group-select p { margin: 0; position: relative; width: 30%; float: left; display: inline-block; height: 50px; line-height: 50px; padding: 0 0px 0 20px; font-size: 18px; font-weight: 400;color: #767676; }
.banner-div .banner-content-div .select-div select.form-control:not([size]):not([multiple]) { height: 49px; margin: 1px 0 0px 0; background-color: #ffffff; border: 1px solid transparent; color: #555555; display: block; width: 70%; -webkit-appearance: none; background: #fff; position: relative; font-weight: 500; }
.banner-div .banner-content-div .select-div select.form-control:hover, .banner-div .banner-content-div .select-div select.form-control:focus{ box-shadow: none; outline: none; }
.banner-div .banner-content-div .select-div span.arrow { position: absolute; top: 23px; right: 27px; width: 0; height: 0; border-style: solid; border-color: #000000 transparent transparent transparent; border-width: 5px; z-index: 5; pointer-events: none; color: #808080; }
.banner-div .banner-content-div .banner-bottom{ padding: 0; margin: 0; }
.banner-div .banner-content-div .banner-bottom p{ padding: 10px 0; margin: 0 0 10px 0; font-size: 22px; color: #222222; font-weight: 400; letter-spacing: -0.44px; line-height: 31px; }
.banner-div .banner-content-div .banner-bottom .link-signup{ color: #056FB9; }
.banner-div .banner-content-div .banner-bottom .link-signup:hover{ color: #0089E8; }

/* trust & searching section */

.trust-section{ padding: 0; margin: 0; }
.trust-section .trust-div{ padding: 100px 0 0 0; margin: 0; }

.grid-row-div { padding: 0; margin: 0; float: left; display: flex; align-items: center; width: 100%; }
.grid-row-div .grid-50{ padding: 0; margin: 0; width: 50%; float: left; }
.justify-align-center{ display: flex; justify-content: center; }

.content-div{ padding: 0; margin: 0;  }
.content-div h2 { padding: 0; margin: 0 0 15px 0; font-size: 34px; color: #222222; font-weight: 400; letter-spacing: -0.44px; line-height: 50px; }
.content-div p { padding: 0; margin: 0 0 15px 0; font-size: 24px; color: #666666cc; font-weight: 400; letter-spacing: -0.44px; line-height: 40px;  }
.content-div .prag-content-div{ max-width: 480px; padding: 10px 0; }

.searching-section{ padding: 0; margin: 0; }
.searching-section .searching-div{ padding: 100px 0 100px 0; margin: 0; }
.searching-div .content-div p { margin: 0 0 30px 0; font-size: 18px; line-height: 30px; }
.searching-div .content-div h2 { margin: 0 0 30px 0; }


.rotation-div { padding: 0; margin: 0; position: relative; min-height: 500px; max-width: 100%; margin: 0px auto; text-align: center; display: flex; align-items: center; justify-content: center; border-radius: 0; }
.rotation-div .img-box { padding: 0; margin: 0; position: absolute; display: flex; align-items: center; flex-direction: column; }
.rotation-div .img-box .img-thumb-rotate { height: 126px; width: 126px; display: flex; align-items: center; justify-content: center; background-color: #FAFAFA; border: 8px solid #fff; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16); border-radius: 100%; margin: 0 0 0px 0; }
.rotation-div .img-box .content-p p { padding: 0; margin: 0; font-size: 18px; line-height: 50px; letter-spacing: -0.44px; }
.rotation-div .img-box1{ top: 0; left: 0; }
.rotation-div .img-box2{ top: 0; right: 0; }
.rotation-div .img-box3{ bottom: 0; left: 0; }
.rotation-div .img-box4{ bottom: 0; right: 0; } 

   /* pluse effect */

   .border-height { position: absolute; top: 0; width: 100%; max-width: 500px; border: 1px solid #eee; height: 100%; border-radius: 100%; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center; }

  .pulse-icon{ position: relative; display: inline-block; transform: scale(1.4); }
  .pulse-icon .icon-wrap { position: relative; width: 60px; height: 60px; text-align: center; display: inline-block; border-radius: 50%; color: #6A1B9A; position: relative; z-index: 2; transform: scale(3);border: 10px solid rgba(244, 244, 244, 0.31); }
  .pulse-icon .icon{ line-height: 60px; font-size: 1.75em; animation: grow-shrink 4s ease-out infinite; }
  
  .pulse-icon .elements{ position: absolute; top: 0px; left: 0px; z-index: 1; }
  .pulse-icon .circle{ border-radius: 50%; position: absolute; }
  .pulse-icon .pulse{ position: absolute; animation: pulse-wave 5s linear infinite both; border-radius: 50%; }
  .pulse-icon .pulse-1{ border: solid 1px rgba(0, 0, 0, 0.15); width: 200px; height: 200px; top: -70px; left: -70px; transform: scale(1.1); }
  .pulse-icon .pulse-2{ border: solid 1px rgba(0,0,0,0.15); width: 300px; height: 300px; top: -120px; left: -120px; transform: scale(1.1); }
  .pulse-icon .pulse-3{ border: solid 1px rgba(0,0,0,0.15); width: 400px; height: 400px; top: -170px; left: -170px; transform: scale(1.1); }
  
  .img-gradient{ width: 100%; }
  
  @keyframes pulse-wave{
    0%{ opacity: 0; transform: scale(0.1); }
    50%{ opacity: 1; transform: scale(0.5); }
    100%{ opacity: 0; transform: scale(1.0); }
  }
  @keyframes grow-circles{
    0%{ opacity: 0.85; transform: scale(1.0); }
    15%{ opacity: 1; transform: scale(1.05); }
    30%{ opacity: 0.85; transform: scale(1.0); }
  }
  @keyframes grow-shrink{
    0%{ transform: scale(1); }
    15%{ transform: scale(1.1); }
    30%{ transform: scale(1); }
  }

/* end of effect  */

.btn.btn-searching { height: 52px; background-color: #0089E8; color: #fff; border-radius: 4px; border: 1px solid #0089E8; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); transition: all 0.3s ease-in-out; font-size: 18px; font-weight: 400; min-width: 220px; line-height: 38px; }
.btn.btn-searching:hover, .btn.btn-searching:focus { background-color: #0053C4; border: 1px solid #0053C4; }

/* end of trust & searching section */

/* Why Bixex */

.why-bixex-section{ padding: 0; margin: 0;  position: relative;  }
.why-bixex-section .why-bixex-div{ padding: 100px 0 100px 0; margin: 0; background-color: #F3FAFF; }
.why-bixex-section .why-bixex-div .container{ max-width: 1200px; }

.why-bixex-div .heading-row-div{ padding: 0; margin: 0; }
.why-bixex-div .heading-row-div h2 { padding: 0; margin: 0 0 75px 0; font-size: 34px; color: #222222; font-weight: 400; letter-spacing: -0.44px; line-height: 50px; text-align: center; }

.why-bixex-div .card-box { padding: 30px; margin: 0; float: left; width: 100%; display: block; background-color: #fff; min-height: 500px; border: 1px solid #F6F7FB; border-radius: 4px; transition: all 0.3s ease-in-out;  }
.why-bixex-div .card-box:hover{ box-shadow: 0 2px 20px 0 rgba(0, 137, 232, 0.05); }
.why-bixex-div .card-box .icon-thumb{ padding: 40px 0 30px 0; margin: 0 auto; }
.why-bixex-div .card-box .icon-thumb .img-center{ padding: 0; margin: 0 auto; text-align: center; }
.why-bixex-div .card-box .card-content-div{ padding: 0; margin: 0 auto; text-align: center; }
.why-bixex-div .card-box .card-content-div h3 { padding: 0; margin: 0 0 20px 0; font-size: 24px; color: #222222; font-weight: 600; letter-spacing: -0.44px; line-height: 36px; display: block; }.card-box .card-content-div p { padding: 0; margin: 0 0 20px 0; letter-spacing: -0.44px; font-size: 18px; line-height: 30px; display: block; color: #666666cc; font-weight: 400; }
.why-bixex-div .card-box .card-content-div p { padding: 0; margin: 0 0 20px 0; letter-spacing: -0.44px; font-size: 18px; line-height: 34px; display: block; color: #666666; font-weight: 400; }

.grid-row-card-div{ margin: 0 -12px 0 0; padding: 0; }
.grid-row-card-div .grid-33 { padding: 0px 12px 0 0; width: 33.3%; float: left; }

/* End of Why Bixex */

/* simple secure */

.simple-secure-section{ padding: 0; margin: 0;  position: relative; }
.simple-secure-section .simple-secure-div{ padding: 100px 0 0 0; margin: 0; }
.simple-secure-section .simple-secure-div::after { content: ""; width: 100%; height: 400px; background-image: linear-gradient(#ffffff00, #fff); position: absolute; bottom: 0; }
.simple-secure-section .simple-secure-div .container{ max-width: 1200px; }
.simple-secure-div .heading-row-div{ padding: 0; margin: 0; width: 100%; }
.simple-secure-div .heading-row-div h2 { padding: 0; margin: 0 0 0px 0; font-size: 34px; color: #222222; font-weight: 400; letter-spacing: -0.44px; line-height: 50px; text-align: center; }
.simple-secure-div .grid-100 { padding: 0px 0px 0 0; width: 100%; float: left; }

/* end of simple secure */

/* Inside Bixex */

.inside-bixex-section{ padding: 0; margin: 0;  position: relative;  }
.inside-bixex-section .inside-bixex-div{ padding: 0 0 0px 0; margin: 0; background-color: rgba(250, 250, 250, 0.39); }
.inside-bixex-div .grid-row-div01 { padding: 0; margin: 0; float: left; display: flex;  width: 100%; align-self: stretch!important; height: 100%; }
.inside-bixex-div .grid-row-div01 .left-40 { padding:0px 0 0px 0; margin: 0; width: 40%; float: left; background-color: #FAFAFA; display: flex; align-items: flex-start; justify-content: flex-end;  height: 100%; }
.inside-bixex-div .grid-row-div01 .right-60 { padding:0px 0 0px 0; margin: 0; width: 60%; float: left; display: flex; align-items: flex-start; justify-content: flex-end;  height: 100%; }

.inside-bixex-div .p0-inside{ padding: 0 0 0 0; }
.inside-bixex-div .inside-content-div { padding: 150px 0; margin: 0; float: right; max-width: 460px; width: 100%; }
.inside-bixex-div .inside-content-div h2 { padding: 0; margin: 0 0 10px 0; font-size: 46px; color: #222222; font-weight: 500; letter-spacing: -0.44px; line-height: 50px; text-align: left; float: left; width: 100%; }
.inside-bixex-div .inside-content-div .inside-logo-content-div { padding: 35px; margin: 0 0 160px 0; background-color: #FFFFFF; float: left; width: 100%; }
.inside-bixex-div .btn-row-div-connect{ padding: 0; margin: 0; float: left; }
.inside-bixex-div .btn.sign-up-connect { padding: 0; margin: 0 0 10px 0; font-size: 30px; color: #666666; font-weight: 500; letter-spacing: -0.44px; line-height: 40px; display: flex; align-items: center; }
.inside-bixex-div .btn-row-div-connect .btn-txt-span { padding-right: 40px; }
.inside-bixex-div .btn-row-div-connect .arrow-right { font-size: 21px; }
.inside-bixex-div .btn.sign-up-connect:hover{ color: #0089E8; }
.inside-bixex-div .btn-row-div-connect:hover .arrow-right{ color: #0089E8; }
.inside-bixex-div .max-width480 { max-width: 90%; }
.inside-bixex-div .inside-tabs-content-div{ padding: 150px 80px; margin: 0; width: 100%; }

.btn.btn-white { color: #666666; padding: 20px 55px; margin: 0 20px 20px 0; font-weight: 400; font-size: 28px; line-height: 40px; letter-spacing: -0.44px; border: 1px solid #707070; height: 80px; background-color: #fff; border-radius: 20px; transition: all 0.3s ease-in-out; }
.btn.btn-white:hover{     border: 1px solid #0089E8; background-color: #E7F2FF; color: #0089E8; }

.btn.btn-account { height: 52px; background-color: #0089E8; color: #fff; border-radius: 4px; border: 1px solid #0089E8; box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); transition: all 0.3s ease-in-out; font-size: 18px; font-weight: 400; min-width: 250px; line-height: 38px; float: right; }
.btn.btn-account:hover{ background-color: #0053C4; border: 1px solid #0053C4; }



/* End of Inside Bixex */

/*  footer  */

.footer-div{ padding: 100px 0 0 0; margin: 0; }
.footer-div .create-account-box {  padding: 40px 60px;  margin: 0 0 100px 0;  background-color: #fff;  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.05);  border-radius: 4px;  border: 1px solid #F6F7FB;  clear: both;  float: left;  width: 100%; display: flex; align-items: flex-end; }
.footer-div .create-account-box h3 { padding: 0; margin: 0 0 0px 0; letter-spacing: -0.44px; font-size: 24px; line-height: 40px; display: block; color: #0089E8; font-weight: 500; }
.footer-div .create-account-box p { padding: 0; margin: 0 0 0px 0; letter-spacing: -0.44px; font-size: 24px; line-height: 40px; display: block; color: #666666; font-weight: 400; }
.footer-div .create-account-box .leftside-box { padding: 0; margin: 0; float: left; width: 70%; }
.footer-div .create-account-box .rightside-box { padding: 0; margin: 0; float: right; width: 30%; }

.footer-div .grid-row-card-div { position: relative; float: left; width: 100%; padding: 0 0 100px 0;  }
.footer-div .grid-row-card-div .grid-60 { padding: 0px 12px 0 0; width: 60%; float: left; }
.footer-div .grid-row-card-div .grid-40 { padding: 0px 12px 0 0; width: 40%; float: left; }
.footer-div .grid-row-card-div .content-footer-div { float: left; max-width: 350px; }
.footer-div .grid-row-card-div .content-footer-div p { padding: 0; margin: 0 0 20px 0; letter-spacing: -0.44px; font-size: 20px; line-height: 37px; display: block; color: #555555; font-weight: 400; }

.footer-div .grid-row-card-div .social-row { padding: 0; margin: 20px 0 0px 0; float: left; width: 100%; }
.footer-div .grid-row-card-div .social-row ul{ float: left; width: 100%;  }
.footer-div .grid-row-card-div .social-row ul li { float: left; margin: 0 20px 0 0; }
.btn.btn-social-round { height: 35px; width: 35px; float: left; color: #666; border: 1px solid #6666; text-align: center; padding: 0; line-height: 35px; border-radius: 100%; }
.btn.btn-social-round:hover{ background-color: #666; color: #fff; }

.footer-div .login-signup-row { padding: 0; margin: 10px 0 0 0; float: left; width: 100%; }
.footer-div .login-signup-row .btn.btn-grey { padding: 0; margin: 0; color: #555555; line-height: 35px; vertical-align: top; }
.footer-div .login-signup-row .slash-span { font-size: 30px; line-height: 37px; color: #5454544d; }

.footer-ul-div{  padding: 0; margin: 0;  float: left; width: 100%; }
.footer-ul-div ul.ul-50{  padding: 0; margin: 0;  float: left; width: 50%; }
.footer-ul-div ul.ul-50 li{  padding: 0; margin: 0;  float: left; width: 100%; }
.footer-ul-div ul.ul-50 li .footer-link { padding: 0; margin: 0; float: left; width: 100%; letter-spacing: -0.44px; font-size: 20px; line-height: 39px; display: block; color: #55555599; font-weight: 400; }
.footer-ul-div ul.ul-50 li .footer-link:hover{ color: #0089E8; }

.bottom-row-div { padding: 20px 0 0 0; margin: 0; float: left; width: 100%; border-top: 1px solid rgba(112, 112, 112, 0.2); }
.bottom-row-div p{ padding: 0; margin: 0 0 20px 0; letter-spacing: -0.44px; font-size: 20px; line-height: 37px; display: block; color: #555555; font-weight: 400; }

/* End of footer  */

/* ::-webkit-scrollbar { background-color:#fff; width:18px }
::-webkit-scrollbar-track {  background-color:#fff }
::-webkit-scrollbar-thumb { background-color:#0089E8; border-radius:100px; border:1px solid #fff; }
::-webkit-scrollbar-button { display:none; } */

.return-to-top { position: fixed; bottom: 25px; right: 25px; background: #0089E8; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.display_show{ display: block; }
.return-to-top i { color: #fff; margin: 0; position: relative; left: 16px; top: 15px; font-size: 19px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }
.return-to-top:hover { background: #056FB9; }
.return-to-top:hover i { color: #fff; }




/* inner pages */

.inner-page {padding-top: 0px; background-color: #fafafa; }

.inner-page-header { background-color: #f5faff; padding: 50px 0 100px 0;}
.inner-page-header .page-title h1 {font-size: 34px;font-weight: 500;text-align: center;margin-bottom: 20px;}
.inner-page-header .page-title p {text-align: center;font-size: 16px;color: #666666;font-style: normal;font-weight: 400;margin-bottom: 15px;}

.inner-page-section {}

.inner-page-content {position: relative;top: -40px; border: 1px solid #F6F7FB; padding: 50px;background-color: #ffffff;box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.05);}
.inner-page-contecnt-div h4 { padding: 0 0 10px 0; display: inline-block; position: relative; color: #555555; font-weight: 500; margin-bottom: 10px; font-size: 18px; border-bottom: 0;}
.inner-page-contecnt-div h4:before {position: absolute; content: ''; width: 100%;border-bottom: 3px solid #0089e8; bottom: -3px; border-radius: 100px;}
.inner-page-contecnt-div h4 span {margin-right: 5px;}

.inner-page-contecnt-div h6 {font-size: 16px;font-weight: 500;color: #222222; margin-top: 10px;}
.inner-page-contecnt-div h6 span {margin-right: 5px;}
.inner-page-contecnt-div p {font-size: 14px; line-height: 26px; color: #707070;}
.inner-page-contecnt-div p strong {font-weight: 600;}
.inner-page-contecnt-div p a {color: #707070;}

.inner-page-contecnt-div ul li a {color: #707070;}
.inner-page-contecnt-div ul li { display: block; color: #707070; font-size: 14px; line-height: 26px; position: relative; padding-left: 30px;}
.inner-page-contecnt-div ul li::before {content: '\f058';position: absolute;font-family: "Font Awesome 5 free"; font-weight: 900;color: #0089e8;left: 5px;top: 0;}


.address p {font-style: italic; margin-bottom: 5px;}

/* endd inner pages */



@media only screen and (min-width: 1300px){
    .landing-page .container{ max-width: 1350px; }
}


@media only screen and (max-width: 767px){

    .landing-page .container { max-width: 100%; }
    .banner-div .banner-content-div{ width: 100%; }
    .banner-section .banner-div{ background-size: 95%; align-items: flex-start; padding-top: 25%; }
    .banner-div .banner-content-div .select-div { width: 100%; }
    .banner-div .banner-content-div .select-div select.form-control:not([size]):not([multiple]){ width: calc( 100% - 105px); font-size: 16px; }
    .banner-div .banner-content-div .select-div .form-group-select p { width: 105px; font-size: 16px; padding: 0 0 0 15px; }
    .banner-div .banner-content-div p{ font-size: 16px; }
    .banner-div .banner-content-div h1 { font-size: 24px; line-height: 36px; }
    .banner-div .banner-content-div h1 .span-block{ display: inline-block; float: left; }
    .banner-div .banner-content-div .banner-bottom p{ font-size: 18px; line-height: 24px; padding: 5px 0; }


    /*  trust  */

    .grid-row-div { display: block; width: 100%; }
    .grid-row-div .grid-50{ display: block; width: 100%; }
    .content-div h2 { font-size: 24px; line-height: 36px; }
    .content-div p { font-size: 16px; line-height: 24px; }
    .searching-div .content-div p{ font-size: 16px; line-height: 24px; }
    .searching-section .searching-div{ padding: 80px 0 80px 0; }
    .searching-section .searching-div .grid-row-div .grid-50.right-50 .img-thumb{ padding: 40px 0 40px 0; }
    
    .btn.btn-searching { height: 46px; font-size: 16px; line-height: 32px; }

    .grid-row-card-div{ margin: 00 0 0 0; }
    .grid-row-card-div .grid-33 { padding: 0px 0px 0 0; width: 100%; margin: 0 0 20px 0; }
    .why-bixex-div .card-box { padding: 15px; width: 100%; min-height: 100%; }
    
    .why-bixex-section .why-bixex-div{ padding: 80px 0 80px 0; }
    .why-bixex-div .heading-row-div h2 { margin: 0 0 55px 0; font-size: 24px; line-height: 40px; }
    .why-bixex-div .card-box .card-content-div h3{ font-size: 21px; line-height: 36px; margin: 0 0 10px 0; }
    .why-bixex-div .card-box .card-content-div p { margin: 0 0 20px 0; font-size: 16px; line-height: 28px; }

    .simple-secure-div .heading-row-div h2{ font-size: 24px; line-height: 36px; margin: 0 0 30px 0; }
    .simple-secure-section .simple-secure-div::after { height: 200px; }

    .inside-bixex-div .grid-row-div01 { display: block; align-self: auto !important; height: auto; }
    .inside-bixex-div .grid-row-div01 .left-40{ width: 100%; display: block; padding: 0 15px; }
    .inside-bixex-div .inside-content-div{ padding: 80px 0 50px 0; max-width: 100%; }
    .inside-bixex-div .inside-content-div h2{ font-size: 24px; line-height: 36px; margin: 0 0 30px 0; }
    .inside-bixex-div .inside-content-div .inside-logo-content-div { padding: 20px; margin: 0 0 30px 0; }
    
    .inside-bixex-div .btn-row-div-connect .btn-txt-span{ padding-right: 10px; }
    .inside-bixex-div .btn.sign-up-connect{ font-size: 18px; line-height: 32px; }
    .inside-bixex-div .btn-row-div-connect .arrow-right{ font-size: 16px; }
    .inside-bixex-div .grid-row-div01 .right-60 { width: 100%; height: auto; display: block; }
    .inside-bixex-div .inside-tabs-content-div { padding: 0px 15px 80px 15px ; }
    .inside-bixex-div .max-width480 { max-width: 100%; }
    .btn.btn-white { padding: 10px 15px; margin: 0 10px 10px 0; font-size: 18px; line-height: 28px; height: 50px; border-radius: 20px; }
    
    .footer-div .create-account-box { padding: 40px 20px; margin: 00 0 60px 0;  display: block; }
    .footer-div .create-account-box .leftside-box{ width: 100%; margin: 0 0 30px 0; }
    .footer-div .create-account-box h3{ font-size: 18px; line-height: 28px; margin: 0 0 10px 0; }
    .footer-div .create-account-box p{ font-size: 18px; line-height: 28px; }
    .footer-div .create-account-box .rightside-box{ width: 100%; }
    .btn.btn-account { height: 46px; font-size: 16px; line-height: 32px; width: 100%; }

    .footer-div .grid-row-card-div .grid-60{ padding: 0 0 0 0; width: 100%; }
    .footer-div .grid-row-card-div .grid-40{ padding: 0 0 0 0; width: 100%; }
    .footer-div .grid-row-card-div .content-footer-div{ max-width: 100%; }
    .footer-div .grid-row-card-div .content-footer-div p { font-size: 16px; line-height: 32px; display: block; }
    .footer-ul-div ul.ul-50 li .footer-link { font-size: 14px; line-height: 28px; display: block; }
    .footer-div .grid-row-card-div{ padding: 0 0 50px 0; }
    .bottom-row-div p { font-size: 14px; line-height: 28px; }

    .return-to-top { bottom: 10px; right: 10px; }

    
  /* strat inner pages */
    .inner-page-content {padding: 50px 15px}
  /* end inner pages */

}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .landing-page .container { max-width: 100%; }
    .banner-div .banner-content-div .select-div { width: 70%; }
    .banner-div .banner-content-div .select-div .form-group-select p{ width: 34%; }
    .banner-div .banner-content-div .select-div select.form-control:not([size]):not([multiple]){ width: 66%; }
    .banner-section .banner-div{ background-size: 65%;     min-height: calc( 100vh - 150px ); }

    /*  trust  */

    .content-div { padding: 0 15px; }  
    .content-div h2 { font-size: 24px; line-height: 36px; margin: 0 0 20px 0; }
    .content-div p { font-size: 16px; line-height: 24px; }
    .searching-div .content-div p{ font-size: 16px; line-height: 24px; }

    .why-bixex-div .card-box { padding: 15px 10px;    min-height: 400px; }
    .grid-row-card-div .grid-33{ padding: 0px 5px 0 0; }
    .grid-row-card-div{ margin: 0 -5px 0 0; }
    
    .why-bixex-div .card-box .card-content-div h3{     font-size: 18px; line-height: 28px; }
    .why-bixex-div .card-box .card-content-div p{     font-size: 16px; line-height: 24px; }
    .why-bixex-div .card-box .icon-thumb { padding: 20px 0 30px 0; }
    .why-bixex-div .card-box .icon-thumb .img-center .img-fluid{ width: 80px; }

    .simple-secure-div .heading-row-div h2 { margin: 0 0 30px 0; font-size: 24px; line-height: 40px; }

    .inside-bixex-div .inside-content-div { padding: 80px 0; }
    .inside-bixex-div .grid-row-div01 .left-40{ padding: 0 15px; }
    .inside-bixex-div .inside-content-div{ padding: 80px 0 50px 0; max-width: 100%; }
    .inside-bixex-div .inside-content-div h2{ font-size: 24px; line-height: 36px; margin: 0 0 30px 0; }
    .inside-bixex-div .inside-content-div .inside-logo-content-div { padding: 20px; margin: 0 0 30px 0; }
    
    .inside-bixex-div .btn-row-div-connect .btn-txt-span{ padding-right: 10px; }
    .inside-bixex-div .btn.sign-up-connect{ font-size: 18px; line-height: 32px; }
    .inside-bixex-div .btn-row-div-connect .arrow-right{ font-size: 16px; }
    .inside-bixex-div .inside-tabs-content-div { padding: 80px 15px 80px 15px ; }
    .inside-bixex-div .max-width480 { max-width: 100%; }
    .btn.btn-white { padding: 10px 15px; margin: 0 10px 10px 0; font-size: 18px; line-height: 28px; height: 50px; border-radius: 20px; }

    .footer-div .create-account-box { padding: 30px 20px 34px 30px; margin: 0 0 80px 0;}
    .footer-div .create-account-box .leftside-box{ margin: 0 0 0px 0;  }
    .footer-div .create-account-box h3{ font-size: 18px; line-height: 28px; margin: 0 0 10px 0; }
    .footer-div .create-account-box p{ font-size: 18px; line-height: 28px; }
    .btn.btn-account { height: 46px; font-size: 16px; line-height: 32px;  }

    .footer-div .grid-row-card-div .grid-60{ padding: 0 0 0 0; width: 50%; }
    .footer-div .grid-row-card-div .grid-40{ padding: 0 0 0 0; width: 50%; }
    .footer-div .grid-row-card-div .content-footer-div{ max-width: 90%; }
    .footer-div .grid-row-card-div .content-footer-div p { font-size: 16px; line-height: 32px; display: block; }
    .footer-ul-div ul.ul-50 li .footer-link { font-size: 14px; line-height: 28px; display: block; }
    .footer-div .grid-row-card-div{ padding: 0 0 50px 0; }
    .bottom-row-div p { font-size: 14px; line-height: 28px; }
    .footer-div .grid-row-card-div .social-row ul li {  margin: 0 10px 0 0; }

    .return-to-top { bottom: 10px; right: 10px; }

}   

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
}

@media (max-width: 360px) and (max-height: 580px){  

    .banner-section .banner-div{ background-size: 95%; padding-top: 0px; }
    .banner-div .banner-content-div .select-div{ padding: 10px 0; }

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

    .landing-page .container { max-width: 1050px; }
    .banner-div .banner-content-div .select-div { width: 60%; }
    .inside-bixex-div .inside-content-div { padding: 100px 0; max-width: 360px; }
    .inside-bixex-div .inside-tabs-content-div{ padding: 100px 60px; }
    .inside-bixex-div .inside-content-div .inside-logo-content-div { margin: 0 0 150px 0;  }

}

@media only screen and ( min-height: 375px) and ( max-width: 812px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {

    .banner-section .banner-div{ background-size: 45%; padding-top: 0px; }
    .banner-div .banner-content-div .select-div{ padding: 10px 0; width: 50%; }


}