.modal-open .modal {background-color:rgba(0, 0, 0, .4);}


/* Pop-welcome */
.modal.right_custom .modal-dialog  {max-width: 730px ; width: 730px ;}

.bg-modal-welcome {background-image: url("../images/bg-pop-up-welcome.svg"); background-repeat: no-repeat;min-height: 381px; padding: 0 !important; background-size: 100%;}
.img-checked{margin: 0 0 30px 0;}
.img-checked img {height: 85px; width: 85px;}
.pop-welcome { margin:90px 20px 0 20px; padding: 0 70px; display: flex; justify-content: center; align-items: center; flex-direction: column;align-content: center;align-items: center; }
.pop-welcome h3 {color: #0089E8; font-weight: 600; margin-bottom: 30px; line-height: 28px; font-size: 24px; letter-spacing: -0.10px;}
.pop-welcome p {color: #666666; font-weight: 400; font-size: 20px; margin-bottom: 0; text-align: center; line-height: 28px;}
.pop-welcome p span{color: #222222; font-weight: 500;}


/* back to home */

.pop-welcome .btn-div {margin: 60px 0; display: block; }
.pop-welcome .btn-resend {  background-color: #0089E8;  color: #fff;  line-height: 24px;  border: 1px solid #0089E8;  padding: 12px 65px;  font-size: 18px;  min-width: 240px;  height: 50px; }
.pop-welcome .btn-resend:hover { background-color: #0053C4; border: 1px solid #0053C4;}
.pop-welcome-footer {border-top: 1px solid rgba(120, 120, 120, .2); margin: 0 20px; padding: 30px 0; display: flex; justify-content: center;}
.pop-welcome-footer p {font-size: 16px; margin-bottom: 0;color:  #666666; line-height: 20px; text-align: center;}


.btn-back-row { display: block; text-align: center; padding: 0px 10px 0 0px; float: left; }
.btn.btn-goback{ background-color: #E7F2FF; color: #0089E8; line-height: 24px;  border: 1px solid #0089E8;  padding: 12px 65px;  font-size: 18px;  min-width: 240px;  height: 50px; }
.btn.btn-goback:hover, .btn.btn-goback:focus{ background-color: #D2E8F7; }
.selectbox {background-color: #fff; padding: 15px 0 15px 30px; border-radius: 10px; display: flex; justify-content: space-between; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.08);  }

/* End */

.width45 {width: 45%;}
.selectbox {margin-bottom: 8px;}
.selectbox .radio-box { width: 70%; background-color: #FAFAFA; border-top-left-radius: 4px; border-bottom-left-radius: 4px; margin: 10px 0;
    display: flex; align-content: center; align-items: center; justify-content: space-between; flex-direction: row;padding: 0 0 0 0;}
.selectbox .radio-box .radiolist_root {width: 100%;}
.selectbox .radiolist_root .checklist {width: 100%;}
.selectbox .radiolist_root .checklist label {width: 100%; text-align: left; color: #222222; padding: 20px 65px 20px 30px; font-size: 16px; margin-bottom: 0; line-height: 18px; z-index: 10;}
.selectbox .img-box {display: flex; width: 75px;}
.selectbox .img-box img {width: 100%;}

.selectbox.active .radiolist_root .checklist label {color: #0089E8; }
.selectbox.active .radiolist_root .checklist .form-radio:checked {background-color: #0089E8; border: 2px solid #0089E8}
.selectbox.active .radiolist_root .checklist .form-radio:checked::before {color: #0089E8;}
/* .selectbox .radiolist_root .checklist .form-radio {top: 19px; position: absolute; left: 15px;} */
.selectbox .radiolist_root .checklist {display: flex; align-items: center;}
.selectbox .radiolist_root .checklist {position: relative;}


.selectbox:hover .radiolist_root .checklist label {color: #0089E8; }
.selectbox:hover .radiolist_root .checklist .form-radio:checked {background-color: #0089E8; border: 2px solid #0089E8}
.selectbox:hover .radiolist_root .checklist .form-radio:checked::before {color: #0089E8;}


.selectbox.active .img-box .img-block {display: block;}
.selectbox.active .img-box .img-none {display: none;}
.selectbox.active .radio-box {background-color: #F5FAFF;}
.selectbox .img-box .img-none {display: block;}
.selectbox .img-box .img-block {display: none;}
.about-you .about-you-inner {margin-bottom: 20px;}
.radio-parent {height: 100%;display: flex; align-items: center; justify-content: center; position: absolute; left: 15px; padding-bottom: 10px; z-index: 1;}


@media only screen and (max-width: 767px){

     /* Pop-welcome */
    .pop-welcome {padding: 0;}
    .modal.right_custom .modal-dialog {max-width: auto !important; width: auto !important; margin: 100px 10px 50px 10px;}
    .pop-welcome .btn-div {margin: 20px 0 30px 0;}
    .pop-welcome h3 {font-size: 20px; margin-bottom: 15px;}
    .pop-welcome p {font-size: 14px; line-height: 24px;}
    .pop-welcome .btn-resend {padding: 8px 40px; font-size: 14px; line-height: 18px;}

    .pop-welcome-footer {padding: 15px 0 20px 0;}
    .pop-welcome-footer p {font-size: 12px;}
    .selectbox .radiolist_root .checklist label {font-size: 14px; width: 100%; padding: 20px 20px 20px 20px;}

    .width45 {width: 100%;}

    /* End */

    /* back to home */

    .pop-welcome .btn-resend { padding: 8px 40px; font-size: 14px; line-height: 18px; height: 40px; width: 100%; line-height: 24px; margin: 0 0 10px 0; }
    .btn-back-row{ width: 100%; padding: 0 0 0 0; }
    .pop-welcome .btn.btn-goback{ padding: 8px 40px; font-size: 14px; line-height: 18px; height: 40px; width: 100%; line-height: 24px; margin: 0 0 10px 0; }
    
    /* end of back to home */

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .width45 {width: 50%;}
	
	.selectbox .radiolist_root .checklist label {font-size: 14px; width: 100%; padding: 20px 20px 20px 20px;}

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .width45 {width: 50%;}
}   


@media only screen and (height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
    .width45 {width: 65%;}
}

