.step-forms-root-div{ padding: 0; margin: 0; }
.step-forms-root-div .step-tab-header{ padding: 0; margin: 0 -85px; }
.step-forms-root-div .step-tab-header .custom-pills { margin-bottom: 30px; overflow: hidden; }
.step-forms-root-div .step-tab-header .custom-pills { min-height: 60px; overflow: hidden; text-align: center; }
.step-forms-root-div .step-tab-header .custom-pills li { list-style-type: none; color: #57D48F; font-size: 14px; width: 25%; float: left; position: relative;  }
.step-forms-root-div .step-tab-header .custom-pills li:before { content: " "; width: 11px; height: 11px; line-height: 11px; display: block; font-size: 12px; color: #fff; background: #A2A2A2; border-radius: 25px; margin: 0 auto 10px auto; z-index: 3; border: 2px solid #d7d7d7; position: relative; background-clip: padding-box; }
.step-forms-root-div .step-tab-header .custom-pills li:after {  content: " ";  width: 100%;  height: 1px;  background: rgba(185, 185, 185, 0.52);  position: absolute;  left: -50%;  top: 5px;  z-index: 2; }
.step-forms-root-div .step-tab-header .custom-pills li:first-child:after { content: none; }
.step-forms-root-div .step-tab-header .custom-pills li.active::before, .step-forms-root-div .step-tab-header .custom-pills li.active::after { background: #57D48F; color: white; background-clip: padding-box; }
.step-forms-root-div .step-tab-header .custom-pills li.visited::before, .step-forms-root-div .step-tab-header .custom-pills li.visited::after { background: #57D48F; color: white; background-clip: padding-box;}
.step-forms-root-div .step-tab-header .custom-pills li a{ color: #A2A2A2; font-weight: 500;  padding: 5px 0; border-bottom: 1px solid transparent; }
.step-forms-root-div .step-tab-header .custom-pills li.active a { color: #0089E8; border-bottom: 1px solid #0089E8; }
.step-forms-root-div .step-tab-header .custom-pills li.visited a { color: #0089E8; border-bottom: 1px solid #0089E8; }

.step-forms-root-div .step-forms-tab{ padding: 0; margin: 0; float: left; width: 100%; }
.step-forms-root-div .step-forms-tab .tab-forms{ padding: 0; margin: 0; float: left; width: 100%; }

.form-full-div{ width: 100%; float: left; }
.form-full-div .width100-row{ padding: 0; margin: 0 -10px; }
.form-full-div .width100.card3-100{ padding: 0 0; }
.form-full-div .width25 { width: 25%; float: left; padding: 0 10px; }
.form-full-div .width33 { width: 33.3%; float: left; padding: 0 10px; }
.form-full-div .width50 { width: 50%; float: left; padding: 0 10px; }
.form-full-div .width75 { width: 75%; float: left; padding: 0 10px; }
.form-full-div .width100 { width: 100%; float: left; padding: 0 10px; }

.row-100-select{ width: 100%;  float: left; clear: both; border: 1px solid #00000052; border-radius: 4px; }
.row-100-select select.form-control { border: transparent !important; height: 34px !important; border-right: 1px solid #66666633 !important; border-radius: 0px; margin: 7px 0 0 0; }
.row-100-select .form-control.inputbox-text{ border:1px solid transparent;     height: 48px; }
.row-100-select .form-control.inputbox-text:focus{ border:1px solid transparent; box-shadow: none; background-color: transparent; }

.form-full-div .width-file1{ width: 210px; }
.form-full-div .width-file2 { width: calc(100% - 210px); }

.form-full-div .width-file2 .input-box-effect{ margin: 0 0 10px 0; }
.full-div .width100.product-div100 { padding: 0 0; transition: all 0.3s ease-in-out; }
.full-div .product-add-list-div{ padding: 0; margin: 0 0 20px 0; }
.full-div .product-add-list-div .product-ul{ padding: 0; margin: 0; }
.full-div .product-add-list-div .product-ul .btn.btn-add-list{ padding: 4px 35px 4px 15px; margin: 0 5px 5px 0; background-color: #E7F2FF; color: #0089E8; border-radius: 100px; font-size: 12px; line-height: 16px; float: left; }
.full-div .product-add-list-div .product-ul .btn.btn-add-list .cancel-icon{     font-size: 13px; line-height: 21px; position: absolute; right: 10px; top: 2px; }

.heading-info { padding: 20px 0 20px 0; margin: 0 0 5px 0; border-top: 1px solid #6666661a; }
.heading-info h5{ padding: 0; margin: 0 0 10px 0; font-size: 14px; color: #222;  font-weight: 500;}
.heading-info p { padding: 0; margin: 0 0 0px 0; color: #666666; font-size: 14px; }
.heading-info.edu-info h5 { margin: 0 0 0 0;}

.form-control::-webkit-input-placeholder { color: #00000099; font-size: 16px; font-weight: 400; letter-spacing: 0px; font-family: 'Work Sans', sans-serif !important; }
.form-control::-moz-placeholder { color: #00000099; font-size: 16px; font-weight: 400; letter-spacing: 0px; font-family: 'Work Sans', sans-serif !important; }
.form-control:-ms-input-placeholder { color: #00000099; font-size: 16px; font-weight: 400; letter-spacing: 0px; font-family: 'Work Sans', sans-serif !important; }
.form-control:-moz-placeholder { color: #00000099; font-size: 16px; font-weight: 400; letter-spacing: 0px; font-family: 'Work Sans', sans-serif !important; }

.form-input.gj-textbox-md{ font-family: 'Work Sans', sans-serif !important; letter-spacing: 0px;     border: 1px solid #00000052 !important; }

.input-box-effect select.form-control{  display: block; width: 100%; -webkit-appearance: none; background: #fff; position: relative; }
.input-box-effect span.arrow { position: absolute; top: 23px; right: 17px; width: 0; height: 0; border-style: solid; border-color: #808080 transparent transparent transparent; border-width: 5px; z-index: 5; pointer-events: none; color: #808080; }



/* added by aakhil */

.step-forms-root-div .step-tab-header {margin: 0;}
.step-forms-root-div .step-tab-header .custom-pills {display: flex;}
.step-forms-root-div .step-tab-header .custom-pills li { display: flex; justify-content: flex-end !important; align-items: center; flex-direction: column; width: 30%; }
.step-forms-root-div .step-tab-header .custom-pills li.first-child {display: flex;  justify-content: flex-start; align-items: flex-start; width: 20%;}
.step-forms-root-div .step-tab-header .custom-pills li.last-child {display: flex;  justify-content: flex-end; align-items: flex-end; width: 20%;}
.step-forms-root-div .step-tab-header .custom-pills li.first-child.active::before, .step-forms-root-div .step-tab-header .custom-pills li.first-child.visited::before {position: absolute; left: 0; top: 0;}
.step-forms-root-div .step-tab-header .custom-pills li.last-child::before {position: absolute; right: 0; top: 0;}

.step-forms-root-div .step-tab-header .custom-pills li a {display: inline-block; position: relative;}
.step-forms-root-div .step-tab-header .custom-pills li:after { width: 200%; left: -98%; }
.step-forms-root-div .step-tab-header .custom-pills li:before {top: -10px;}
.step-forms-root-div .step-tab-header .custom-pills li.active:after {width: 200%;left: -150%; height: 2px; } 
.step-forms-root-div .step-tab-header .custom-pills li.active.last-child:after { width: 200%; left: -100%; }
.step-forms-root-div .step-tab-header .custom-pills li.visited:after {width: 200%;left: -150%; height: 2px; } 
.step-forms-root-div .step-tab-header .custom-pills li.visited.last-child:after { width: 200%; left: -100%; }

.step-forms-root-div .step-tab-header.three-tab-header .custom-pills li {width: 33.3%; }
.step-forms-root-div .step-tab-header.three-tab-header .custom-pills li.first-child { width: 33.3%;}
.step-forms-root-div .step-tab-header.three-tab-header .custom-pills li.last-child { width: 33.3%;}


/*  end of aakhil css  */

@media only screen and (max-width: 767px){

    .step-forms-root-div .step-tab-header{ margin: 0 0px; }
    .step-forms-root-div .step-tab-header .custom-pills li{ width: 100%; margin: 0 0 20px 0; text-align: left; }
    .step-forms-root-div .step-tab-header .custom-pills li:before, .step-forms-root-div .step-tab-header .custom-pills li::after{ display: none; }
    .form-full-div .width50{ width: 100%; }

    .form-full-div .width33 { width: 100%; }
    .form-full-div .width-file1{ width: 100%; }
    .form-full-div .width-file2{ width: 100%; margin: 0 0 15px 0; }
    
    .btn.btn-skyblue{ width: 100%; }
    

    /* added by aakhil */

    .step-forms-root-div .step-tab-header .custom-pills li {width: 100% !important;display: flex; justify-content: flex-start !important; align-items: flex-start !important; flex-direction: column ;}

    /*  end of aakhil css  */


}   

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .step-forms-root-div .step-tab-header { margin: 0 0; }
    .right-form-div .common-form-div .form-body-div .full-div.form-full-div { display: block; }

    .row-100-select .width40 { width: 50%; }
    .row-100-select .width60 { width: 50%; }

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}

@media (max-width: 320px){

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    
    .step-forms-root-div .step-tab-header{ margin: 0 -20px; }

}